@font-face {
  font-family: "Roboto";
  src: url("../static/fonts/Roboto-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../static/fonts/Roboto-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto-Italic";
  src: url("../static/fonts/Roboto-Italic.ttf") format("ttf");
}
