<div role="main" class="container-fluid pnl-margin">
	<div class="panel panel-primary">
		<md-toolbar><div class="md-toolbar-tools">Event Information</div></md-toolbar>
		  <table class="table table-striped table-bordered">
		   <tbody>
		  	<tr>
		  		<td width="150px">
		    	<label class="control-label">Date: </label>
		    	</td>
		    	<td>
		    	<div><p class="form-control-static">{{calInfo.start | date:'EEE - dd/MMM/yyyy' : 'UTC'}}</p></div>
				</td>
			<tr>
				<td>
		    	<label class="control-label">Time (From - To): </label>
		    	</td>
		    	<td>
		    	<div>
					<p class="form-control-static" ng-show="!calInfo.allDay">
						{{calInfo.start | date:'HH:mm a' : 'UTC'}} till {{calInfo.end | date:'HH:mm a' : 'UTC'}}
					</p>
					<p class="form-control-static" ng-show="calInfo.allDay">
						Full Day
					</p>
			  	</div>
			  	</td>
		  	<tr>
		  		<td>
		    	<label class="control-label">Title: </label>
		    	</td>
		    	<td>
		    	<div><p class="form-control-static">{{calInfo.title}}</p></div>
		    	</td>
		    <tr>
		    	<td>
		    	<label class="control-label">Desc: </label>
		    	</td>
		    	<td>
		    	<div><p class="form-control-static">{{calInfo.desc}}</p></div>
		    	</td>
		    <tr>
		    	<td>
		    	<label class="control-label">Vacancy Left: </label>
		    	</td>
		    	<td>
		    	<div><p class="form-control-static">{{calInfo.avail}}</p></div>
		    	</td>
		    </tbody>
		  </table>
	</div>

<hr>

<p>
	<md-button class='md-raised md-primary' ng-href="#/events"><span class="glyphicon glyphicon-arrow-left btn-icon" aria-label="back"></span>Back</md-button>
</p>
	<form class="form-horizontal" role="form" name="list">
	
		<table class="table table-hover table-bordered">
		<thead>
			<th><a href="" ng-click="predicate='fname'; reverse=!reverse">Last Name<i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': predicate==='fname'&&!reverse, 'glyphicon-sort-by-alphabet-alt': predicate==='fname'&&reverse}"></i></a></th>
			<th>First Name</th>
			<th>Email</th>
			<th>Contact No</th>
			<th>
				Action(s) 
				<span class="glyphicon glyphicon-question-sign" tooltip="[[tt.actionwarning]]" tooltip-trigger="mouseenter" tooltip-placement="top"></span>
			</th>
		</thead>
		<tbody>
			<tr ng-repeat="e in userList | orderBy:predicate:reverse">
				<td>{{e.lastName}}</td>
				<td>{{e.firstName}}</td>
				<td>{{e.email}}</td>
				<td>{{e.ctcNo}}</td>
				<td>
					<md-button class="md-fab md-primary" ng-click="confirmuser(e.id)" ng-disabled="flag" ng-show="e.conf" aria-label="confirm user" tooltip="[[tt.confUser]]" tooltip-placement="top">
						<span class="glyphicon glyphicon-check"></span>
					</md-button>
					<md-button class="md-fab md-warn" ng-click="unsubuser(e.id, $event)" ng-disabled="flag"  aria-label="unsubscribe user" tooltip="[[tt.unsubUser]]" tooltip-placement="top">
						<span class="glyphicon glyphicon-ban-circle" font></span>
					</md-button>
				</td>
			</tr>
		</tbody>
		</table>
	</form>
</div>