<div class="alert alert-warning">
	<strong>WELCOME!</strong> We only still in experimental stage and we're not able to provide a help on this category. 
	However be pleased to try it out, you can reject your scheduled configuration before publishing.
</div>
<form name="setup" class="pnl-margin">	
	<div class="alert alert-danger" ng-show="errors" role="alert">
	<strong>Oh Snap, </strong> please check if there's input errors:
	<ul ng-repeat="error in errors">
		<li>{{error}}</li>
	</ul>
	</div>
	
	<md-input-container class="alt-color">
      <label>Title</label>
      <input ng-model="title" name="title" ng-pattern="word" md-maxlength="30" ng-minlength="3" required>
      <div ng-messages="setup.title.$error">
          <div ng-message="required">Required.</div>
          <div ng-message="pattern">Only spaces, numbers[0-9] and characters[a-z] is allowed.</div>
          <div ng-message="minlength">Has to be more than 3 characters.</div>
          <div ng-message="md-maxlength">Has to be less than 30 characters long.</div>
      </div>
    </md-input-container>
    
    <md-input-container class="alt-color">
      <label>Description</label>
      <textarea ng-model="desc" name="desc" columns="1" md-maxlength="300" ng-minlength="3" required></textarea>
      <div ng-messages="setup.desc.$error">
      	<div ng-message="required">Required.</div>
      	<div ng-message="minlength">Has to be more than 3 characters.</div>
        <div ng-message="md-maxlength">Has to be less than 300 characters long.</div>
      </div>
    </md-input-container>
	
	<div layout layout-sm="column" class="alt-color">
		<label class="col-sm-2 control-label">
		<span class="glyphicon glyphicon-question-sign" tooltip="[[tt.addInfo]]" tooltip-trigger="mouseenter" tooltip-placement="right"></span>
		User Information
		</label>
		<div class="col-sm-8" layout style="height:100px">
			<div>
				<md-checkbox ng-model="add_ctcNo" name="add_ctcno" aria-label="Contact No">
			    	Contact No
			  	</md-checkbox>
			  	<md-switch ng-model="opt_ctcNo" aria-label="Option" ng-true-value="'[Mandatory]'" ng-false-value="'[Optional]'" ng-show="add_ctcNo">
			  		{{opt_ctcNo}}
			  	</md-switch>
			</div>
			<div>
			  	<md-checkbox ng-model="add_email" name="add_email" aria-label="Email Address">
			    	Email Address
			  	</md-checkbox>
			  	<md-switch ng-model="opt_email" aria-label="Option" ng-true-value="'[Mandatory]'" ng-false-value="'[Optional]'" ng-show="add_email">
			  		{{opt_email}}
			  	</md-switch>
			</div>
			<div>
			  	<md-checkbox ng-model="add_addr" name="add_addr" aria-label="Address">
			    	Address
			  	</md-checkbox>
			  	<md-switch ng-model="opt_addr" aria-label="Option" ng-true-value="'[Mandatory]'" ng-false-value="'[Optional]'" ng-show="add_addr">
			  		{{opt_addr}}
			  	</md-switch>
			</div>
		</div>
	</div>
	
	<div layout layout-sm="column" class="alt-color">
		<label class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-question-sign" tooltip="[[tt.conf]]" tooltip-trigger="mouseenter" tooltip-placement="right"></span>
			Confirmation
		</label>
		<div class="col-sm-8" layout >
			<md-checkbox ng-model="conf" name="conf" aria-label="Confirmation">
		    	Confirmation
		  	</md-checkbox>
	  	</div>
  	</div>
  	
	<div layout layout-sm="column" class="alt-color">
		<label for="fullday" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-question-sign" tooltip="[[tt.fullday]]" tooltip-trigger="mouseenter" tooltip-placement="right"></span>
			Time
			<md-checkbox ng-model="fullday" name="fullday" aria-label="Full Day Event ?">
			    Full Day Event
			</md-checkbox>
		</label>
		<div class="col-sm-10">
			<div class="alert alert-danger alertmsg" ng-show="setup.submitted && timedEvents.length==0 && !fullday">
					Please add a time range!
			</div>
			<div class="col-sm-12">
				<br><md-button class="md-raised md-primary" ng-click="addTimeEvents()" ng-model="btnAddTime" ng-show="!fullday">Add a time</md-button>
				<md-input-container ng-show="fullday">
			        <label>Allowed Bookings</label>
			        <input required type="number" step="any" ng-model="abookings" id="abookings" name="abookings" min="1" max="99" maxlength="2">
			        <div ng-messages="setup.abookings.$error">
			          <div ng-message="number">Please enter a valid number.</div>
			          <div ng-message="min">Minimum is 1.</div>
			          <div ng-message="max">Maximum booking allowed is 99.</div>
			        </div>
				</md-input-container>
			</div>
			<div class="form-group col-sm-12 withborder" ng-repeat="e in timedEvents" id="time{{$index}}" ng-show="!fullday">
				<div ng-class="{'alert-danger alertmsg':invalidTimeComparer($index)}" class="flex">
					<a class="close" ng-click="removeTimeEvents($index)" id="btn_closeTime">X</a>
					<label for="stime" class="col-sm-1">Start</label>
					<timepicker class="col-sm-3" ng-model="e.stime" id="e.stime" hour-step="hstep" minute-step="mstep" show-meridian="true"></timepicker>
					
					<label for="etime" class="col-sm-1">Ends</label>
					<timepicker class="col-sm-3" ng-model="e.etime" id="e.etime" hour-step="hstep" minute-step="mstep" show-meridian="true"></timepicker>
				
					<md-input-container class="col-sm-3">
				        <label>Allowed Bookings</label>
				        <input required type="number" step="any" ng-model="e.abookings" id="e.abookings" name="e.abookings" min="1" max="99" maxlength="2">
				        <div ng-messages="setup.e.abookings.$error">
				          <div ng-message="number">Please enter a valid number.</div>
				          <div ng-message="min">Minimum is 1.</div>
				          <div ng-message="max">Maximum booking allowed is 99.</div>
				        </div>
					</md-input-container>
				</div>
			</div>
		</div>
	</div>
	
	<div layout layout-sm="column" class="alt-color">
		<label for="reserveType" class="col-sm-2 control-label">
		<span class="glyphicon glyphicon-question-sign" tooltip="[[tt.occur]]" tooltip-trigger="mouseenter" tooltip-placement="right"></span>
				Occurrence
				
		<md-radio-group ng-model="reserveType" name="reserveType">
	      <md-radio-button value="opt1" id="reserveType1" checked>Specific date</md-radio-button>
	      <md-radio-button value="opt2" id="reserveType2">Repeating</md-radio-button>
	    </md-radio-group>
		</label>
		<div layout layout-sm="column">
			<div ng-show="reserveType=='opt2'" class="cal-show-hide">
			    <div class="alert alert-danger alertmsg" ng-show="setup.submitted && !monday && !tuesday && !wednesday && !thursday && !friday && !saturday && !sunday">Please, select a day!</div>
				<div>
					<md-checkbox ng-model="monday" aria-label="monday">Every Monday</md-checkbox>
					<md-checkbox ng-model="tuesday" aria-label="tuesday">Every Tuesday</md-checkbox>
					<md-checkbox ng-model="wednesday" aria-label="wednesday">Every Wednesday</md-checkbox>
					<md-checkbox ng-model="thursday" aria-label="thursday">Every Thursday</md-checkbox>
					<md-checkbox ng-model="friday" aria-label="friday">Every Friday</md-checkbox>
					<md-checkbox ng-model="saturday" aria-label="saturday" class="md-warn">Every <strong>Saturday</strong></md-checkbox>
					<md-checkbox ng-model="sunday" aria-label="sunday" class="md-warn">Every <strong>Sunday</strong></md-checkbox>
			    </div>			    
			</div>
			<div ng-show="reserveType=='opt1'" class="cal-show-hide">
			    <div class="alert alert-danger alertmsg" ng-show="setup.submitted && reservedEvents.length==0">
			    	No dates were selected!
			    </div>
			    <div class="col-sm-12">
			    	<table class="chg">
			    		<tr>
			    			<td>
						        <datepicker ng-model="reserveDates" min-date="minDate" show-weeks="true" class="well well-sm" year-range=2></datepicker>
							</td>
						
							<td valign="top">
			    				<md-button class="md-raised md-primary" ng-click="addReserve($event)" id="btn_reserveType1">Add</md-button> <span> {{reservedEvents.length}}/{{MAX}}</span>
			    				<div class="cal-listing">
				    				<md-grid-list md-cols="5" md-gutter="1px" md-row-height="50px" style='width:250px'>
				    					<md-grid-tile class="cal-circle-mini animated bounceIn" ng-repeat="r in reservedEvents" ng-click="removeReserve($index)" id="btn_reservedIcon"><span class="cal-frontdrop">{{r | date:"MM/dd"}}</span><span class="cal-backdrop">{{r | date:"yy"}}</span></md-grid-tile>
				    				</md-grid-list>
			    				</div>								
							</td>
						</tr>
					</table>
			    </div>
			</div>
		</div>
	</div>
	<div layout layout-sm="column" class="alt-color">
		<label for="blackoutdates" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-question-sign" tooltip="[[tt.blockDates]]" tooltip-trigger="mouseenter" tooltip-placement="right"></span>
			Blackout dates
		</label>
		<div class="col-sm-10">
			<table class="chg">
				<tr>
					<td>
						<datepicker ng-model="blackoutdates" min-date="minDate" show-weeks="true" class="well well-sm" year-range=2></datepicker>
					</td>
					<td valign="top"> 
				    	<md-button class="md-raised md-primary" ng-click="addBlackouts($event)">Add</md-button> <span>{{blackoutEvents.length}}/{{MAX}}</span>
				    	<div class="cal-listing">
		    				<md-grid-list md-cols="5" md-gutter="1px" md-row-height="50px" style='width:250px'>
		    					<md-grid-tile class="cal-circle-mini animated bounceIn" ng-repeat="r in blackoutEvents" ng-click="removeBlackouts($index)"><span class="cal-frontdrop">{{r | date:"MM/dd"}}</span><span class="cal-backdrop">{{r | date:"yy"}}</span></md-grid-tile>
		    				</md-grid-list>
	    				</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
		<hr>
		<div align="center">
			<md-button class="md-raised md-primary" type="submit" ng-disabled="flag" ng-click="processForm($event)" tooltip="[[tt.processForm]]" 
			tooltip-placement="top" ng-model="submit"><span class="glyphicon glyphicon-floppy-disk btn-icon"></span>Submit</md-button>
			<md-button class="md-raised md-warn" ng-disabled="flag" ng-click="resetForm($event)" tooltip="[[tt.resetForm]]" 
			tooltip-placement="top" ng-model="reset">Reset</md-button>
		</div>
</form>