
	<div class="panel panel-primary pnl-margin">
		<md-toolbar><div class="md-toolbar-tools"><span class="glyphicon glyphicon-search btn-icon"></span>Filter</div></md-toolbar>
		<div class="panel-body">
			<label>
				<input ng-model="search.title" placeHolder="Title" class="form-control">
			</label> <strong> AND </strong> 
			<label> 
				<input ng-model="search.desc" placeHolder="Description" class="form-control">
			</label> <strong> AND </strong> 
			<label>
				<select ng-model="search.virtualDel" class="form-control">
						<option value="">Show All</option>
						<option value="true">Deleted</option>
						<option value="false">Not Deleted</option>
				</select>
			</label>
		</div>
	</div>
	<br>
	
	<form class="form-horizontal" role="form" name="setup">
	
		<md-button class="md-raised" ng-click="accordian_open = !accordian_open"
		tooltip="[[tt.collapseAll]]" tooltip-placement="top" ng-model="btnCollapse"><span class="glyphicon glyphicon-ok-sign"></span> Collapse All For View</md-button>
		
		<br></br>
			
		<accordion close-others="false" ng-repeat="(key, groups) in groupEvents">
			<accordion-group is-open="accordian_open" class="panel-success">
				<accordion-heading>
					{{key|calfilter}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian_open, 'glyphicon-chevron-right': !accordian_open}"></i>
				</accordion-heading>
				<table  class="table table-striped">
					<thead>
						<tr>
							<th><a href="" ng-click="predicate='title'; reverse=!reverse">Title <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': predicate==='title'&&!reverse, 'glyphicon-sort-by-alphabet-alt': predicate==='title'&&reverse}"></i></a></th>
							<th><a href="" ng-click="predicate='start'; reverse=!reverse">Start Date <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': predicate==='start'&&!reverse, 'glyphicon-sort-by-alphabet-alt': predicate==='start'&&reverse}"></i></a></th>
							<th><a href="" ng-click="predicate='end'; reverse=!reverse">End Date <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': predicate==='end'&&!reverse, 'glyphicon-sort-by-alphabet-alt': predicate==='end'&&reverse}"></i></a></th>
							<th>Description</th>
							<th>User Info<span class="glyphicon glyphicon-question-sign" tooltip="E=Email, A=Address, C=Contact No (with) [Opt]=Optional" tooltip-trigger="mouseenter" tooltip-placement="bottom"></span></th>
							<th>To Confirm?</th>
							<th>Deletion ?</th>
						</tr>
					</thead>
					<tbody>
					<tr class="repeated-item" ng-repeat="e in groups | orderBy:predicate:reverse | filter:search">
						<td><input type="text" name="e.title" id="e.title" ng-model="e.title" maxlength="30" ng-pattern="word" required></td>
						<td>{{e.start | date:'EEE - dd/MMM/yyyy HH:mm' : 'UTC'}}</td>
						<td>{{e.end | date:'EEE - dd/MMM/yyyy HH:mm' : 'UTC'}}</td>
						<td><input type="text" name="e.desc" id="e.desc" ng-model="e.desc" maxlength="300" required></td>
						<td>{{userInfoAllow(e.userInfo)}}</td>
						<td><input type="checkbox" ng-model="e.conf"></td>
						<td><input type="checkbox" ng-model="e.virtualDel"></td>
					</tr>
					</tbody>
				</table>
			</accordion-group>
		</accordion>
		
		<div align="center">
			<md-button class="md-raised md-primary" type="submit" ng-disabled="flag" ng-click="processForm($event)" tooltip="Publish Reservations For Public View." tooltip-placement="top" ng-model="submit">Submit</md-button>
			<md-button class="md-raised md-warn" type="submit" ng-disabled="flag" ng-click="resetForm($event)" tooltip="Reset Changes And Start All Over Again." tooltip-placement="top" ng-model="reset">Reset</md-button>
			<md-button class="md-raised md-accent" type="submit" ng-disabled="flag" ng-click="rejectForm($event)" tooltip="Reject Reservation Creation." tooltip-placement="top" ng-model="reject">Reject</md-button>
		</div>
	</form>
