<md-content md-scroll-y flex>
	  
	<div class="jumbotron pnl-margin">
		<h1>Admin to Jom Jaring's Scheduler</h1>
		
		<h3 style="text-align: justify;text-justify: inter-word;">
			The Admin page primary usage is for <i>creating calendar</i> and <i>managing
			subscribers</i> of your organized events. 
			<br><br>
			For starters, choose your activity on the left.
			<br><br>
			This application are still in development and at it's fertile stage. Improvement and modification
			are on-going, hence you will see differences now and then. Rest be assure this application is usable. 
			As always, we do welcome your opinion for improvement.
			<br><br>
			<br><br>
			From yours truly,<br><p>
			Jom Jaring</p>
			
		</h3>.
	</div>
	<br><br>

</md-content>