<form name="setting">
<md-tabs class="md-primary">
	<md-tab label="Profile">
	
		<div layout="row">
		
			<div layout="column" class="pnl-margin">
				<div class="thumbnail">
			        <img ng-src="{{imageUrl}}" class="image-icon"/>
			    </div>
				<md-button class="md-primary md-raised" ng-click="open()">
			    	Change Image
				</md-button>
			</div>
			<div layout="column" class="pnl-margin" ng-form="profile" flex>
				<div class="alert alert-danger" ng-show="profileErrors" role="alert">
					<strong>Oh Snap, </strong> please check if there's input errors:
					<ul ng-repeat="error in profileErrors">
						<li>{{error}}</li>
					</ul>
				</div>
			
				<md-input-container class="alt-color">
			      <label>Name</label>
			      <input ng-model="cName" disabled>
			    </md-input-container>
			    
			    <md-input-container class="alt-color">
			      <label>Description</label>
			      <textarea ng-model="cDesc" name="cDesc" columns="1" md-maxlength="300" ng-minlength="3" required></textarea>
			      <div ng-messages="profile.cDesc.$error">
			      	<div ng-message="required">Required.</div>
			        <div ng-message="md-maxlength">Description has to be less than 300 characters long.</div>
			      </div>
			    </md-input-container>
			    
			    <md-input-container class="alt-color">
			      <label>Website</label>
			      <input ng-model="cWebsite" name="cWebsite" columns="1" md-maxlength="100" ng-pattern="url_pattern" placeholder="e.g. http://www.jomjaring.com"></input>
			      <div ng-messages="profile.cWebsite.$error">
			      	<div ng-message="pattern">Not a valid website.</div>
			        <div ng-message="md-maxlength">Website's url has to be less than 100 characters long.</div>
			      </div>
			    </md-input-container>
			    
			    <md-input-container class="alt-color">
			      <label>Contact No</label>
			      <input ng-model="cCtcNo" name="cCtcNo" columns="1" placeholder="e.g. +60123456789" ng-pattern="ctcNo_pattern"></input>
			      <div ng-messages="profile.cCtcNo.$error">
			        <div ng-message="pattern">Only (+)012345678 with 13 numbers are allowed.</div>
			      </div>
			    </md-input-container>
			    
			    <md-input-container class="alt-color">
			      <label>Email</label>
			      <input ng-model="cEmail" name="cEmail" columns="1" type="email" placeholder="e.g. valid@email.com" ng-pattern="email_pattern" md-maxlength="100"></input>
			      <div ng-messages="profile.cEmail.$error">
			      	<div ng-message="md-maxlength">Email must be less than 100 characters long</div>
			        <div ng-message="email">Invalid Email</div>
			      </div>
			    </md-input-container>
			</div>
		</div>
		<hr>
		<div align="center">
			<md-button class="md-primary md-raised" ng-click="processProfileForm($event)" ng-disabled="profileFlag">
			    Save
			</md-button>
			<md-button class="md-warn md-raised" ng-click="resetProfileForm($event)">
			    Reset
			</md-button>
		</div>
		<br>
    </md-tab>
    <md-tab label="Report">
    	<div layout="column" class="pnl-margin" >
			<div class="jumbotron">
				
				Configure your reporting generation settings here. <br><br>
				<strong>Notes:</strong>
				<ul>
					<li>Please setup your email to receive generated reports.</li>
					<li>Reports are only allowed to be sent to a single person.</li>
					<li>Reports are generated by ad-hoc request in the Reservation List Page.</li>
					<li>Provided attachment format is only in Microsoft Excel (2010 and above).</li>
					<li>All reports takes a few minutes to be generated and sent to respective email.</li>
				</ul>
				
			</div>
			
			<div class="alert alert-danger" ng-show="reportErrors" role="alert"> 
				<strong>Oh Snap, </strong> there is an error:
				<ul ng-repeat="error in reportErrors">
					<li>{{error}}</li>
				</ul>
			</div>
					
			<div ng-form="report">
				<md-input-container class="alt-color">
					<label for="email">
						Email for Report Posting 
					</label>
					<input name="rEmail" type="email" ng-model="rEmail" placeholder="e.g. abc@yahoo.com" md-maxlength="100">
					<div ng-messages="report.rEmail.$error">
						<div ng-message="md-maxlength">Email must be less than 100 characters long</div>
					    <div ng-message="email">Invalid Email</div>
					</div>
				</md-input-container>
			</div>
		</div>
		<hr>
		<div align="center">
		    <md-button class="md-primary md-raised" id="save" ng-disabled="reportFlag" ng-click="processReportForm($event)">Save</md-button>
		</div>
    </md-tab>
    
    <md-tab label="User Management">
        <accordion close-others="false">
            <accordion-group class="pnl-margin panel-primary pnl-accordian" is-open="usrmgmt_add_open">
                <accordion-heading>
                    <i class="glyphicon" ng-class="{'glyphicon-chevron-down': usrmgmt_add_open, 'glyphicon-chevron-right': !usrmgmt_add_open}"></i> Add User to administer your schedule
                </accordion-heading>
                <div ng-form="usermgmt" layout="column">
                    <div class="alert alert-danger" ng-show="userMgmtErrors" role="alert">
                        <ul ng-repeat="error in userMgmtErrors">
                            <li>{{error}}</li>
                        </ul>
                    </div>
                    <md-content md-theme="docs-dark" class="md-padding" layout="row">
                        <md-input-container layout="column" flex>
                            <label for="usercode">
                                User Code
                            </label>
                            <input name="usercode" ng-model="usercode" placeholder="e.g. given user code" md-maxlength="150" ng-minlength="5">
                            <div ng-messages="usermgmt.usercode.$error">
                                <div ng-message="md-maxlength">must be less than 150 characters long</div>
                                <div ng-message="minlength">must be more than 5 characters long</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <div  align="center">
                                <md-button class="md-primary md-raised" id="save" ng-disabled="userMgmtFlag" ng-click="processUserMgmtForm($event)">Add</md-button>
                            </div>
                        </md-input-container>
                    </md-content>
                </div>
            </accordion-group>
        </accordion>
        <div id="userMgmtContent" class="pnl-margin"></div>
        {{execUserMgmtReact()}}
    </md-tab>

	</md-tab>
</md-tabs>
</form>

<!-- For image upload[S] -->
	<script type="text/ng-template" id="popupdialog.html">
        <div class="modal-header">
            <h3 class="modal-title">Upload</h3>
        </div>

        <div class="modal-body" flow-init
                    flow-files-submitted="$flow.upload()" flow-file-added="!!{png:1,jpg:1,jpeg:1}[$file.getExtension()] && !($file.size > 1*1024*1024)"
                    flow-complete="uploader($flow)">
            <div class="jumbotron borderdotted" flow-drop flow-drag-enter="style={border:'2px solid green'}" flow-drag-leave="style={}" ng-style="style" ng-show="!flag_upload">
                <span class="btn btn-success" flow-btn="">Upload Image<input type="file" multiple="multiple" style="visibility : hidden ; position : absolute ;"></span>
                <b>OR</b>
                Drop your image here.
            </div>

            <div ng-repeat="file in $flow.files" class="gallery-box ng-scope">
                <div class="thumbnail" ng-show="$flow.files.length">
                    <img flow-img="file" class="image-icon">
                </div>
                <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}" style="width: 100%;">
                        <span class="sr-only ng-binding">1% Complete</span>
                    </div>
                </div>
                <div ng-show="flag_upload">
                    <md-button class="md-raised md-warn" ng-click="remove(file)" ng-show="flag_upload">Remove</md-button>
                    <md-button class="md-raised md-accent" ng-show="flag_upload" ng-disabled="flag" ng-click="register()">Set Picture</md-button>
                </div>
            </div>

            <div class="alert alert-warning">
                <strong>NOTE!</strong> We only server <i>JPEG</i> and <i>PNG</i> files up to <i>1 MB</i>. All images will be resized to a max of <i>150 X 100 pixels</i>.
            </div>
        </div>

        <div class="modal-footer">
            <md-button class="md-raised md-primary" ng-click="close()" id="btnOk">Close</md-button>
        </div>
	</script>
<!-- For image upload[E] -->