<div role="main" class="container-fluid">

	<h1>Event Confirmation</h1>
	<div class="jumbotron">
		<p>
		As of current, we are still with <strong>BETA</strong> Stages.
		<br>The Help are still under construction, as for current, please contact us for support.
		</p>
	</div>

<hr>
	<form class="form-horizontal well" role="form">
		<div class="form-group">
			<label class="col-sm-2" style="text-align:right">Filter By : </label>
			<div class="col-sm-10">
				<label>
					<input ng-model="search.title" placeHolder="Title" class="form-control" autofocus>
				</label> <strong>AND</strong> 
				<label> 
					<input ng-model="search.desc" placeHolder="Description" class="form-control">
				</label> <strong>AND</strong> 
				<label>
					<select ng-model="search.virtualDel" class="form-control">
							<option value="">Show All</option>
							<option value="true">Deleted</option>
							<option value="false">Not Deleted</option>
					</select>
				</label>
			</div>
		</div>		
	</form>
	
	<form class="form-horizontal" role="form" name="setup">
	
		<button class="btn btn-default btn-sm" ng-click="accordian_open = !accordian_open"
		tooltip="[[tt.collapseAll]]" tooltip-placement="top" ng-model="btnCollapse"><span class="glyphicon glyphicon-ok-sign"></span> Collapse All For View</button>
		
		<br></br>
			
		<accordion close-others="false" ng-repeat="(key, groups) in groupEvents">
			<accordion-group is-open="accordian_open">
				<accordion-heading>
					{{key|calfilter}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian_open, 'glyphicon-chevron-right': !accordian_open}"></i>
				</accordion-heading>
				<table  class="table table-striped">
					<thead>
						<tr>
							<th><a href="" ng-click="predicate='title'; reverse=!reverse">Title <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': predicate==='title'&&!reverse, 'glyphicon-sort-by-alphabet-alt': predicate==='title'&&reverse}"></i></a></th>
							<th><a href="" ng-click="predicate='start'; reverse=!reverse">Start Date <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': predicate==='start'&&!reverse, 'glyphicon-sort-by-alphabet-alt': predicate==='start'&&reverse}"></i></a></th>
							<th><a href="" ng-click="predicate='end'; reverse=!reverse">End Date <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': predicate==='end'&&!reverse, 'glyphicon-sort-by-alphabet-alt': predicate==='end'&&reverse}"></i></a></th>
							<th>Description</th>
							<th>Deletion ?</th>
						</tr>
					</thead>
					<tbody>
					<tr ng-repeat="e in groups | orderBy:predicate:reverse | filter:search">
						<td><input type="text" name="e.title" id="e.title" ng-model="e.title" maxlength="30" ng-pattern="word" required></td>
						<td>{{e.start | date:'EEE - dd/MMM/yyyy HH:mm' : 'UTC'}}</td>
						<td>{{e.end | date:'EEE - dd/MMM/yyyy HH:mm' : 'UTC'}}</td>
						<td><input type="text" name="e.desc" id="e.desc" ng-model="e.desc" maxlength="300" required></td>
						<td><input type="checkbox" ng-model="e.virtualDel"></td>
					</tr>
					</tbody>
				</table>
			</accordion-group>
		</accordion>
		
		<div align="center">
			<button class="btn btn-lg btn-primary" type="submit" ng-disabled="flag" ng-click="processForm()" tooltip="Publish Reservations For Public View." tooltip-placement="top" ng-model="submit">Submit</button>
			<button class="btn btn-lg btn-warning" type="submit" ng-disabled="flag" ng-click="resetForm()" tooltip="Reset Changes And Start All Over Again." tooltip-placement="top" ng-model="reset">Reset</button>
			<button class="btn btn-lg btn-danger" type="submit" ng-disabled="flag" ng-click="rejectForm()" tooltip="Reject Reservation Creation." tooltip-placement="top" ng-model="reject">Reject</button>
		</div>
	</form>
</div>

	<script type="text/ng-template" id="myModalContent.html">
		<div>
			<div class="modal-header">
            	<h3 class="modal-title">Confirmation</h3>
        	</div>
			<div class="modal-body bg-success" ng-show="status=='ok'">
				<h4>{{statMsg}}</h4>
			</div>
			<div class="modal-body bg-warning" ng-show="status=='reset'">
				<h4>{{statMsg}}</h4>
			</div>
			<div class="modal-body bg-danger" ng-show="status!='reset' && status!='ok'">
				<h4>{{statMsg}}</h4>
			</div>
        	<div class="modal-footer">
            	<button class="btn btn-success" ng-click="ok()" ng-model="btnOK">Proceed</button>
				<button class="btn btn-danger" ng-click="cancel()" ng-show="status=='reset' || status=='reject'" ng-model="btnCANCEL">Cancel</button>
			</div>
		</div>
    </script>
