doctype html
html(lang="en")
  head
    include ../incl/meta.incl
    title About Us
    meta(name="description" content="Profiles about the developers in Walcron Coorperation.")
    link(rel="stylesheet" type="text/css" href="/ext/css/about.css")
    link(rel="stylesheet" type="text/css" href="/ext/css/lib/font-awesome.css")
  body(class="about-layer")
    div(id="aboutHeader")
    div(class="slides slide1")
      h2(class="quotes bottom") "There's a story behind every person. This is ours."
    div(class="slides slide2")
      div(class="content table")
        div(class="row")
          div(class="cell")
            img(src='/ext/img/about/han.jpg', class='profile-pic left')
            h2 Yoong Han
            h3.
              He has decided
              to take charge of his life rather than relying only on his job to make a living.
              He had spend most of his programming lifeline in Java. <br><br>
              Han's hobby varies from photography to outdoor hiking; which he believes out there, are many who shared the same interest as well.

    div(class="slides slide3")
      div(class="content table")
        div(class="row")
          div(class="cell")
            img(src='/ext/img/about/gladys.jpg', class='profile-pic right')
            h2 Gladys Tai
            h3.
              She's the heart and soul of the project. She's a young and talented web programmer. Well, it's difficult to find a lady programmer, any day, any time.
              She's an experienced front-end designer and coder.<br><br>
              She is the approver of the web page design and layouts.<br><br>
              "Beauty is to an eye of the believer." Gladys is the inspiration to Han and that's how it all begin.

    div(class="slides slide4")
      div(class="content")
        h2 Our Vision
        h3 The Walcron website was an idea invented by the both of us. Internet has continuously grown and started to evolve rapidly in our era. We take this opportunity, to experiment and pushing ourselves to use new and advance technologies.
        h3(class="quotes") "Here is the playground for us to create a pavement to improve ourselves."

    div(class="slides slide5")
      div(class="content")
        div(class="quotes_container")
          h1 Interested with us?
          h3 If you are interested to contact us, either for the development, progress, advice, photos, freelance, etc. Find more information about us at the bottom section.
    div(id="aboutFooter")
    script(src='/ext/js/lib/react-with-addons.min.js')
    script(src='/ext/js/lib/react-dom.min.js')
    script(src='/ext/js/about.bundle.js')
