doctype html
html(lang="en")
  head
    title #{$i18n.development.title}
    meta(name="description" content="Development of Walcron website.")
    include ../incl/meta.incl
    include ../incl/link.incl
    link(rel="preload" as="style" href="/extw/develop.style.css" onload="this.rel='stylesheet'")
    link(rel="preload" as="style" href="/ext/css/font-awesome.css" onload="this.rel='stylesheet'")
    noscript
      link(rel="stylesheet" href="/extw/develop.style.css")
      link(rel="stylesheet" href="/ext/css/font-awesome.css")
  body
    div(id='develop')
    script(src='/ext/js/react.production.min.js' defer="defer")
    script(src='/ext/js/react-dom.production.min.js' defer="defer")
    script(src='/extw/develop.bundle.js' defer="defer")
