doctype html
html(lang="en")
  head
    title #{$i18n.development.title}
    meta(name="description" content="Development of Walcron website.")
    include ../incl/meta.incl
    include ../incl/link.incl
  body
    div(id='develop')
    noscript(id="deferred-styles")
      link(rel="stylesheet" type="text/css" href="/extw/develop.style.css")
      link(rel="stylesheet" type="text/css" href="/ext/css/font-awesome.css")
    script.
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    script(src='/ext/js/react.production.min.js')
    script(src='/ext/js/react-dom.production.min.js')
    script(src='/extw/develop.bundle.js')
