doctype html
html(lang="en")
  head
    title #{$i18n.development.title}
    meta(name="description" content="Development of Walcron website.")
    include ../incl/meta.incl
    include ../incl/link.incl
    link(rel="stylesheet" href="/extw/develop.style.css" as="style")
    link(rel="stylesheet" href="/ext/css/font-awesome.css" as="style")
  body
    div(id='develop')
    script(src='/ext/js/react.production.min.js' defer="defer")
    script(src='/ext/js/react-dom.production.min.js' defer="defer")
    script(src='/extw/develop.bundle.js' defer="defer")
