doctype html
html
  head
    title Walcron Site Development
    include ../incl/meta.incl
    meta(name="description" content="Development of Walcron website.")
    link(rel="stylesheet" type="text/css" href="/ext/css/develop.css")
    link(rel="stylesheet" type="text/css" href="/ext/css/lib/font-awesome.css")
  body
    div(id='develop')
    script(src='/ext/js/lib/react-with-addons.min.js')
    script(src='/ext/js/lib/react-dom.min.js')
    script(src='/ext/js/develop.bundle.js')
