doctype html
include ../incl/defer
html(lang="en")
  head
    title #{$i18n.index.title}
    meta(name="description" content="Walcron Coorperation is a basic company setup by Yoong Han and Lee Wan for World Wide Web research purposes.")
    include ../incl/meta.incl
  body
    div(id='index')
    script(src='/ext/js/react.production.min.js' defer="defer")
    script(src='/ext/js/react-dom.production.min.js' defer="defer")
    script(src='/ext/js/trianglify.min.js' defer="defer")
    script(src='ASSET{/extw/index.bundle.js}' defer="defer")
    +deferStylesheet()
    script.
      (function() {
        deferStylesheet("ASSET{/extw/index.style.css}");
        deferStylesheet("ASSET{/ext/css/font-awesome.css}");
      })();
