doctype html
include ../incl/defer
html(lang="en")
  head
    title Learning site
    meta(name="description" content="Log entry on Web 2.0/Web 3.0 Learning.")
    include ../incl/meta.incl
  body
    div(id='index')
    table
      tr
        th List
        th Description
        th Purpose
      tr
        td integrity
        td Used in script/links to ensure the CDN content has not changed.
        td Security
      tr
       td crossorigin
       td Used in links tag to ensure crossorigin to send anonymous or not.
       td Security
