doctype html
include ../incl/defer
html(lang="en")
  head
    title Portfolio
    meta(name="description" content="Portfolio of Walcron Coorperation developers.")
    include ../incl/meta.incl
    include ../patternlibrary/incl/preloader.incl
    include ../incl/link.incl
  body
    include ../patternlibrary/incl/preloader_2.incl
    div(id='portfolio', class='p-c')
    script(src='/ext/js/react.production.min.js' defer="defer")
    script(src='/ext/js/react-dom.production.min.js' defer="defer")
    script(src='/ext/js/object-assign-auto.min.js' defer="defer")
    script(src='ASSET{/extw/portfolio.bundle.js}' defer="defer")
    +deferStylesheet()
    script.
      (function() {
        deferStylesheet("ASSET{/extw/portfolio.style.css}");
        deferStylesheet("ASSET{/ext/css/font-awesome.css}");
      })();
