<!DOCTYPE html>
html
  head
    title Portfolio
    include ../incl/meta.incl
    meta(name="description" content="Portfolio of Walcron Coorperation developers.")
    link(rel="stylesheet" type="text/css" href="/ext/css/portfolio.css")
    link(rel="stylesheet" type="text/css" href="/ext/css/lib/font-awesome.css")
  body
    div(id='portfolio')
    script(src='/ext/js/lib/react-with-addons.min.js')
    script(src='/ext/js/lib/react-dom.min.js')
    script(src='/ext/js/portfolio.bundle.js')
