doctype html
html(lang="en")
  head
    title Portfolio
    meta(name="description" content="Portfolio of Walcron Coorperation developers.")
    include ../incl/meta.incl
    include ../incl/link.incl
  body
    div(id='portfolio')
    noscript(id="deferred-styles")
      link(rel="stylesheet" type="text/css" href="/ext/css/portfolio.css")
      link(rel="stylesheet" type="text/css" href="/ext/css/lib/font-awesome.css")
    script.
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    script(src='/ext/js/lib/react-with-addons.min.js')
    script(src='/ext/js/lib/react-dom.min.js')
    script(src='/ext/js/portfolio.bundle.js')
