doctype html
html(lang="en")
  head
    title #{$i18n.progressive.title}
    meta(name="description" content="Progressive Web and Offline enabled.")
    include ../incl/meta.incl
    include ../incl/link.incl
    link(rel="stylesheet" type="text/css" href="/extw/progressive.style.css")
    link(rel="stylesheet" type="text/css" href="/ext/css/font-awesome.css")
    link(rel="stylesheet" type="text/css" href="/ext/css/animate.min.css")
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    div(id='progressive')
    script(src='/ext/js/react.production.min.js')
    script(src='/ext/js/react-dom.production.min.js')
    script(src='/extw/progressive.bundle.js')
