doctype html
include ../incl/defer
html(lang="en")
  head
    title #{$i18n.progressive.title}
    meta(name="description" content="Progressive Web and Offline enabled.")
    include ../incl/meta.incl
    include ../patternlibrary/incl/preloader.incl
    include ../incl/link.incl
  body
    include ../patternlibrary/incl/preloader_2.incl
    div(id='progressive', class='p-c')
    script(src='/ext/js/react.production.min.js' defer="defer")
    script(src='/ext/js/react-dom.production.min.js' defer="defer")
    script(src='/ext/js/object-assign-auto.min.js' defer="defer")
    script(src='ASSET{/extw/progressive.bundle.js}' defer="defer")
    +deferStylesheet()
    script.
      (function() {
        deferStylesheet("ASSET{/extw/progressive.style.css}");
        deferStylesheet("ASSET{/ext/css/font-awesome.css}");
        deferStylesheet("ASSET{/ext/css/animate.min.css}");
        deferStylesheet("https://fonts.googleapis.com/icon?family=Material+Icons");
      })();
