doctype html
include ../incl/defer
html(lang="en")
  head
    title #{$i18n.technology.title}
    meta(name="description" content="Tools used to develop this website.")
    include ../incl/meta.incl
    include ../patternlibrary/incl/preloader.incl
  body
    include ../patternlibrary/incl/preloader_2.incl
    div(id='technology', class='p-c')
    script(src='/ext/js/react.production.min.js' defer="defer")
    script(src='/ext/js/react-dom.production.min.js' defer="defer")
    script(src='/ext/js/object-assign-auto.min.js' defer="defer")
    script(src='ASSET{/extw/technology.bundle.js}' defer="defer")
    +deferStylesheet()
    script.
      (function() {
        deferStylesheet("ASSET{/extw/technology.style.css}");
        deferStylesheet("ASSET{/ext/css/font-awesome.css}");
        deferStylesheet("ASSET{/ext/css/animate.min.css}");
        deferStylesheet("https://fonts.googleapis.com/icon?family=Material+Icons");
      })();
