doctype html
html(lang="en")
  head
    title #{$i18n.technology.title}
    meta(name="description" content="Tools used to develop this website.")
    include ../incl/meta.incl
    link(rel="preload" as="style" href="/extw/technology.style.css" onload="this.rel='stylesheet'")
    link(rel="preload" as="style" href="/ext/css/font-awesome.css" onload="this.rel='stylesheet'")
    link(rel="preload" as="style" href="/ext/css/animate.min.css" onload="this.rel='stylesheet'")
    link(rel="preload" as="style" href="https://fonts.googleapis.com/icon?family=Material+Icons" onload="this.rel='stylesheet'")
    noscript
      link(rel="stylesheet" href="/extw/technology.style.css")
      link(rel="stylesheet" href="/ext/css/font-awesome.css")
      link(rel="stylesheet" href="/ext/css/animate.min.css")
      link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    div(id='technology')
    script(src='/ext/js/react.production.min.js' defer="defer")
    script(src='/ext/js/react-dom.production.min.js' defer="defer")
    script(src='/extw/technology.bundle.js' defer="defer")
