doctype html
html(lang="en")
  head
    title #{$i18n.technology.title}
    meta(name="description" content="Tools used to develop this website.")
    include ../incl/meta.incl
    link(rel="stylesheet" type="text/css" href="/extw/technology.style.css")
    link(rel="stylesheet" type="text/css" href="/ext/css/font-awesome.css")
    link(rel="stylesheet" type="text/css" href="/ext/css/animate.min.css")
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    div(id='technology')
    script(src='/ext/js/react.production.min.js')
    script(src='/ext/js/react-dom.production.min.js')
    script(src='/extw/technology.bundle.js')
