doctype html
html
  head
    title #{$i18n.technology.title} 
    include ../incl/meta.incl
    meta(name="description" content="Tools used to develop this website.")
    link(rel="stylesheet" type="text/css" href="/ext/css/technology.css")
    link(rel="stylesheet" type="text/css" href="/ext/css/lib/font-awesome.css")
    link(rel="stylesheet" type="text/css" href="/ext/css/lib/animate.min.css")
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/icon?family=Material+Icons")

  body
    div(id='technology')
    script(src='/ext/js/lib/react-with-addons.min.js')
    script(src='/ext/js/lib/react-dom.min.js')
    script(src='/ext/js/technology.bundle.js')
