.header h1 {
  font-size: clamp(2.25rem, calc(2rem + 3vw), 4.5rem);
  line-height: 4rem;
}

.clip {
  clip-path: circle();
  top: 1.5rem;
  z-index: -1;
}

.container article {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.container p {
  margin-bottom: 2rem;
}

.container img {
  border: 1px solid #999;
}

.container :global(img.border-0) {
  border-width: 0;
}
