.container article {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.container p {
  margin-bottom: 2rem;
}

.container img {
  border: 1px solid #999;
}

.container :global(img.border-0) {
  border-width: 0;
}
