.container {
  position: fixed;
  width: 56px;
  right: 15px;
  bottom: 15px;
  margin-left: -28px;
}

.container:hover .fabButtons {
  opacity: 1;
  visibility: visible;
}

.container:hover .fabButtons .link {
  transform: scaleY(1) scaleX(1) translateY(-16px) translateX(0px);
}

.container:hover .fabButtons div.link {
}

.fabActionButton:hover + .fabButtons > .link:before {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: right center 0;
  transition-delay: 0.3s;
}

.fabActionButton {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: #000;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.fabButtons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  background: white;
  border-radius: 5px;
}

.fabActionButtonIcon {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.fabButtons > .item {
  display: block;
  text-align: center;
  padding: 6px 0;
}

.fabButtons > .item > div {
  cursor: pointer;
}

.fabButtons > .link {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transform: scaleY(0.5) scaleX(0.5) translateY(0px) translateX(0px);
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.iconMaterial {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.iconMaterialGit {
  background: url("/img/social/git.png") center no-repeat;
  background-size: 38px;
}
