@import "../../patternlibrary/scss/lib/breakpoints";
@import "../../patternlibrary/scss/elements/preload";

.develop {
  .card {
    margin: auto;
    max-width: 800px;
    width: 80%;
    margin-bottom: 30px;

    @include breakpoint(max-width $breakpoint-phone) {
      width: 95%;
    }
  }

  .card-image {
    background-size: contain;
    cursor: pointer;
  }
}

.divider {
  height: 20px;
}
