@import "../../patternlibrary/scss/lib/breakpoints";
@import "../../patternlibrary/scss/elements/preload";sss

.card-section {
  margin: auto;
  max-width: 800px;
  width: 80%;
  margin-bottom: 30px;

  @include breakpoint(max-width $breakpoint-phone) {
    width: 95%;
  }

  .card-split {
    margin-bottom: 20px;
  }

  .card-image {
    background-size: contain;
  }
}

.divider {
  height: 20px;
}
