@import "../../patternlibrary/scss/lib/breakpoints";

.card-section {
  margin: auto;
  max-width: 800px;
  width: 80%;
  margin-bottom: 30px;

  @include breakpoint(max-width $breakpoint-phone) {
    width: 95%;
  }

  .card-split {
    margin-bottom: 20px;
  }
}

.divider {
  height: 20px;
}

:global {
  .posting {
    background: url('/ext/img/common/bg-pattern.gif');
  }
}
