doctype html
html#top(lang='en')
  head
    meta(charset='ISO-8859-1') 
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title About
    link(href='http://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/cache/public/css/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/cache/css/selfservice/common.css')
    style.
      body {
      padding: 0px;
      }
      .Absolute-Center {
      top: 0%; left: 0; bottom: 10%; right: 0;
      padding: 10px;
      }
      .jumbotron{
      text-align:center;
      }
      h1{
      font-weight:bold;
      }
      .imgIcon{
      max-width:inherit;
      }
      .img_wrapper{
      width:inherit;
      height:inherit;
      }
      .css_spinner{
      left:50%;
      }
  body
    .Absolute-Center
      .jumbotron
        h1 About
        h3(style='text-align: justify;text-justify: inter-word;')
          | Feel free to use the booking/reservation, it is free of charge. The basic plain page is deliberately created for the sole purpose in providing readability and ease of use.
        br
        h3(ng-controller='aboutCtrl')
          .alert.alert-warning(role='alert', style='font-size:12pt;text-align: justify;text-justify: inter-word;')
            strong WARNING!
            |  Please be aware that, by providing your generated code to the event organizer; you are allowing them to access your confidential information which may include your name, email and contact no setup in the profile. However, you will be granted a privilege to maintain and create schedules of the event organizer in Walcron&copy; Calendar site.
            br
          |             Your user 
          strong Generated ID
          |  is:
          br
          .img_wrapper
            .css_spinner
            img.imgIcon(ng-src='{{regNo}}', alt='Image', onload='imgLoaded(this)')
      br
      div(style='text-align:center;')
        a(href='/site/selfservice/booking/calendar')
          input#btnReturn.btn.btn-lg.btn-primary(type='button', value='Return')
      br
      br
    script(data-main='/cache/js/apploader/about/main', src='/cache/public/js/requirejs/require.js')
