.container > section > h2 {
  text-align: left;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 0.5rem 1rem;
  background-color: #000;
  color: #fff;
  border-radius: 0.5rem;
}

.container > section::after {
  content: "";
  border-bottom: 5px double #000;
  padding-top: 2rem;
  width: 100vw;
  position: absolute;
}
