.container {
  display: flex;
}

.container .switchButton {
  white-space: nowrap;
  color: var(--button);
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  user-select: none;
  padding: 0;
}

.container .switchButton:focus {
  -webkit-tap-highlight-color: transparent;
}

.container .switchButton:focus-visible {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

@media only screen and (max-width: 640px) {
  .container .searchText {
    display: none;
  }
}
