div(class="grid-container")
  div(class="tableLike")
    h2 <i class="fa fa-desktop"></i> Diagram Flow
    div
      img(src='/cache/images/architecture.svg')
    h2 <i class="fa fa-bolt"></i> Technology
    table
      tr
        td NodeJs
        td As because all application sitting idle will be killed within the cloud environment, nodeJS was choosen as the startup only takes < 3 seconds. What else is that it support non-blocking IO calls.
      tr
        td CloudFlare
        td Enabled to host cached imaged and static pages all over the world.
      tr
        td PlayFramework
        td Undeniable the best and true Java application server running under scala. Fast and reliable, not to mention, relatively easy to code.
      tr
        td MongoDB
        td There's still option to opt for new database. But currently to stick with this as Read is more important.
      tr
        td Wordpress
        td A tool, generally used just for site blogging. Not really an expert on this.
      tr
        td REST (JSON)
        td Currently the application is running with REST as the underlying protocol between servers.
      tr
        td Websocket / Protobuff
        td Currently under view and future development will be used under these 2 protocols to replace REST in JSON.
      tr
        td Facebook / Gmail
        td Using OAuth 2.0 as sign in mechanism. There are no built in sign in for the whole site, only a bridge.
      
        
      
    
