<!DOCTYPE html>
<html lang="en">
<head>
<title>Site Development - Blog</title>
<meta name="description" content="Website development.">
<meta name="viewport" content="width=480">
<link rel="author"	href="https://plus.google.com/u/1/114852108498604797792" />
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>	
<link rel="stylesheet" href="/cache/css/common.css">
<link rel="stylesheet" href="/cache/css/webby/submenu.css">
<link rel="stylesheet" href="/cache/css/webby/ssresearch.css">
</head>
<body ng-app="menuApp" ng-controller="subMenuListCtrl" ng-init="init('Research')">
<div class="overlay" id="overlay" style="display:none;"></div>
<div class="box" id="box">
 <a class="boxclose" id="boxclose"></a>
 <h1>Contact Us</h1>
 <p ng-bind-html="contactus"></p>
</div>
	<menu>
	  <ul>
		<li class="menuTitle">JOM Jaring</li>
	  	<li ng-repeat="menu in menus" class="repeated-item">
			<a ng-href="{{menu.link}}">{{menu.display}}</a>
		</li>
	  </ul>
	</menu>

	
<div class="fullbar" id="T2">
 <h1>Research And Development</h1>
</div>
<br>
<table border=1>
<thead>
<tr><td colspan="2"><h2> Oracle Database</h2></td></tr>
</thead>
<tbody>
<tr>
	<td>SQL locks</td>
	<td>
		<pre>
select
  object_name, 
  object_type, 
  session_id, 
  type,           -- Type or system/user lock
  lmode,        -- lock mode in which session holds lock
  request, 
  block, 
  ctime          -- Time since current mode was granted
from
  v$locked_object, all_objects, v$lock
where
  v$locked_object.object_id = all_objects.object_id AND
  v$lock.id1 = all_objects.object_id AND
  v$lock.sid = v$locked_object.session_id
-- For Load performance do add when.
--AND ctime<to_date('','dd-MM-yyyy hh:mi:ss')
order by
  session_id, ctime desc, object_name;
		</pre>
	</td>
</tr>
<tr>
	<td>Long Running Queries</td>
	<td>
		<pre>
select S.USERNAME, s.sid, s.osuser, t.sql_id, sql_text
from v$sqltext_with_newlines t,V$SESSION s
where t.address =s.sql_address
and t.hash_value = s.sql_hash_value
and s.status = 'ACTIVE'
and s.username <> 'SYSTEM'
and last_call_et> 60
order by s.sid,t.piece;
		</pre>
	</td>
</tr>
<tr>
	<td>Processing Percentage</td>
	<td>
		<pre>
COLUMN percent FORMAT 999.99 ;
 
SELECT sid, to_char(start_time,'hh24:mi:ss') stime, 
message,( sofar/totalwork)* 100 percent 
FROM v$session_longops
WHERE sofar/totalwork < 1;
		</pre>
	</td>
</tr>
<tr>
	<td>SQL Commands</td>
	<td>
	<pre>
* Peference to use the keyword IN against INNER JOIN or INNER SELECT statement. IN selects only unique rows which makes the query faster.
Use "EXPLAIN PLAN" in JDeveloper or SQLDeveloper. This will show the database execution. Avoid
* FULL SCAN - if the query selects all the rows it's a full scan, use indexing keys or create 1.
* Change query or scope down the query(using indexes key) to make the query faster.
* Coding may run faster in Looping records compared to database, sometimes it's to be considered if SQL logics to be in codes instead.
Look into HINTS on Oracle. It provides a tweak to the database or using Indexes on the spot.
E.g. SELECT /*FIRST ROW(10)*/ FROM TABLE_1
>> Oracle Hint Link
Create VIEW for complex table joining. Maintaining in a view/store procedure for complex algorithm. This was widely used in SOA 3rd party engine
where coding is not feasible. Select query based on indexing. If there's none, your table must not have big data.
To select external database.
1) Create a db link or select it via
select * from ALL_DB_LINKS -- select all db links.
2) Select the table with [schema].[table]@[dblink]
select site_id, page_id, ip_address from sg_pim.pim_access_history, sg_mdip.dev@SG.TIMWE.COM
	</pre>
	</td>
</tr>
<tr>
	<td>
	Transactional Update
	</td>
	<td>
	<pre>
* Updating database with Java(limit the maximum records to update to avoid memory hogging) is using addBatch in either:
-- Statement
-- PreparedStatement
* Noted however any failed update with batch update will cause 
inconsistency as only successful (did not fail in unique indexing, duplicate, correct records) will the data gets into database. 
Arrays read are returned with the code.
	int[] affectedRecords = preparedStatement.executeBatch();
* Where every row of array represents the order of batch execution.
>0 = Successfully updated how many records per SQL batch statement.
SUCCESS_NO_INFO = Update successful, but do not know how many records are updated.
EXECUTE_FAILED = Update fail.
* If we want to make it transactional, follow the steps to ensure records does not get committed when batch update is executed unsuccessfully.
-- con.setAutoCommit(false);
-- con.rollback(); //to roll back all the updates. Useful for cases update all or don't do at all.
-- con.commit(); //to update all.
* Making deadlocks, but more reliable transactional update.
-- getPrice = con.prepareStatement(query, ResultSet.CLOSE_CURSORS_AT_COMMIT);
-- Savepoint save1 = con.setSavepoint(); //dehydrate the transaction
-- con.rollback(save1);//rehydrate the transaction
-- Connection.releaseSavepoint(save1); //release the savepoint
*Oracle(I guess all Databases) provided something called the dirty read. 
Reading database is the fastest with this method, but unreliable, if the data is not to be used regularly(i.e. Country) use this as data consistency is not important. 
Then there is repeated read(guaranteed) and phantom read(not guaranteed but effective for new insert data).
	</pre>
	</td>
</tr>
</tbody>
</table>

<hr>

<table border=1>
<thead>
	<tr><td colspan="2"><h2> Web Development</h2></td></tr>
</thead>
<tbody>
	<tr>
		<td>Hack the site with Javascript</td>
		<td>
Previously I used to hack scripted sites with the command "javascript:" written in the URL. Easiest is just to write "javascript:alert("hello");" on the browsers URL and it'll work. One of the best site that i tried was on jobstreet several years ago where cookie checking was their vulnerablities. Executed was.
javascript:alert(document.cookie);
javascript:void(document.cookie = "UserId:xxx;sessionID=xxx");
		</td>
	</tr>
	<tr>
		<td>
Avoid SQL Injection by Encrypting or Store procedure Checking
		</td>
		<td>
Use store procedure or encrypting the passwords when validating username/password over the net. Plugins for apache tomcat works too. Common error was due to SQL injection that exist in old sites previously. Imagine this:
SELECT count(*) FROM UserAccount where Username='ADMIN' AND Password='' AND 'x'='x'.
		</td>
	</tr>
	<tr>
		<td>
Useful WEB Debugging WEB Tools
		</td>
		<td>
		<pre>
Firebug - Plugin for Firefox to alter and edit on site HTML
Modify Headers - Plugin for Firefox to alter header (User-Agent: and X-MSISDN:)
HttpWatch - Plugin for Firefox to monitor Website response/retrievals. It also shows if browser uses cache or retrieve data directly.
Live HTTP headers - View Content-Type responses.
Fiddler - Change incoming response to browser and outgoing responses.
</pre>
		</td>
	</tr>
	<tr>
		<td>
tag1 &gt; tag { color: #fff }
		</td>
		<td>
nested tags means &lt;tag1&gt;&lt;tag&gt;APPLY&lt;/tag&gt;&lt;/tag1&gt;. 
		</td>
	</tr>
		<tr>
		<td>Hack the site with Javascript</td>
		<td>
Previously I used to hack scripted sites with the command "javascript:" written in the URL. Easiest is just to write "javascript:alert("hello");" on the browsers URL and it'll work. One of the best site that i tried was on jobstreet several years ago where cookie checking was their vulnerablities. Executed was.
javascript:alert(document.cookie);
javascript:void(document.cookie = "UserId:xxx;sessionID=xxx");
		</td>
	</tr>
</tbody>
</table>

<hr>

<table border=1>
<thead>
	<tr><td colspan=2><h2> Java</h2></td></tr></thead>
<tbody>
	<tr>
		<td>Improve development</td>
		<td>
Use DCEVM in debug mode to improve server hotswapping. This will help development need not to restart the server.
More documentation on https://github.com/yoonghan/selfserviceweb/tree/master/docs
		</td>
	</tr>
	<tr>
		<td>Analyzing Memory</td>
		<td>
Always set the heap space xMs(start) and xMx(maximum). Once the system reaches xMx or in a time, garbage collection will be executed. If it doesn't, boy we'll go to the PermGen space exception. Ideally not all PermGen space means a problem, sometimes the application just requires more memory. That's all.
<br>
Ideally check with jconsole. In JDK 1.6 onwards this is auto. We can setup the port via. Or get this via pid if it's in the same computer (GUI have to be available), in windows, the PID is under taskmanager->Processes tab; open up View->Select Page Columns and enable pid.
jconsole hostname:portNumber   or    jconsole pid
java -Dcom.sun.management.jmxremote.port=5000
		</td>
	</tr>
	<tr>
		<td>Thread Dump</td>
		<td>
Force tread dumps with the command (in Weblogic this is available in the Node itself).
jstack pid > filename
jmap -dump:file=<file_name> <pid>
<br> 
or adding this to the startup
-XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/disk2/dumps
<br> 
Do not kill process that hangs in unix, try killing with command (-3) "kill -3 pid". This actually helps the program to dump errors to the catalina.out or server.out files. If started with nohup command, look into nohup.out or the file it's redirected if there is. > /dev/null will means not redirecting to anywhere (not recommended).
<br>
Heap dump and thread dump are both seperated things.
<br>
A thread dump is a dump of all threads's stack traces, i.e. as if each Thread suddenly threw an Exception and printStackTrace'ed that. This is so that you can see what each thread is doing at some specific point, and is for example very good to catch deadlocks.
A heap dump is a "binary dump" of the full memory the JVM is using, and is for example useful if you need to know why you are running out of memory - in the heap dump you could for example see that you have one billion User objects, even though you should only have a thousand, which points to a memory retention problem
<br>
Monitor with eclipse MAT. Not an easy task but always look for the largest usage object. Tried once before but took time, the largest pie chart as it shows with MAT is not always the correct thing. One thing for webservices, try monitoring sessions, normally sessions are not cleared, and especially the use of session-replication/session timeout that introduced the problem.
		</td>
	</tr>
	<tr>
		<td>Inner Class</td>
		<td>Cannot be garbage collected if inner class is using outer class variable (recursive references)</td>
	</tr>
	<tr>
		<td>Maven</td>
		<td>
		<pre>
To create test script using maven
    a) Put dependency into pom.xml
    <dependency>
      <groupId>junit</groupId>
      <artifactId>junit</artifactId>
      <version>4.8.1</version>
      <scope>test</scope>
    </dependency>
   b) Optional to put plugin.
          <plugin>
            <groupId>org.apache.maven.plugins</groupId>
            <artifactId>maven-surefire-plugin</artifactId>
          </plugin>
   c) Create a directory test (not main). The structure is as below.
      App
          ---> src
              ---> main
              ---> test
    d) Maven will execute classes with name *Test* in the test package when installing or testing. 
    The class have to include @Test on the method and Assert.assertEquals("something","something"); to do comparison
		</pre>
		</td>
	</tr>
	<tr>
		<td>Beans</td>
		<td>BeanUtils, PropUtils and DynaBeans. These are utilities provided by apache. Example <a href="http://media.wix.com/ugd/c23ddd_60effe98bee64147af952af892d62435.docx?dn=BeanMapping.docx">here</a></td>
	</tr>
</tbody>
</table>
<hr>
<table border=1>
<thead>
	<tr><td colspan=2><h2> Linux Commands</h2></td></tr>
</thead>
<tbody>
<tr>
	<td>curl</td>
	<td>Besides using HTTPWatch(in windows), this command helps in checking HTTP headers.<br>
	curl -i -X GET -H 'Content-Type=application/xml' -data 'xxx' 'http://201.31/test?' --retrieve header and document</td>
</tr>
<tr>
	<td>wget</td>
	<td>Basic GET method to trigger URL. Capable of reading from file and sending via HTTP.<br>
	wget -i "http://location"  --a service to call  as GET, use -o to get the output</td>
</tr>
<tr>
	<td>awk</td>
	<td>grep "HEADER.*APN=" mythecube.log|awk '/APN=/ { print $0 }' #Select match from header and inverse checking.</td>
</tr>
<tr>
	<td>grep -v</td>
	<td>grep "HEADER.*APN=" mythecube.log.2013-12*|grep -v "MSISDN" #Select match from header and inverse checking.</td>
</tr>
<tr>
	<td>sed</td>
	<td>
	sed -n '/HEADER.*APN=/{p;n;n;n;p;}' mythecube.log.2013-12-02. #Select match where print first line skip 3 lines then print
	<br>
	sed 's/.*\(dnStatus: NotDelivered\).*/\1/g' smsNotif|grep "errorCode" #Replace text
	</td>
</tr>
<tr>
	<td>vmstat</td>
	<td>Show the processes, observe us, sy column. sy should be as low as possible. If it fails check with jstack or pstack.</td>
</tr>
<tr>
	<td>sort file.txt|uniq</td>
	<td>To sort a file then select unique records</td>
</tr>
<tr>
	<td>netstat -na</td>
	<td>Run as administrator in windows, can view programs utilizing the ports.</td>
</tr>
<tr>
	<td>tcpdump</td>
	<td><strong>sudo tcpdump -n dst host 203.87.166.59</strong> #Execute tcp dump and get system output and input</td>
</tr>
<tr>
	<td>ssh-copy-id</td>
	<td>Using handshake between servers without prompting for authority. Usage, 1) Run for the Host ssh server 2) Run the command in the symbiot server ssh-copy-id -i ~/.ssh/id_rsa.pub &lt;&lt;user@server-symbiot-name&gt;&gt;</td>
</tr>
<tr>
	<td>scp copy</td>
	<td>Copy file via ssh with the command <strong>scp /path/to/file username@toServerName:/path/to/destination</strong></td>
</tr>
</tbody>
</table>

<hr>
<table border=1>
<thead>
	<tr><td><h2>Command</h2></td>
	<td><h2>Description</h2></td></tr>
</thead>
<tbody>
<tr>
	<td>typeof a_variable !== 'undefined'</td>
	<td>To compare undefined variable in javascript, use the keyword <strong>typeof</strong>. No real diff with null !== a_variable and using === is better.</td>
</tr>
<tr>
	<td>createDocumentFragment / document.body.appendChild/insertChild(fragment, document.body.nodes[0]) </td>
	<td>Create fragment if we want to create HTML element with javascript. This is better than DOM.<a href="http://davidwalsh.name/documentfragment">Ref</a></td>
</tr>
<tr>
	<td>Javascript JSON</td>
	<td>To add <i>jsonData.attr = 'value';</i> <br>To delete <i>delete jsonData.attr;</i>.</td>
</tr>
</tbody>
</table>

<p class="addMargin">
<a href="#" target="_self">Back to top</a>
</p>
<div class="footnote">
	<ul id="menu">
		<li ng-repeat="menu in menus" class="repeated-item">
			<a ng-href="{{menu.link}}">{{menu.display}}</a>
		</li>
	</ul>
&copy;2014 All rights reserved - JOM Jaring<br/>
If you are interested, do not hesitate to <a href="#" ng-click="activateBtn()">contact us</a>.
</div>
</body>
<script src="/cache/js/lib/jquery/jquery.min.js"></script>
<script src="/cache/js/lib/date/date.js"></script>
<script src="/cache/js/lib/angular/angular.min.js"></script>
<script src="/cache/js/lib/angular/angular-sanitize.min.js"></script>
<script src="/cache/js/lib/angular/angular-animate.min.js"></script>
<script src="/cache/js/webby/controllers.js"></script>
</html>