.text-shadow {
  text-shadow: 0px 2px 3px #555; }

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

body {
  font-family: "Roboto";
  font-size: 14pt;
  color: #555;
  margin: 0px;
  padding: 0px; }

.deprecated {
  text-decoration: line-through; }

.deprecated-text {
  color: red;
  font-weight: bold; }

.tablesaw td, .tablesaw tbody th {
  vertical-align: middle; }
.tablesaw thead {
  border: 1px solid #555;
  background: #e0e0e0;
  background-image: linear-gradient(to bottom, white, #e0e0e0); }
  .tablesaw thead th {
    font-weight: bold;
    color: #777;
    font-size: 15pt;
    text-transform: uppercase;
    text-shadow: 0 1px 0 white;
    text-align: left; }

.tablesaw-cell-label {
  font-weight: bold; }

.artImgDisplay {
  display: hide; }

.desc {
  font-style: italic; }

tr:nth-child(even) {
  background-color: #e0e0e0; }

.addMargin, .link {
  margin: 0px 10px; }

.searchLabel {
  margin: 0px 10px;
  font-weight: bold;
  color: blue; }

input[type=checkbox] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute; }
  input[type=checkbox]:checked ~ section, input[type=checkbox]:checked ~ span:first-child {
    display: block;
    visibility: visible; }
