@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, 
body {  
  height: 100%;
  width: 100%;
  font-family: 'Roboto';
}

html {
  background: #222;
}

img {
  max-width: 100%;
  height: auto;
  margin: .75rem;
}

body {
  font-size: 1.5em;
  color: #222;
  background: #fff;
  height: .25rem;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 0%;
}

.footer{
	padding-top:40pt;
	font-size:12pt;
}
.footer-color{
	color:#74b73f
}

.buttons{
	position:absolute;
	bottom:150px;
	left: 50px;
}
.btn {
  width:100px;
  display: inline-block;
  text-decoration: none;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  background-color: #428bca;
  -webkit-box-shadow: 0 0px 10px #000;
          box-shadow: 0 0px 10px #000;
  opacity:0.8;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.main{
	color:#FFCC00;
	background: url("/cache/img/webby/main.jpg");
	background-size: cover;
	padding:5%;
}

.section {
	position: relative;
	height:100vh;
	display:none;
	min-height:480px;
}
.right-pos{
	text-align:right;	
}

.title {
	text-shadow: 0px 2px 3px #555;
	font-size:60pt;
	line-height: 5px;
}

.quote {
	font-size:14pt;
	font-style:italic;
}
.quote-shadow {
	text-shadow: 0px 0px 10px #000;
}

.wrap {
  max-width: 60%;
  min-width: 61.25rem;
  margin: 2rem auto 0;
  opacity: 0;
}

#animate {
	opacity:0;
}
#container {
	perspective: 50px;
	-webkit-perspective: 50px;
	-moz-perspective: 50px;
	-ms-perspective: 50px;
	transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	opacity: 0.55;
}

.dot {
	position: fixed;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: #eee;
}

.ball {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: fixed;
  background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%); 
}
.ball:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    filter: blur(5px);
	z-index: 2; 
}
.ball:after {
    content: "";
    position: absolute;
    display: none;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    z-index: 2;
    -webkit-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}
.ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1;
}
.ball.plain {
	background: black; 
}
.ball.plain:before, .ball.plain:after {
	display: none; 
}
.ball.bubble {
	background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
	-webkit-animation: bubble-anim 2s ease-out infinite;
	animation: bubble-anim 2s ease-out infinite; 
	}
.ball.bubble:before {
	-webkit-filter: blur(0);
	filter: blur(0);
	height: 80%;
	width: 40%;
	background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
	-webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
	transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
.ball.bubble:after {
	display: block;
	background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); 
}



li{
	display:list-item;
	font-family:'Rock Salt',cursive;
	zoom:1
}
ul{
	display:block;
	margin:0;
	padding:0
}

/**First section[S]**/
#part1 {
	top:30%;
	text-align:center;
}

/**Third section[S]**/
.link{
		font-size:34pt;
		display:block;
		font-weight:bold;
		margin:10px;
		text-align:justify;
}
#content{
	padding:10%;
	height:100%;
}
#content a{
	color:#fff;
}
.reposition{
	margin:0%;
	height:100%;
}
.imageIcon{
	top:0;
	padding:20px;
}
.borderit{
	border: 5px solid #fff;	
}
.box{
	background:rgb(219, 31,38);
	height:100%;
}

.flip-image {
	background:#444;
	color:#fff;
}

.layer1{
	height:100%;
	background: #000;
	perspective: 1000px;
	perspective-origin: 20% 20%;
}
/**Third section[E]**/
/**Second.5 section[S]**/
.part2_1{
	background: -webkit-linear-gradient(#0B62D7,#fff);
	background: -o-linear-gradient(#0B62D7,#fff); 
	background: -moz-linear-gradient(#0B62D7,#fff); 
	background: linear-gradient(#0B62D7,#fff); 
	padding:15%;
	color:white;
	padding-top:15%;
}
.part2_2{
	padding:15%;
	padding-top:15%;
	background:white;
}
.part2reactive{
	font-weight:bold;	
}
.imgTime{
	float:right;
	width:100px;
	margin:50px 50px 0 0;
}
/**Second.5 section[E]**/
/**Second section[S]**/
.part2{
	background: -webkit-linear-gradient(#fff, rgb(219, 31,38));
	background: -o-linear-gradient(#fff, rgb(219, 31,38)); 
	background: -moz-linear-gradient(#fff, rgb(219, 31,38)); 
	background: linear-gradient(#fff, rgb(219, 31,38)); 
}
blockquote {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
}
.oval-thought-border {
  position: absolute;
  padding: 40px 20px;
  margin: 1em auto 80px;
  border: 5px solid #c81e2b;
  text-align: center;
  color: #333;
  background: #fff;
  width: 400px;
  left: -500px;
  -webkit-border-top-left-radius: 240px 140px;
  -webkit-border-top-right-radius: 240px 140px;
  -webkit-border-bottom-right-radius: 240px 140px;
  -webkit-border-bottom-left-radius: 240px 140px;
  border-radius: 240px / 140px;
}
.oval-thought-border:before {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 100px;
  width: 50px;
  height: 50px;
  border: 5px solid #c81e2b;
  background: #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  display: block;
}
.oval-thought-border:after {
  content: "";
  position: absolute;
  bottom: -60px;
  left: 50px;
  width: 25px;
  height: 25px;
  border: 5px solid #c81e2b;
  background: #fff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  display: block;
}
/**Second section[E]**/ 
