.footnote{
 background: #444;
 margin:0px;
 padding:20px 80px;
 color: #888;
 font-size:12pt;
}
menu,#submenu{
 border-top-style: solid;
 border-bottom-style: solid;
 border-width: 1px;
 color: #444;
 margin: 40px 40px 50px 40px;
 padding: 10px 0px;
}
#submenu{
 margin: -40px 40px 40px 40px;
 padding: 0px 0px;
}
menu ul,#submenu ul,.footnote ul{
 list-style-type: none;
 line-height: 45px;
 padding:0px;
 margin:0px;
}
menu ul li,.footnote ul li{
 display: inline;
 padding-right: 50px;
 padding-left:0px;
 font-size: 18pt;
 font-weight: bold;
 color:#74b73f;
 zoom: 1;
}
#submenu ul li{
 display: inline;
 padding-right: 50px;
 padding-left:0px;
 font-size: 13pt;
 font-weight: bold;
 zoom: 1;
}
a{
 color:#74b73f;
 text-decoration:none;
}
a:hover{
 color:#96d95f;
}
.menuTitle{
 color: #444;
 font-size:30pt;
 display:inline;
}
.fullbar{
 color: #FFF;
 background: #444;
 margin:0px;
 padding:30px 120px;
}
.fullbar h1{
 display:inline;
}
.fullbar h3{
 display:inline;
 float:right;
 font-weight:normal;
}
.footnote ul .menuTitle{
 display: none; visibility:hidden;
}
.overlay{
 background: black;
 opacity: .5;
 position:fixed;
 top:0px;
 bottom:0px;
 left:0px;
 right:0px;
 z-index:100;
}
.box{
 position:fixed;
 bottom:-200px;
 left:5px;
 background-color:#fff;
 color:#7F7F7F;
 padding:20px;
 border:2px solid #ccc;
	font-size: 14px;
	-moz-border-radius:20px 20px 0px 0px;
 -webkit-border-top-left-radius: 20px;
 -webkit-border-top-right-radius: 20px;
 -khtml-border-top-left-radius: 20px;
 -khtml-border-top-right-radius: 20px;
 z-index:101;
}
a.boxclose{
 float:right;
 margin-top:-30px;
 margin-right:-30px;
 cursor:pointer;
 color: #fff;
 border: 1px solid #AEAEAE;
 border-radius: 30px;
 background: #605F61;
 font-size: 20px;
 font-weight: bold;
 display: inline-block;
 line-height: 5px;
 padding: 20px 3px; 
}
.boxclose:before {
	font-weight:normal;
 content: "X";
	padding:12px;
}
.box h1{
 border-bottom: 1px dashed #7F7F7F;
 margin:-20px -20px 0px -20px;
 padding:10px;
 background-color:#888;
 color:#96d95f;
 -moz-border-radius:20px 20px 0px 0px;
 -webkit-border-top-left-radius: 20px;
 -webkit-border-top-right-radius: 20px;
 -khtml-border-top-left-radius: 20px;
 -khtml-border-top-right-radius: 20px;
}

/*
Angular css
*/
.repeated-item.ng-enter, .repeated-item.ng-move {
 -webkit-transition:0.5s linear all;
 -moz-transition:0.5s linear all;
 -o-transition:0.5s linear all;
 transition:0.5s linear all;
 opacity:0;
}

.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
 opacity:1;
}

.repeated-item.ng-leave {
 -webkit-animation:0.5s my_animation;
 -moz-animation:0.5s my_animation;
 -o-animation:0.5s my_animation;
 animation:0.5s my_animation;
}

@keyframes my_animation {
 from { opacity:1; }
 to { opacity:0; }
}

@-webkit-keyframes my_animation {
 from { opacity:1; }
 to { opacity:0; }
}

@-moz-keyframes my_animation {
 from { opacity:1; }
 to { opacity:0; }
}

@-o-keyframes my_animation {
 from { opacity:1; }
 to { opacity:0; }
}