doctype html
html
  head
    title Font And Colors
    include ../incl/meta.incl
  body(style="background:#FFF")
    h2 Font and types
    h3
      | In accordance to:
      a(href='http://www.cssfontstack.com/') Web Safe Font
    table(border=1)
      tr
        th Font Type
        th Font Size
      tr
        td
          font(style='font-size: 12pt; font-family: Arial,sans-serif') A quick brown fox jumps over the lazy dog
        td 12pt Arial
      tr
        td
          font(style='font-size: 16pt; font-family: Arial,sans-serif') A quick brown fox jumps over the lazy dog
        td 16pt Arial
      tr
        td
          h1(style='font-family:Arial,sans-serif') A quick brown fox jumps over the lazy dog
          h2(style='font-family:Arial,sans-serif') A quick brown fox jumps over the lazy dog
          h3(style='font-family:Arial,sans-serif') A quick brown fox jumps over the lazy dog
        td Headers Arial
      tr
        td
          font(style='font-size: 12pt; font-family: Verdana,sans-serif') A quick brown fox jumps over the lazy dog
        td 12pt Verdana
      tr
        td
          font(style='font-size: 16pt; font-family: Verdana,sans-serif') A quick brown fox jumps over the lazy dog
        td 16pt Verdana
      tr
        td
          h1(style='font-family:Verdana,sans-serif') A quick brown fox jumps over the lazy dog
          h2(style='font-family:Verdana,sans-serif') A quick brown fox jumps over the lazy dog
          h3(style='font-family:Verdana,sans-serif') A quick brown fox jumps over the lazy dog
        td Headers Verdana

    br
    br
    table(width='100%', cellpadding=50, border=1, style="background:#FFF")
      tr
        th Color
        th Contrast
        th Usage
      tr
        td(style="background:#55ddff") #55ddff
        td(style="background:#00ccff") #00ccff
        td Background
      tr
        td(style="background:#1e88e5") #1e88e5
        td(style="background:#1976d2") #1976d2
        td Background
      tr
        td(style="background:#fc0") #fc0
        td(style="background:#d4aa00") #d4aa00
        td Background
      tr
        td(style="background:#ff0000") #ff0000
        td(style="background:#d40000") #d40000
        td Background
      tr
        td(style="background:#b3b3b3") #b3b3b3
        td(style="background:#808080") #808080
        td Background
      tr
        td(style="background:#aad400") #aad400
        td(style="background:#88aa00") #88aa00
        td Background
      tr
        td(style="background:#fff6d5") #fff6d5
        td(style="background:#ffeeaa") #ffeeaa
        td Background
    br
    br
    table(width='100%', cellpadding=50, border=1, style="background:#000; color:#fff")
      tr
        th Color
        th Contrast
        th Usage
      tr
        td(style="background:#55ddff") #55ddff
        td(style="background:#00ccff") #00ccff
        td Background
      tr
        td(style="background:#1e88e5") #1e88e5
        td(style="background:#1976d2") #1976d2
        td Background
      tr
        td(style="background:#fc0") #fc0
        td(style="background:#d4aa00") #d4aa00
        td Background
      tr
        td(style="background:#ff0000") #ff0000
        td(style="background:#d40000") #d40000
        td Background
      tr
        td(style="background:#b3b3b3") #b3b3b3
        td(style="background:#808080") #808080
        td Background
      tr
        td(style="background:#aad400") #aad400
        td(style="background:#88aa00") #88aa00
        td Background
      tr
        td(style="background:#fff6d5") #fff6d5
        td(style="background:#ffeeaa") #ffeeaa
        td Background
    include ../incl/backhome.incl
