doctype html
include ../incl/reactcode
html
  head
    title Footer
    include ../incl/meta.incl
    +stylesheet("footer")
    style.
      body {
        color: #000;
        background-color: #fff;
        position: relative;
        padding: 0;
        margin: 0;
      }
  body
    include ../incl/backhome.incl
    div(id='footer')
    +script("footer")
