<!DOCTYPE html>
html
  head
    title Footer
    include ../incl/meta.incl
    link(rel="stylesheet" type="text/css" href="/ext/css/lib/font-awesome.css")
    link(rel="stylesheet" type="text/css" href="/patternlibrary/ext/css/footer.css")
    style.
      body {
        color: #000;
        background-color: #fff;
        position: relative;
        padding: 0;
        margin: 0;
      }
  body
    include ../incl/backhome.incl
    div(id='footer')
    script(src='/ext/js/lib/react-with-addons.js')
    script(src='/ext/js/lib/react-dom.js')
    script(src='/patternlibrary/ext/js/footer.bundle.js')
