doctype html
include ../incl/reactcode
html
  head
    title Header
    include ../incl/meta.incl
    +stylesheet("header")
    style.
      body {
        color: #000;
        background-color: #fff;
        position: relative;
        padding: 0;
        margin: 0;
      }
  body
    div(id='header')
    <div style="padding:80px"></div>
    div(id='header2')
    br
    p Note:
      ul In mobile view, the menu dropdowns display as open upon first load.
    include ../incl/backhome.incl
    +script("header")
