<!DOCTYPE html>
html
  head
    title Header
    include ../incl/meta.incl
    link(rel="stylesheet" type="text/css" href="/patternlibrary/ext/css/header.css")
    link(rel="stylesheet" type="text/css" href="/ext/css/lib/font-awesome.css")
    style.
      body {
        color: #000;
        background-color: #fff;
        position: relative;
        padding: 0;
        margin: 0;
      }
  body
    div(id='header')
    include ../incl/backhome.incl
    script(src='/ext/js/lib/react-with-addons.js')
    script(src='/ext/js/lib/react-dom.js')
    script(src='/patternlibrary/ext/js/header.bundle.js')
