<!DOCTYPE html>
html
  head
    title Header
    include ../incl/meta.incl
    link(rel="stylesheet" type="text/css" href="/ext/css/lib/font-awesome.css")
    link(rel="stylesheet" type="text/css" href="/patternlibrary/ext/css/style.css")
  body
    div(id='example')
    include ../incl/backhome.incl
    script(src='/ext/js/lib/react.min.js')
    script(src='/ext/js/lib/react-dom.min.js')
    script(src='/patternlibrary/ext/js/bundle.js')
