doctype html
include ../incl/reactcode
html
  head
    title Loader
    include ../incl/meta.incl
    include ../incl/preloader.incl
    +stylesheet("loader")
  body(style="font-size: 10pt")
    include ../incl/preloader_2.incl
    div(id='loader', className="p-c")
    include ../incl/backhome.incl
    +script("loader")
