doctype html
html
  head
    title Header
    include ../incl/meta.incl
    link(rel="stylesheet" type="text/css" href="/ext/css/lib/font-awesome.css")
    link(rel="stylesheet" type="text/css" href="/patternlibrary/ext/css/mainscreen.css")
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" )
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" )
    style.
      body {
        color: #000;
        background-color: #fff;
        position: relative;
        padding: 0;
        margin: 0;
      }
  body
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div(id='mainscreen')
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    include ../incl/backhome.incl
    script(src='/ext/js/lib/trianglify.min.js')
    script(src='/ext/js/lib/react-with-addons.js')
    script(src='/ext/js/lib/react-dom.js')
    script(src='/patternlibrary/ext/js/mainscreen.bundle.js')
