doctype html
include ../incl/reactcode
html
  head
    title Me
    include ../incl/meta.incl
    +stylesheet("metitle")
    style.
      body {
        color: #000;
        background-color: #fff;
        position: relative;
        padding: 0;
        margin: 0;
      }
  body
    div(id='metitle')
    include ../incl/backhome.incl
    +script("metitle")
