doctype html
html
  head
    title Me
    include ../incl/meta.incl
    link(rel="stylesheet" type="text/css" href="/ext/css/lib/font-awesome.css")
    link(rel="stylesheet", type="text/css", href="/patternlibrary/ext/css/metitle.css")
    style.
      body {
        color: #000;
        background-color: #fff;
        position: relative;
        padding: 0;
        margin: 0;
      }
  body
    div(id='metitle')
    include ../incl/backhome.incl
    script(src='/ext/js/lib/react-with-addons.js')
    script(src='/ext/js/lib/react-dom.js')
    script(src='/patternlibrary/ext/js/metitle.bundle.js')
