doctype html
include ../incl/reactcode
html
  head
    title Tile
    include ../incl/meta.incl
    +stylesheet("progressivebutton")
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    style.
      body {
        color: #000;
        background-color: #aaa;
        position: relative;
        padding: 0;
        margin: 0;
      }
  body
    div(id='progressivebutton')
    include ../incl/backhome.incl
    +script("progressivebutton")
