doctype html
include ../incl/reactcode
html
  head
    title Tile
    include ../incl/meta.incl
    +stylesheet("mainscreen")
    +stylesheet("header")
    +stylesheet("footer")
    +stylesheet("post")
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    style.
      body {
        color: #000;
        background-color: #aaa;
        position: relative;
        padding: 0;
        margin: 0;
      }
  body
    div(id='header')
    div(id='mainscreen')
    div(id='post')
    div(id='footer')
    include ../incl/backhome.incl
    script(src="http://localhost:8080/ext/js/trianglify.min.js")
    +script("mainscreen")
    script(src="/extw/header.bundle.js")
    script(src="/extw/footer.bundle.js")
    script(src="/extw/post.bundle.js")
