doctype html
html
  head
    title Tile
    include ../incl/meta.incl
    link(rel="stylesheet" type="text/css" href="/ext/css/lib/font-awesome.css")
    link(rel="stylesheet" type="text/css" href="/patternlibrary/ext/css/mainscreen.css")
    link(rel="stylesheet" type="text/css" href="/patternlibrary/ext/css/header.css")
    link(rel="stylesheet" type="text/css" href="/patternlibrary/ext/css/footer.css")
    link(rel="stylesheet" type="text/css" href="/ext/css/lib/animate.min.css")
    link(rel="stylesheet" type="text/css" href="/ext/css/lib/font-awesome.css")
    link(rel="stylesheet" type="text/css" href="/patternlibrary/ext/css/post.css")
    link(rel="stylesheet" type="text/css" href="/patternlibrary/ext/css/mainscreen.css")
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" )
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" )
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    style.
      body {
        color: #000;
        background-color: #aaa;
        position: relative;
        padding: 0;
        margin: 0;
      }
  body
    div(id='header')
    div(id='mainscreen')
    div(id='post')
    div(id='footer')
    include ../incl/backhome.incl
    script(src='/ext/js/lib/trianglify.min.js')
    script(src='/ext/js/lib/react-with-addons.js')
    script(src='/ext/js/lib/react-dom.js')
    script(src='/patternlibrary/ext/js/mainscreen.bundle.js')
    script(src='/patternlibrary/ext/js/header.bundle.js')
    script(src='/patternlibrary/ext/js/footer.bundle.js')
    script(src='/patternlibrary/ext/js/post.bundle.js')
