doctype html
include ../incl/reactcode
html
  head
    title Tile
    include ../incl/meta.incl
    +stylesheet("gallery")
    +stylesheet("header")
    +stylesheet("footer")
    link(rel="stylesheet" type="text/css" href="/ext/css/animate.min.css")
    style.
      body {
        color: #000;
        background-color: #aaa;
        position: relative;
        padding: 0;
        margin: 0;
      }
  body
    div(id='header')
    div(id='gallery')
    div(id='footer')
    include ../incl/backhome.incl
    +script("gallery")
    +script("header")
    +script("footer")
