doctype html
html
  head
    title Sticky Title
    include ../incl/meta.incl
    link(rel="stylesheet" type="text/css" href="/ext/css/lib/font-awesome.css")
    link(rel="stylesheet" type="text/css" href="/patternlibrary/ext/css/stickytitle.css")
    style.
      body {
        color: #000;
        background-color: #fff;
        position: relative;
        padding: 0;
        margin: 0;
      }
  body
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div(id="post") Filler

    div(id='stickyTitle')

    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div(id='stickyTitle_2')
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    include ../incl/backhome.incl
    script(src='/ext/js/lib/react-with-addons.js')
    script(src='/ext/js/lib/react-dom.js')
    script(src='/patternlibrary/ext/js/stickytitle.bundle.js')
