doctype html
include ../incl/reactcode
html
  head
    title Timeline
    include ../incl/meta.incl
    +stylesheet("timeline")
    style.
      body {
        color: #000;
        background-color: #fff;
        position: relative;
        padding: 0;
        margin: 0;
      }
  body
    div Please ensure page is scrollable to test
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div(id="post") Filler

    div(id='timeline')

    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    include ../incl/backhome.incl
    +script("timeline")
