doctype html
include ../incl/reactcode
html
  head
    title Midpart
    include ../incl/meta.incl
    +stylesheet("midpart")
    style.
      body {
        color: #000;
        background-color: #fff;
        position: relative;
        padding: 0;
        margin: 0;
      }
  body
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div(id='midpart')
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    div Filler
    include ../incl/backhome.incl
    +script("midpart")
