.footer
  div
    div(style='padding:10px;')
      span
        | Walcron © is build on
        strong Play Framework
        | ,
        strong Node.js
        |  hosted in
        strong Openshift
        |  platform.
  hr
  table(width='100%')
    tr
      td(align='left', style='footerpadding')
        a(href='/site/main/about/', target='walcron', style='color:fff') Contact Us
        | 		|
        a(href='/', target='walcron', style='color:fff') Main Site
      td(align='right', style='footerpadding') All rights reserved to Walcron Coorporate&copy; 2015
