table(width='100%')
  tr
    td(style='float:right;width:130px')
      .btn-group(dropdown='')
        a#btnSetting.btn.btn-primary(type='button', href='/site/selfservice/profile/setting') Settings
        button.btn.btn-primary.dropdown-toggle(type='button', dropdown-toggle='')
          span.caret
          span.sr-only
        ul.dropdown-menu(role='menu')
          li
            a(ng-href='/site/selfservice/profile/setting')
              span.glyphicon.glyphicon-wrench
              |  Settings
          li(ng-show='allowSetup')
            a(ng-href='/site/selfservice/admin')
              span.glyphicon.glyphicon-lock
              |  Administration
          li
            a(ng-href='/site/selfservice/profile/about')
              span.glyphicon.glyphicon-user
              |  About
          li.divider
          li
            a(href='http://localhost:9000/user/logout')
              span.glyphicon.glyphicon-remove-sign(style='color:red')
              |  Log out
