.container {
  min-height: 100vh;
  position: relative;
  background-color: #343233;
  color: var(--text);
  padding-top: 2rem;
}

.container ol > li {
  margin-bottom: 1rem;
}

.alert {
  color: red;
}

.success {
  color: green;
}

.lessonImg {
  padding-top: 0.5rem;
  max-width: 100%;
  position: relative;
  height: 400px;
  width: 640px;
}

.lessonImg > img {
  max-width: 100%;
  object-fit: contain;
}

.container .code {
  color: var(--code);
  font-style: italic;
  overflow: scroll;
}

.container .wrappedText {
  width: 100vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
