.container-fluid.pnl-margin(role='main')
  .panel.panel-primary
    md-toolbar
      .md-toolbar-tools Event Information
    table.table.table-striped.table-bordered
      tbody
        tr
          td(width='150px')
            label.control-label Date: 
          td
            div
              p.form-control-static {{calInfo.start | date:'EEE - dd/MMM/yyyy' : 'UTC'}}
        tr
          td
            label.control-label Time (From - To): 
          td
            div
              p.form-control-static(ng-show='!calInfo.allDay')
                | {{calInfo.start | date:'HH:mm a' : 'UTC'}} till {{calInfo.end | date:'HH:mm a' : 'UTC'}}
              p.form-control-static(ng-show='calInfo.allDay')
                | Full Day
        tr
          td
            label.control-label Title: 
          td
            div
              p.form-control-static {{calInfo.title}}
        tr
          td
            label.control-label Desc: 
          td
            div
              p.form-control-static {{calInfo.desc}}
        tr
          td
            label.control-label Vacancy Left: 
          td
            div
              p.form-control-static {{calInfo.avail}}
  hr
  p
    md-button.md-raised.md-primary(ng-href='#/events')
      span.glyphicon.glyphicon-arrow-left.btn-icon(aria-label='back')
      | Back
  form.form-horizontal(role='form', name='list')
    table.table.table-hover.table-bordered
      thead
        th
          a(href='', ng-click="predicate='fname'; reverse=!reverse")
            | Last Name
            i.glyphicon(ng-class="{'glyphicon-sort-by-alphabet': predicate==='fname'&&!reverse, 'glyphicon-sort-by-alphabet-alt': predicate==='fname'&&reverse}")
        th First Name
        th Email
        th Contact No
        th
          | Action(s) 
          span.glyphicon.glyphicon-question-sign(tooltip='[[tt.actionwarning]]', tooltip-trigger='mouseenter', tooltip-placement='top')
      tbody
        tr(ng-repeat='e in userList | immutable | orderBy:predicate:reverse')
          td {{e.lastName}}
          td {{e.firstName}}
          td {{e.email}}
          td {{e.ctcNo}}
          td
            md-button.md-fab.md-primary(ng-click='confirmuser(e.id)', ng-disabled='flag', ng-show='e.conf', aria-label='confirm user', tooltip='[[tt.confUser]]', tooltip-placement='top')
              span.glyphicon.glyphicon-check
            md-button.md-fab.md-warn(ng-click='unsubuser(e.id, $event)', ng-disabled='flag', aria-label='unsubscribe user', tooltip='[[tt.unsubUser]]', tooltip-placement='top')
              span.glyphicon.glyphicon-ban-circle(font='')
