.alert.alert-warning
  strong WELCOME!
  |  We only still in experimental stage and we're not able to provide a help on this category.
  | 	However be pleased to try it out, you can reject your scheduled configuration before publishing.
form.pnl-margin(name='setup')
  .alert.alert-danger(ng-show='errors', role='alert')
    strong Oh Snap, 
    |  please check if there's input errors:
    ul(ng-repeat='error in errors')
      li {{error}}
  md-input-container.alt-color
    label Title
    input(ng-model='title', name='title', ng-pattern='word', md-maxlength='30', ng-minlength='3', required='')
    div(ng-messages='setup.title.$error')
      div(ng-message='required') Required.
      div(ng-message='pattern') Only spaces, numbers[0-9] and characters[a-z] is allowed.
      div(ng-message='minlength') Has to be more than 3 characters.
      div(ng-message='md-maxlength') Has to be less than 30 characters long.
  md-input-container.alt-color
    label Description
    textarea(ng-model='desc', name='desc', columns='1', md-maxlength='300', ng-minlength='3', required='')
    div(ng-messages='setup.desc.$error')
      div(ng-message='required') Required.
      div(ng-message='minlength') Has to be more than 3 characters.
      div(ng-message='md-maxlength') Has to be less than 300 characters long.
  .alt-color(layout='', layout-sm='column')
    label.col-sm-2.control-label
      span.glyphicon.glyphicon-question-sign(tooltip='[[tt.addInfo]]', tooltip-trigger='mouseenter', tooltip-placement='right')
      | 		User Information
    .col-sm-8(layout='', style='height:100px')
      div
        md-checkbox(ng-model='add_ctcNo', name='add_ctcno', aria-label='Contact No')
          | Contact No
        md-switch(ng-model='opt_ctcNo', aria-label='Option', ng-true-value="'[Mandatory]'", ng-false-value="'[Optional]'", ng-show='add_ctcNo')
          | {{opt_ctcNo}}
      div
        md-checkbox(ng-model='add_email', name='add_email', aria-label='Email Address')
          | Email Address
        md-switch(ng-model='opt_email', aria-label='Option', ng-true-value="'[Mandatory]'", ng-false-value="'[Optional]'", ng-show='add_email')
          | {{opt_email}}
      div
        md-checkbox(ng-model='add_addr', name='add_addr', aria-label='Address')
          | Address
        md-switch(ng-model='opt_addr', aria-label='Option', ng-true-value="'[Mandatory]'", ng-false-value="'[Optional]'", ng-show='add_addr')
          | {{opt_addr}}
  .alt-color(layout='', layout-sm='column')
    label.col-sm-2.control-label
      span.glyphicon.glyphicon-question-sign(tooltip='[[tt.conf]]', tooltip-trigger='mouseenter', tooltip-placement='right')
      | 			Confirmation
    .col-sm-8(layout='')
      md-checkbox(ng-model='conf', name='conf', aria-label='Confirmation')
        | Confirmation
  .alt-color(layout='', layout-sm='column')
    label.col-sm-2.control-label(for='fullday')
      span.glyphicon.glyphicon-question-sign(tooltip='[[tt.fullday]]', tooltip-trigger='mouseenter', tooltip-placement='right')
      | 			Time
      md-checkbox(ng-model='fullday', name='fullday', aria-label='Full Day Event ?')
        | Full Day Event
    .col-sm-10
      .alert.alert-danger.alertmsg(ng-show='setup.submitted && timedEvents.length==0 && !fullday')
        | Please add a time range!
      .col-sm-12
        br
        md-button.md-raised.md-primary(ng-click='addTimeEvents()', ng-model='btnAddTime', ng-show='!fullday') Add a time
        md-input-container(ng-show='fullday')
          label Allowed Bookings
          input#abookings(required='', type='number', step='any', ng-model='abookings', name='abookings', min='1', max='99', maxlength='2')
          div(ng-messages='setup.abookings.$error')
            div(ng-message='number') Please enter a valid number.
            div(ng-message='min') Minimum is 1.
            div(ng-message='max') Maximum booking allowed is 99.
      .form-group.col-sm-12.withborder(ng-repeat='e in timedEvents', id='time{{$index}}', ng-show='!fullday')
        .flex(ng-class="{'alert-danger alertmsg':invalidTimeComparer($index)}")
          a#btn_closeTime.close(ng-click='removeTimeEvents($index)') X
          label.col-sm-1(for='stime') Start
          timepicker.col-sm-3(ng-model='e.stime', id='e.stime', hour-step='hstep', minute-step='mstep', show-meridian='true')
          label.col-sm-1(for='etime') Ends
          timepicker.col-sm-3(ng-model='e.etime', id='e.etime', hour-step='hstep', minute-step='mstep', show-meridian='true')
          md-input-container.col-sm-3
            label Allowed Bookings
            input(required='', type='number', step='any', ng-model='e.abookings', id='e.abookings', name='e.abookings', min='1', max='99', maxlength='2')
            div(ng-messages='setup.e.abookings.$error')
              div(ng-message='number') Please enter a valid number.
              div(ng-message='min') Minimum is 1.
              div(ng-message='max') Maximum booking allowed is 99.
  .alt-color(layout='', layout-sm='column')
    label.col-sm-2.control-label(for='reserveType')
      span.glyphicon.glyphicon-question-sign(tooltip='[[tt.occur]]', tooltip-trigger='mouseenter', tooltip-placement='right')
      | 				Occurrence
      md-radio-group(ng-model='reserveType', name='reserveType')
        md-radio-button#reserveType1(value='opt1', checked='') Specific date
        md-radio-button#reserveType2(value='opt2') Repeating
    div(layout='', layout-sm='column')
      .cal-show-hide(ng-show="reserveType=='opt2'")
        .alert.alert-danger.alertmsg(ng-show='setup.submitted && !monday && !tuesday && !wednesday && !thursday && !friday && !saturday && !sunday') Please, select a day!
        div
          md-checkbox(ng-model='monday', aria-label='monday') Every Monday
          md-checkbox(ng-model='tuesday', aria-label='tuesday') Every Tuesday
          md-checkbox(ng-model='wednesday', aria-label='wednesday') Every Wednesday
          md-checkbox(ng-model='thursday', aria-label='thursday') Every Thursday
          md-checkbox(ng-model='friday', aria-label='friday') Every Friday
          md-checkbox.md-warn(ng-model='saturday', aria-label='saturday')
            | Every 
            strong Saturday
          md-checkbox.md-warn(ng-model='sunday', aria-label='sunday')
            | Every 
            strong Sunday
      .cal-show-hide(ng-show="reserveType=='opt1'")
        .alert.alert-danger.alertmsg(ng-show='setup.submitted && reservedEvents.length==0')
          | No dates were selected!
        .col-sm-12
          table.chg
            tr
              td
                datepicker.well.well-sm(ng-model='reserveDates', min-date='minDate', show-weeks='true', year-range='2')
              td(valign='top')
                md-button#btn_reserveType1.md-raised.md-primary(ng-click='addReserve($event)') Add
                span  {{reservedEvents.length}}/{{MAX}}
                .cal-listing
                  md-grid-list(md-cols='5', md-gutter='1px', md-row-height='50px', style='width:250px')
                    md-grid-tile#btn_reservedIcon.cal-circle-mini.animated.bounceIn(ng-repeat='r in reservedEvents', ng-click='removeReserve($index)')
                      span.cal-frontdrop {{r | date:"MM/dd"}}
                      span.cal-backdrop {{r | date:"yy"}}
  .alt-color(layout='', layout-sm='column')
    label.col-sm-2.control-label(for='blackoutdates')
      span.glyphicon.glyphicon-question-sign(tooltip='[[tt.blockDates]]', tooltip-trigger='mouseenter', tooltip-placement='right')
      | 			Blackout dates
    .col-sm-10
      table.chg
        tr
          td
            datepicker.well.well-sm(ng-model='blackoutdates', min-date='minDate', show-weeks='true', year-range='2')
          td(valign='top')
            md-button.md-raised.md-primary(ng-click='addBlackouts($event)') Add
            span {{blackoutEvents.length}}/{{MAX}}
            .cal-listing
              md-grid-list(md-cols='5', md-gutter='1px', md-row-height='50px', style='width:250px')
                md-grid-tile.cal-circle-mini.animated.bounceIn(ng-repeat='r in blackoutEvents', ng-click='removeBlackouts($index)')
                  span.cal-frontdrop {{r | date:"MM/dd"}}
                  span.cal-backdrop {{r | date:"yy"}}
  hr
  div(align='center')
    md-button.md-raised.md-primary(type='submit', ng-disabled='flag', ng-click='processForm($event)', tooltip='[[tt.processForm]]', tooltip-placement='top', ng-model='submit')
      span.glyphicon.glyphicon-floppy-disk.btn-icon
      | Submit
    md-button.md-raised.md-warn(ng-disabled='flag', ng-click='resetForm($event)', tooltip='[[tt.resetForm]]', tooltip-placement='top', ng-model='reset') Reset
