.icon-lg {
  font-size: $lg-icon;
  color: $theme-foreground;
  text-shadow: 1px 5px 5px $theme-background;
}

.icon-lg-cell {
  width: $lg-icon-cell;
}

.icon-listing-center {
  background: $theme-background-darker;
}

.icon-listing {
  display: table;
  margin:auto;

  >.icon {
    display: table-cell;
    border-left: 1px solid $theme-foreground;
  }

  >.icon:last-child {
    border-right: 1px solid $theme-foreground;
  }

  > .icon.active {
    padding: 8px 8px 13px 8px;
    border: 2px solid #fff;
    border-bottom: none;
    background: $theme-background;

    > div {
      color: $theme-foreground;
    }
  }
}
.icon {
  background: $theme-background-darker;
  color: $theme-text-unchecked-foreground;
  height: 70px;
  width: 80px;
  padding: 10px 10px 15px 10px;

  @include breakpoint($breakpoint-tablet) {
    width: 180px;
  }

  @include breakpoint($breakpoint-big-screen) {
    width: 300px;
  }

  &:hover {
    cursor: hand;
    color: $theme-foreground;
  }

  > svg {
    height:50px;
    width: inherit;
  }

  > div {
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
  }
}
