@import "lib/vars";
@import "lib/breakpoint";
@import "lib/sizing";
@import "mixin/text";
@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";


$susy: (
  columns: 12,
  container: 100%,
  gutters: 1/12,
  global-box-sizing: border-box,
  flow: ltr
);

@include border-box-sizing;

//HTML components
@import "elements/table";

//Form components
@import "component/switch";
@import "component/button";
@import "component/textfield";
@import "component/tab";
@import "component/tooltip";
@import "component/ripple";

html, body {
  height: 100%;
}

body {
  background-color: $theme-background;
  color: $theme-foreground;
  font-family: $base-font;
  margin: 0;
  min-width: $breakpoint-fit;
  padding: 0;

  &.cover_blur {
    height: 100vh;
    background: url($cover-img-blur) no-repeat;
    background-size: cover;
  }

  @include text-resize($fontsize-base);
}

.wal {
  @include container;
  @import "elements/css4js";
  @import "elements/text";
  @import "elements/section";
  @import "elements/link";
  @import "elements/list";
  @import "elements/shapes";
  @import "elements/grid";

  #breadcrumb {
    background: $theme-background;
    border-bottom: 2px solid $theme-foreground;
    height: 60px;
    padding: 20px 10px;
    position: relative;

    .logo {
      font-size: 20pt;
      float: left;
      text-shadow: 0 0 3px $shadow-grey;
    }
  }

  .page-wrap {
    min-height: 100%;
    margin-bottom: -$footer-height;

    &:after {
      content: "";
      display: block;
      height: $footer-height;
    }
  }

  //optimized using vertical height only. Color is fixed to white.
  .wal-refresh {
    bottom: 0px;
    position: fixed;
    z-index: 999;
    display: none;
    background: white;
    border-radius: 200vh;
    top: -50%;
    right: -50%;
  }

  #footer {
    height: $footer-height;

    .affiliate {
      background: $theme-background-darker;
      padding: 30px 40px;

      table {
        display: inline-block;
        min-width: 100px;
        width: 30%;
        text-align: left;
        vertical-align: top;

        ul {
          margin: 5px 0;
          padding: 0;
        }
      }
    }
  }

  .technology {
    background: $theme-background-darker;
    color: $font-white;
    height: 65px;
    padding: 2px 10px 10px 10px;
    text-shadow: 2px 2px $thm-blue-black;
    width: 100%;

    &:hover {
      background: $theme-background-unchecked-darker;
    }

    .footer-pointer {
      background: url('/cache/images/goup.svg') no-repeat;
      background-position: top center;
      background-size: 50px 25px;
      content:'';
      height:30px;
    }

    .footer-trade {
      border-top: 1px solid $theme-foreground;
      right: 0;
      text-align: right;
    }
    .footer-info {
      display: none;
    }
    .footer-trademark {
      font-size: $fontsize-base - 2;
    }
    .footer-top {
      float: right;
    }
  }
}
