<!doctype html>

<html lang="en">
  <head>
  	<meta charset="ISO-8859-1">
  	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Calendar Administration</title>

    <link rel="stylesheet" href="/cache/css/selfservice/common.css" />
	<link rel="stylesheet" href="/cache/css/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/cache/css/angular/angular-material.min.css">
	<link rel="stylesheet" href="/cache/css/selfservice/admin/admin.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  </head>
  <body layout="column" ng-controller="AppCtrl" flow-prevent-drop ng-cloak>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md') && openWindow">
          <md-toolbar>
            <h1 class="md-toolbar-tools logo">JOM Jaring &copy;</h1>
          </md-toolbar>
          <md-content ng-controller="MenuCtrl">
              <div class="thumbnail_main">
                  <img ng-src="{{imageUrl}}" class="image-icon"/>
              </div>
              <div ng-repeat="m in menuList">
                <md-button class="menu-button md-raised" ng-href="{{m.lnk}}" id="btn_menu"><span class="glyphicon {{m.icon}} btn-icon"></span>{{m.pg}}</md-button>
              </div>
          </md-content>
        </md-sidenav>
        <div layout="column" layout-fill tabIndex="-1" role="main" flex>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <md-button ng-click="back()" aria-label="Menu" ng-show="!openWindow">
                <div class="md-icon-container">
                    <span class="glyphicon glyphicon-arrow-left btn-icon"></span>
                </div>
              </md-button>
              <span ng-show="openWindow">
              <md-button ng-click="toggleMenu()" aria-label="Menu" hide-gt-md>
                <div class="md-icon-container">
                    <span class="glyphicon glyphicon-th-large btn-icon"></span>
                </div>
              </md-button>
              </span>
              <span>My App's Title</span>
              <span flex></span>
              <md-button ng-click="showBottomMenuSheet($event)" aria-label="Configuration" id="mnu_settings">
                <div class="md-icon-container">
                    <span class="glyphicon glyphicon-cog"></span>
                </div>
              </md-button>
            </div>
          </md-toolbar>
          <div ng-view md-scroll-y flex class="view-animate">
          </div>
        </div>
    </section>
    <!-- Angular Material Dependencies -->
	<script src="/cache/js/selfservice/global_var.js"></script>
	<script src="/cache/js/selfservice/auth_common.js"></script>
	<script src="/cache/js/lib/lodash/lodash.min.js"></script>
    <script data-main="/cache/js/apploader/admin/main" src="/cache/js/lib/requirejs/require.js"></script>
  </body>
</html>