<form name="setting">
<md-tabs class="md-primary">
	<md-tab label="Profile">
	
		<div layout="row">
		
			<div layout="column" class="pnl-margin">
				<div class="thumbnail">
			        <img fallback-src="http://www.placehold.it/100x100/EFEFEF/AAAAAA&text=no+image" ng-src="{{imageUrl}}" class="image-icon"/>
			    </div>
				<md-button class="md-primary md-raised" ng-click="open()">
			    	Change Image
				</md-button>
			</div>
			<div layout="column" class="pnl-margin" ng-form="profile" flex>
				<div class="alert alert-danger" ng-show="profileErrors" role="alert">
					<strong>Oh Snap, </strong> please check if there's input errors:
					<ul ng-repeat="error in profileErrors">
						<li>{{error}}</li>
					</ul>
				</div>
			
				<md-input-container class="alt-color">
			      <label>Name</label>
			      <input ng-model="cName" disabled>
			    </md-input-container>
			    
			    <md-input-container class="alt-color">
			      <label>Description</label>
			      <textarea ng-model="cDesc" name="cDesc" columns="1" md-maxlength="300" ng-minlength="3" required></textarea>
			      <div ng-messages="profile.cDesc.$error">
			      	<div ng-message="required">Required.</div>
			        <div ng-message="md-maxlength">Description has to be less than 300 characters long.</div>
			      </div>
			    </md-input-container>
			    
			    <md-input-container class="alt-color">
			      <label>Website</label>
			      <input ng-model="cWebsite" name="cWebsite" columns="1" md-maxlength="100" ng-pattern="url_pattern" placeholder="e.g. http://www.jomjaring.com"></input>
			      <div ng-messages="profile.cWebsite.$error">
			      	<div ng-message="pattern">Not a valid website.</div>
			        <div ng-message="md-maxlength">Website's url has to be less than 100 characters long.</div>
			      </div>
			    </md-input-container>
			    
			    <md-input-container class="alt-color">
			      <label>Contact No</label>
			      <input ng-model="cCtcNo" name="cCtcNo" columns="1" placeholder="e.g. +60123456789" ng-pattern="ctcNo_pattern"></input>
			      <div ng-messages="profile.cCtcNo.$error">
			        <div ng-message="pattern">Only (+)012345678 with 13 numbers are allowed.</div>
			      </div>
			    </md-input-container>
			    
			    <md-input-container class="alt-color">
			      <label>Email</label>
			      <input ng-model="cEmail" name="cEmail" columns="1" type="email" placeholder="e.g. invalid@email.com" ng-pattern="email_pattern" ng-maxlength="100"></input>
			      <div ng-messages="profile.cEmail.$error">
			      	<div ng-message="md-maxLength">Email must be less than 100 characters long</div>
			        <div ng-message="email">Invalid Email</div>
			      </div>
			    </md-input-container>
			</div>
		</div>
		<hr>
		<div align="center">
			<md-button class="md-primary md-raised" ng-click="processProfileForm($event)" ng-disabled="profileFlag">
			    Save
			</md-button>
			<md-button class="md-warn md-raised" ng-click="resetProfileForm($event)">
			    Reset
			</md-button>
		</div>
	
    </md-tab>
    <md-tab label="Report">
    	<div layout="column" class="pnl-margin" >
			<div class="jumbotron">
				
				Configure your reporting generation settings here. <br><br>
				<strong>Notes:</strong>
				<ul>
					<li>Please setup your email to receive generated reports.</li>
					<li>Reports are only allowed to be sent to a single person.</li>
					<li>Reports are generated by ad-hoc request in the Reservation List Page.</li>
					<li>Provided attachment format is only in Microsoft Excel (2010 and above).</li>
					<li>All reports takes a few minutes to be generated and sent to respective email.</li>
				</ul>
				
			</div>
			
			<div class="alert alert-danger" ng-show="reportErrors" role="alert"> 
				<strong>Oh Snap, </strong> there is an error:
				<ul ng-repeat="error in reportErrors">
					<li>{{error}}</li>
				</ul>
			</div>
					
			<div ng-form="report">
				<md-input-container class="alt-color">
					<label for="email">
						Email for Report Posting 
					</label>
					<input name="rEmail" type="email" ng-model="rEmail" placeholder="e.g. abc@yahoo.com" maxlength="100" required>
					<div ng-messages="basic.rEmail.$error">
						<div ng-message="md-maxLength">Email must be less than 100 characters long</div>
					    <div ng-message="email">Invalid Email</div>
					</div>
				</md-input-container>
			</div>
			<hr>
			<div align="center">
			    <input type="submit" value="Save" id="save" class="btn btn-lg btn-success" ng-disabled="reportFlag" ng-click="processReportForm($event)">
			</div>
		</div>	
    </md-tab>
    
    <md-tab label="User Management">
		<div layout="column" class="pnl-margin" >
			TO BE PROVIDED
		</div>
    </md-tab>

	</md-tab>
</md-tabs>
</form>

<!-- For image upload[S] -->
	<script type="text/ng-template" id="popupdialog.html">
			<div class="modal-header">
            	<h3 class="modal-title">Upload</h3>
        	</div>

			<div class="modal-body" flow-init 
						flow-files-submitted="$flow.upload()" flow-file-added="!!{png:1,jpg:1,jpeg:1}[$file.getExtension()] && !($file.size > 1*1024*1024)"
						flow-complete="uploader($flow)">
			    <div class="jumbotron borderdotted" flow-drop flow-drag-enter="style={border:'2px solid green'}" flow-drag-leave="style={}" ng-style="style" ng-show="!flag_upload">
        			<span class="btn btn-success" flow-btn="">Upload Image<input type="file" multiple="multiple" style="visibility : hidden ; position : absolute ;"></span>
        			<b>OR</b>
        			Drop your image here.
			    </div>
				
				<div ng-repeat="file in $flow.files" class="gallery-box ng-scope">
					<div class="thumbnail" ng-show="$flow.files.length">
						<img flow-img="file" class="image-icon">
					</div>
					<div class="progress progress-striped" ng-class="{active: file.isUploading()}">
						<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}" style="width: 100%;">
							<span class="sr-only ng-binding">1% Complete</span>
            			</div>
        			</div>
					<div ng-show="flag_upload">
						<md-button class="md-raised md-warn" ng-click="remove(file)" ng-show="flag_upload">Remove</md-button>
						<md-button class="md-raised md-accent" ng-show="flag_upload" ng-disabled="flag" ng-click="register()">Set Picture</md-button>
					</div>
    			</div>

				<div class="alert alert-warning">
					<strong>NOTE!</strong> We only server <i>JPEG</i> and <i>PNG</i> files up to <i>1 MB</i>. All images will be resized to a max of <i>150 X 100 pixels</i>.
				</div>
			</div>

			<div class="modal-footer">
            	<md-button class="md-raised md-primary" ng-click="close()" id="btnOk">Close</md-button>
			</div>
		</div>
	</script>
<!-- For image upload[E] -->