<form name="setting">
<md-tabs class="md-primary">
	<md-tab label="Profile">
	
		<div layout="row">
			<div layout="column" class="pnl-margin" ng-form="profile" flex>
				<div class="alert alert-danger" ng-show="profileErrors" role="alert">
					<strong>Oh Snap, </strong> please check if there's input errors:
					<ul ng-repeat="error in profileErrors">
						<li>{{error}}</li>
					</ul>
				</div>
			
				<md-input-container class="alt-color">
			      <label>Name</label>
			      <input ng-model="cName" disabled>
			    </md-input-container>
			    
			    <md-input-container class="alt-color">
			      <label>Description</label>
			      <textarea ng-model="cDesc" name="cDesc" columns="1" md-maxlength="300" ng-minlength="3" required></textarea>
			      <div ng-messages="profile.cDesc.$error">
			      	<div ng-message="required">Required.</div>
			        <div ng-message="md-maxlength">Description has to be less than 300 characters long.</div>
			      </div>
			    </md-input-container>
			    
			    <md-input-container class="alt-color">
			      <label>Website</label>
			      <input ng-model="cWebsite" name="cWebsite" columns="1" md-maxlength="100" ng-pattern="url_pattern" placeholder="e.g. http://www.jomjaring.com"></input>
			      <div ng-messages="profile.cWebsite.$error">
			      	<div ng-message="pattern">Not a valid website.</div>
			        <div ng-message="md-maxlength">Website's url has to be less than 100 characters long.</div>
			      </div>
			    </md-input-container>
			    
			    <md-input-container class="alt-color">
			      <label>Contact No</label>
			      <input ng-model="cCtcNo" name="cCtcNo" columns="1" placeholder="e.g. +60123456789" ng-pattern="ctcNo_pattern"></input>
			      <div ng-messages="profile.cCtcNo.$error">
			        <div ng-message="pattern">Only (+)012345678 with 13 numbers are allowed.</div>
			      </div>
			    </md-input-container>
			    
			    <md-input-container class="alt-color">
			      <label>Email</label>
			      <input ng-model="cEmail" name="cEmail" columns="1" type="email" placeholder="e.g. invalid@email.com" ng-pattern="email_pattern" ng-maxlength="100"></input>
			      <div ng-messages="profile.cEmail.$error">
			      	<div ng-message="md-maxLength">Email must be less than 100 characters long</div>
			        <div ng-message="email">Invalid Email</div>
			      </div>
			    </md-input-container>
			</div>
		</div>
		<hr>
		<div align="center">
			<md-button class="md-primary md-raised" ng-click="processProfileForm($event)" ng-disabled="profileFlag">
			    Save
			</md-button>
			<md-button class="md-warn md-raised" ng-click="resetProfileForm($event)">
			    Reset
			</md-button>
		</div>
	
    </md-tab>
    <md-tab label="Report">
    	<div layout="column" class="pnl-margin" >
			<div class="jumbotron">
				
				Configure your reporting generation settings here. <br><br>
				<strong>Notes:</strong>
				<ul>
					<li>Please setup your email to receive generated reports.</li>
					<li>Reports are only allowed to be sent to a single person.</li>
					<li>Reports are generated by ad-hoc request in the Reservation List Page.</li>
					<li>Provided attachment format is only in Microsoft Excel (2010 and above).</li>
					<li>All reports takes a few minutes to be generated and sent to respective email.</li>
				</ul>
				
			</div>
			
			<div class="alert alert-danger" ng-show="reportErrors" role="alert"> 
				<strong>Oh Snap, </strong> there is an error:
				<ul ng-repeat="error in reportErrors">
					<li>{{error}}</li>
				</ul>
			</div>
					
			<div ng-form="report">
				<md-input-container class="alt-color">
					<label for="email">
						Email for Report Posting 
					</label>
					<input name="rEmail" type="email" ng-model="rEmail" placeholder="e.g. abc@yahoo.com" maxlength="100" required>
					<div ng-messages="basic.rEmail.$error">
						<div ng-message="md-maxLength">Email must be less than 100 characters long</div>
					    <div ng-message="email">Invalid Email</div>
					</div>
				</md-input-container>
			</div>
			<hr>
			<div align="center">
			    <input type="submit" value="Save" id="save" class="btn btn-lg btn-success" ng-disabled="reportFlag" ng-click="processReportForm($event)">
			</div>
		</div>	
    </md-tab>
    
    <md-tab label="User Management">
		<div layout="column" class="pnl-margin" >
			TO BE PROVIDED
		</div>
    </md-tab>

	</md-tab>
</md-tabs>
</form>