angular.module('MainApp', ['ngMaterial','ui.bootstrap','ngMessages','ngRoute','ngDragDrop','calFilters'])
<script src="/cache/js/lib/jquery/jquery-ui/jquery-ui.min.js"></script>
<script src="/cache/js/lib/angular/angular-dragdrop.js"></script>
<div class='pnl-margin ng-cloak'>

	<div class="panel panel-primary">
    	<div class="panel-heading stat-text">Statistic</div>
    	<div class="panel-body">
        	<div class="stat-main" data-drop="true" data-jqyoui-options ng-model="list1" jqyoui-droppable flex>
				<div class="btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{animate:true}" ng-hide="!list1.title" flex>{{list1.title}}</div>
			</div>
		</div>
	</div>
			

	<div class="panel panel-success">
    	<div class="panel-heading stat-text">Graphs</div>
   		<div class="panel-body">
   			<div layout="row">
				<div class="stat-sub panel panel-success" data-drop="true" data-jqyoui-options ng-model="list2" jqyoui-droppable>
				  <div class="btn-success" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list2" jqyoui-draggable="{animate:true}" ng-hide="!list2.title">{{list2.title}}</div>
				</div>
				<div class="stat-sub panel panel-success" data-drop="true" data-jqyoui-options ng-model="list3" jqyoui-droppable>
				  <div class="btn-success" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list3" jqyoui-draggable="{animate:true}" ng-hide="!list3.title">{{list3.title}}</div>
				</div>
			</div>
		</div>
	</div>
</div>