.profiler {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 640px) {
  .profiler {
    flex-direction: column;
  }
  .user:nth-child(even) {
    text-align: right
  }
}

.user {
  padding: 30px;
}

.name {
  font-weight: bold;
}

.divider {
  text-align: left;
}

@media only screen and (min-width: 641px) {
  .user {
    padding: 15px;
  }
  .name {
    font-weight: bold;
    text-align: center;
  }
  .divider {
    text-align: center;
  }
}
