@import "../lib/colors";
@import "../lib/fonts";
@import "../lib/breakpoints";
@import "../lib/shadows";

.footer {
  @include font-normal($font-size-foot);
  color: $color-footer-foreground;
  background: $color-footer-background;

  .footer-divider {
    @include bgcolor-gradient();
    box-shadow: $shadow-depth;
    height: 30px;
  }

  .footer-container {
    padding: 10px;
    @include breakpoint($breakpoint-phone) {
      padding: 10px 30px 30px 30px;
    }

    .footer-section-one {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 40px;
      justify-content: flex-start;
      padding-top: 10px;

      a, img {
        flex: 0 1 auto;
        height: inherit;
      }
      div:last-child {
        flex: 1 1 auto;
        text-align: right;
      }

      .footer-section-one-link {
        @include breakpoint(max-width $breakpoint-phone) {
          span {
            display: none;
          }
        }
      }
    }

    .footer-section-two {
      padding-left: 10px;

      a {
        font-size: $font-size-foot-link;
        padding: 0 10px 0 0;
      }
    }

    .footer-section-three {
      padding-top: 5px;
      padding-left: 10px;
    }

    .footer-contact {
      padding-top: 40px;
      padding-bottom: 20px;

      div {
        padding-top: 10px;
        @include font-normal($font-size-foot-link);

        a {
          font-weight: bold;
          color: $color-links-email;
        }
      }
    }
  }

  .footercontactemail-enter {
    height: 0;
  }

  .footercontactemail-enter.footercontactemail-enter-active {
    height: 100%;
    transition: height 200ms;
  }

  .footercontactemail-leave {
    opacity: 1;
  }

  .footercontactemail-leave.footercontactemail-leave-active {
    opacity: 0.01;
    transition: opacity 200ms ease-in;
  }
}
