@import "../lib/colors";
@import "../lib/fonts";
@import "../lib/breakpoints";

.localeselector {

  width: 150px;

  .localeselector-dropdown {
    input, li {
      font-size: $font-size-localize-dropdown;
      text-align: left;
    }
  }
}
