@import "../lib/colors";
@import "../lib/fonts";
@import "../lib/breakpoints";

.localize {

  width: 150px;

  .localize-dropdown {
    input, li {
      font-size: $font-size-localize-dropdown;
      text-align: left;
    }
  }
}
