@import "../lib/colors";
@import "../lib/fonts";
@import "../lib/breakpoints";
@import "../vendor/reacttoolbox";

.localeselector {
  display: inline-block;

  .localeselector-table {
    display: table;
    text-align: left;

    .localeselector-cell {
      display: table-cell;
      padding-left: 10px;
    }
  }

  .localeselector-dropdown {
    background-color: $color-dropdown-background;
    border-radius: 4px;

    div {
      padding: 0 0 0 10px;
    }

    input, li {
      border-bottom: 0;
      font-size: $font-size-localize-dropdown;
      text-align: left;
    }

    ul {
      background-color: $color-dropdown-background;
      margin: 0;
      padding-left: 0;
    }
  }
}
