@import "../lib/colors";
@import "../lib/animations";
@import "../lib/shadows";

$minimum-width: 8px;
$border-radius: 0 25px 25px 0;
$margin: 13px 0 13px -8px;
$height: 50px;

.stickytitle {
  display: block;
  position: relative;
  height: $height + 5;
  text-align: left;

  .stickytitle-anim {
    background: $color-stickytitle-background;
    color: $color-stickytitle-foreground;
    filter: drop-shadow($shadow-depth $color-shadow);
    padding: 0 10px;
    position: absolute;
    height: $height;
    text-align: left;
    width: 100%;
    z-index: 998;

    h3 {
      font-size: 15pt;
      margin: $margin;
      text-align: center;
    }

    &.stickytitle-pushbackward {
      animation: pushwidth 0.1s;
    }

    &.stickytitle-pullbackward {
      animation: pullwidth 0.1s;
      border-radius: $border-radius;
      position: fixed;
      width: $minimum-width;

      &:hover {
        background: $color-stickytitle-hover-background;
        cursor: pointer;
        z-index: 999;
      }

      h3 span.stickytitle-hide {
          display: none;
      }
    }
  }
}


@keyframes pushwidth {
  from {
    border-radius: $border-radius;
    width: $minimum-width;
  }
  to {
    border-radius: 0;
    width: 90%;
  }
}

@keyframes pullwidth {
  from {
    width: 90%;
    border-radius: 0;
  }
  to {
    width: $minimum-width;
    border-radius: $border-radius;
  }
}
