:global {
  #p-h{
    &.p-f{
      height: 0;
      opacity: 0;
      transition: opacity 0.3s,height 0.3s;
    }
  }
  .p-c{
    &.p-f{
      display: block;
      opacity: 1;
      transition:opacity 0.5s;
    }
  }
}
