<!DOCTYPE html>
html
  head
    title Colors
  body(style="background:#EEE")
    table
      tr
        th Color
        th Contrast
        th Usage
      tr
        td(style="background:#55ddff") #55ddff
        td(style="background:#00ccff") #00ccff
        td Background
      tr
        td(style="background:#1e88e5") #1e88e5
        td(style="background:#1976d2") #1976d2
        td Background
      tr
        td(style="background:#fc0") #fc0
        td(style="background:#d4aa00") #d4aa00
        td Background
      tr
        td(style="background:#ff0000") #ff0000
        td(style="background:#d40000") #d40000
        td Background
      tr
        td(style="background:#b3b3b3") #b3b3b3
        td(style="background:#808080") #808080
        td Background
      tr
        td(style="background:#aad400") #aad400
        td(style="background:#88aa00") #88aa00
        td Background
      tr
        td(style="background:#fff6d5") #fff6d5
        td(style="background:#ffeeaa") #ffeeaa
        td Background
    </table>
  </body>
</html>
