<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description" content="Walcron is a basic company setup by Yoong Han and Lee Wan, used as a profile page.")
    meta(name="og:title" content="Walcron")
    meta(name="og:type" content="profile")
    meta(name="og:image" content="http://www.walcron.com/cache/img/jomjaring.jpg")
    meta(name="og:description" content="Walcron is a basic company setup by Yoong Han and Lee Wan, used as a profile page.")
    meta(name="fb:admins" content="jomjaring@gmail.com")
    link(rel="author" href="https://plus.google.com/u/1/114852108498604797792")
    title Walcron
    include ../incl/header.incl
    style.
      body,html {
        height: 100%;
      }
      
      .page-wrap {
        min-height: 100%;
        margin-bottom: 200px;
      }
      .page-wrap:after {
        content: "";
        display: block;
        height: 200px;
      }
      
      #footer {
        position: absolute;
        bottom: 0;
        height: 200px;
      }
  body(class="wal", style="background-color:blue")
    div(class="page-wrap")
      div(style="position:relative") Test Here
      div(style="position:relative") Test Here 2
      div(style="position:relative") Test Here 3
    div(id="footer")
      div(class="footer-pointer")
      div(class="footer-info")
        span(style="font-style:italic")
        div(style="display:table")
          div(style="display:table-cell")
            ul
              li NodeJS
              li Sass
              li Typescript
          div(style="display:table-cell")
            ul
              li AngularJS 2
              li GSocks
              li RequireJS
      div(class="footer-trade")
        span(class="footer-trademark") 2016 Walcron coorperate
    script.
      var init = function() {
        var body = document.body,
            dupFooter,
            dupFooterPointer,
            height = 0,
            degrees = 0,
            timer;
        
          var execute = function(tweenMax, timelineMax) {
            var footer = document.getElementById('footer');
            dupFooter = footer.cloneNode(true);
            duplicateFooter();
            addClick(footer, dupFooter);
          }
        
          var duplicateFooter = function() {
            dupFooter.style.bottom = 0;
            dupFooter.style.position = 'fixed';
            dupFooter.style.display = 'none';
            var trademark = dupFooter.getElementsByClassName('footer-trade')[0];
            trademark.style.position ='fixed';
            trademark.style.bottom = 0;
            var comment = dupFooter.getElementsByClassName('footer-info')[0];
            comment.style.display = 'block';
            document.body.appendChild(dupFooter);
          }
        
          var addClick = function(footer, dupFooter) {
            var footerClickOpen = footer.getElementsByClassName('footer-pointer')[0];
            
            dupFooterPointer = dupFooter.getElementsByClassName('footer-pointer')[0];
            
            footer.addEventListener(
              'click',
              function(event) {
                execOpen();
              }
            );
            dupFooter.addEventListener(
              'click',
              function(event) {
                execClose();
              }
            );
          };
        
          var execOpen = function() {
            setTimerOpen(dupFooter, dupFooterPointer, true);
          };
        
          var execClose = function(that) {
            setTimerOpen(dupFooter, dupFooterPointer, false);
          };
          
          var setTimerOpen = function(dupFooter, pointer, open) {
            var action = -1;
                
            if(open) {
              action = 1;
              dupFooter.style.display = 'block';
            };
                
            if(timer) {
              window.clearTimeout(timer);
            };
            
            timer = setInterval(function() {
              height += (5 * action) ; //adjusted according to smoothness
              degrees += (9 * action); //adjust according to time.
              dupFooter.style.height = height + 'vh';
              pointer.style.transform = "rotate(" + degrees + "deg)"
              if(height <= 0 || height >= 100) {
                clearTimeout(timer);
                if(height <= 0) {
                  dupFooter.style.display = 'none';
                }
              }
            }, 5);
          };
        
          execute();
        }();
