html
  head
    link(href='/public/css/material-lite/material.min.css' rel='stylesheet')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel='stylesheet')
  body
    table
      tr
        td text field
        td
          form
            div(class="mdl-textfield mdl-js-textfield")
              input(class="mdl-textfield__input", type="text", id="sample1")
              label(class="mdl-textfield__lable", for="sample1") TextMe
