<!DOCTYPE html>
html
  head
    title Grid
    include ../incl/header.incl
  body(class="wal")
    div(class="grid-container")
      div(class="tableLike")
        h2  Oracle Database
        table
          tr
            td SQL Locks
            td
              pre.
                select
                object_name, 
                object_type, 
                session_id, 
                type, -- Type or system/user lock
                lmode, -- lock mode in which session holds lock
                request, 
                block, 
                ctime -- Time since current mode was granted
                from
                v$locked_object, all_objects, v$lock
                where
                v$locked_object.object_id = all_objects.object_id AND
                v$lock.id1 = all_objects.object_id AND
                v$lock.sid = v$locked_object.session_id
                -- For Load performance do add when.
                --AND ctime
          tr
            td Long Running Queries
            td
              pre.
                select S.USERNAME, s.sid, s.osuser, t.sql_id, sql_text
                from v$sqltext_with_newlines t,V$SESSION s
                where t.address =s.sql_address
                and t.hash_value = s.sql_hash_value
                and s.status = 'ACTIVE'
                and s.username <> 'SYSTEM'
                and last_call_et> 60
                order by s.sid,t.piece;
        h2 <i class="fa fa-arrow-circle-o-up"></i> Web Development
        table
          tr
            td Useful WEB Debugging WEB Tools
            td
              pre.
                Firebug - Plugin for Firefox to alter and edit on site HTML (Firefox), Chrome and IE comes prebuilt.
                Modify Headers - Plugin for Firefox to alter header (User-Agent: and X-MSISDN:)
                HttpWatch - Plugin for Firefox to monitor Website response/retrievals. It also shows if browser uses cache or retrieve data directly.
                Live HTTP headers - View Content-Type responses.
                Fiddler - Change incoming response to browser and outgoing responses.
    
