<!DOCTYPE html>
html
  head
    title List
    include ../incl/header.incl
  body(class="wal")
    div(class="wrap")
      div(class="menu") Hello there
      div(class="menu") Hello there
    include ../incl/footer.incl
