<!DOCTYPE html>
html
  head
    meta(charset="ISO-8859-1")
    meta(name="robots", content="noindex")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title Menu
    include ../incl/header.incl
  body
    div(class="wal")
      div(id="breadcrumb")
        div(class="logo logo-text") 
          a(href="/") Walcron
      div(class="screen-section first" style="background: #888888;position:relative")
        div(class="menu-links")
          ul
            li
              a(href="#") About Us
            li
              a(href="#") Contact Us
    include ../incl/footer.incl
