<!DOCTYPE html>
html
  head
    meta(charset="ISO-8859-1")
    meta(name="robots", content="noindex")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title This is a movie
    include ../incl/header.incl
  body
    div(class="wal")
      div(class="stage")
        div(class="cube")
          figure(class="back") 1
          figure(class="top") 2
          figure(class="bottom") 3
          figure(class="left") 4
          figure(class="right") 5
          figure(class="front") 6
