<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description" content="Walcron is a basic company setup by Yoong Han and Lee Wan, used as a profile page.")
    meta(name="og:title" content="Walcron")
    meta(name="og:type" content="profile")
    meta(name="og:image" content="http://www.walcron.com/cache/img/jomjaring.jpg")
    meta(name="og:description" content="Walcron is a basic company setup by Yoong Han and Lee Wan, used as a profile page.")
    meta(name="fb:admins" content="jomjaring@gmail.com")
    link(rel="author" href="https://plus.google.com/u/1/114852108498604797792")
    title Walcron
    include ../incl/header.incl
  body(class="wal")
    div(class="screen-section cover")
      div(class="menu-links")
        ul
          li
            a(href="#") About Us
          li
            a(href="#") Blog
      div(class="splash-layer")
        div(class="oval")
        div(class="title")
          span Walcron
      div(class="mini-layer")
        div(class="transparent")
          table(class="middle")
            tr
              td(class="icon-lg-cell")
                i(class="fa fa-arrow-circle-o-down icon-lg")
              td
                span To an extraordinary website specifically built and cater for programmers and endusers alike. <br>Scroll down below for more information.
