<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description" content="Walcron is a basic company setup by Yoong Han and Lee Wan, used as a profile page.")
    meta(name="og:title" content="Walcron")
    meta(name="og:type" content="profile")
    meta(name="og:image" content="http://www.walcron.com/cache/img/jomjaring.jpg")
    meta(name="og:description" content="Walcron is a basic company setup by Yoong Han and Lee Wan, used as a profile page.")
    meta(name="fb:admins" content="jomjaring@gmail.com")
    link(rel="author" href="https://plus.google.com/u/1/114852108498604797792")
    title Walcron
    include ../incl/header.incl
  body(class="wal plate-listing cover_blur")
    div(class="screen-section cover")
      div(class="splash-layer")
        h1(class="logo-text") Walcron 
        div(class="desc")
          span Where getting drunk is a privilege
      div(class="mini-layer")
        div(class="divider")
        svg(class="hide")<symbol id="atom" viewBox="0 0 99.999997 99.999997"><g transform="translate(0 -952.362)" stroke="#aaa" stroke-linecap="round"><ellipse cx="49.721" cy="1004.421" rx="26.529" ry="26.529" fill="none" stroke-width="4.714"/><path transform="matrix(.75316 -.65783 .58495 .81107 0 0)" d="M-523.35 781.373a48.77 6.816 0 0 1 20.233 7.545 48.77 6.816 0 0 1-45.38 4.97 48.77 6.816 0 0 1-47.576-4.55 48.77 6.816 0 0 1 16.71-7.713" fill="none" stroke-width="2.32" stroke-dasharray="2.32001132,4.64002262"/><path d="M-600.343 715.11a48.77 6.816 0 0 1 20.233 7.545 48.77 6.816 0 0 1-45.38 4.97 48.77 6.816 0 0 1-47.577-4.55 48.77 6.816 0 0 1 16.71-7.713" transform="matrix(-.75316 -.65783 -.58495 .81107 0 0)" fill="none" stroke-width="2.32" stroke-dasharray="2.32001132,4.64002262"/><path d="M151.682 998.586a48.77 6.816 0 0 1 20.233 7.545 48.77 6.816 0 0 1-45.38 4.97 48.77 6.816 0 0 1-47.577-4.55 48.77 6.816 0 0 1 16.71-7.712" transform="matrix(.99984 -.01793 -.0751 .99718 0 0)" fill="none" stroke-width="2.32" stroke-dasharray="2.32001132,4.64002264"/><path transform="matrix(.01793 .99984 -.99718 -.0751 0 0)" d="M1026.054-41.018a48.77 6.816 0 0 1 20.233 7.545 48.77 6.816 0 0 1-45.38 4.97 48.77 6.816 0 0 1-47.577-4.55 48.77 6.816 0 0 1 16.71-7.712" fill="none" stroke-width="2.32" stroke-dasharray="2.32001132,4.64002264"/><circle transform="rotate(-133.592)" cx="-762.39" cy="-609.993" r="4.714" fill="#fff" fill-opacity=".886" stroke-width="1.885"/><circle transform="rotate(-133.592)" cx="-772.713" cy="-646.095" r="4.714" fill="#fff" stroke-width="1.885"/><circle r="4.714" cy="-647.515" cx="-725.623" transform="rotate(-133.592)" fill="#fff" fill-opacity=".886" stroke-width="1.885"/><circle transform="rotate(-133.592)" cx="-786.75" cy="-681.023" r="4.714" fill="#fff" fill-opacity=".886" stroke-width="1.885"/></g></symbol><symbol id="atom_on" viewBox="0 0 99.999997 99.999997"><g transform="translate(0 -952.362)" stroke="#fff" stroke-linecap="round"><ellipse cx="49.721" cy="1004.421" rx="26.529" ry="26.529" fill="#48769a" fill-opacity=".886" stroke-width="4.714"/><path transform="matrix(.75316 -.65783 .58495 .81107 0 0)" d="M-523.35 781.373a48.77 6.816 0 0 1 20.233 7.545 48.77 6.816 0 0 1-45.38 4.97 48.77 6.816 0 0 1-47.576-4.55 48.77 6.816 0 0 1 16.71-7.713" fill="none" stroke-width="2.32" stroke-dasharray="2.32001132,4.6400226199999999"/><path d="M-600.343 715.11a48.77 6.816 0 0 1 20.233 7.545 48.77 6.816 0 0 1-45.38 4.97 48.77 6.816 0 0 1-47.577-4.55 48.77 6.816 0 0 1 16.71-7.713" transform="matrix(-.75316 -.65783 -.58495 .81107 0 0)" fill="none" stroke-width="2.32" stroke-dasharray="2.32001132,4.6400226199999999"/><path d="M151.682 998.586a48.77 6.816 0 0 1 20.233 7.545 48.77 6.816 0 0 1-45.38 4.97 48.77 6.816 0 0 1-47.577-4.55 48.77 6.816 0 0 1 16.71-7.712" transform="matrix(.99984 -.01793 -.0751 .99718 0 0)" fill="none" stroke-width="2.32" stroke-dasharray="2.32001132,4.6400226399999998"/><path transform="matrix(.01793 .99984 -.99718 -.0751 0 0)" d="M1026.054-41.018a48.77 6.816 0 0 1 20.233 7.545 48.77 6.816 0 0 1-45.38 4.97 48.77 6.816 0 0 1-47.577-4.55 48.77 6.816 0 0 1 16.71-7.712" fill="none" stroke-width="2.32" stroke-dasharray="2.32001132,4.6400226399999998"/><circle transform="rotate(-133.592)" cx="-763.179" cy="-634.802" r="4.714" fill="#48769a" fill-opacity=".886" stroke-width="1.885"/><circle transform="rotate(-133.592)" cx="-743.817" cy="-676.815" r="4.714" fill="#48769a" stroke-width="1.885"/><circle r="4.714" cy="-658.549" cx="-720" transform="rotate(-133.592)" fill="#48769a" fill-opacity=".886" stroke-width="1.885"/></g></symbol><symbol id="bulb" viewBox="0 0 100 100"><g transform="translate(0 -952.362)" fill="none" stroke="#aaa"><path d="M867.008-518.996a30.902 30.846 0 0 1-22.677 30.802 30.902 30.846 0 0 1-35.278-14.866 30.902 30.846 0 0 1 6.295-37.704 30.902 30.846 0 0 1 38.202-2.643" transform="matrix(-.47932 .87764 -.86995 -.49314 0 0)" stroke-width="5" stroke-linecap="round"/><rect width="29.983" height="8.81" x="34.69" y="1016.746" ry="3.364" stroke-width="5" stroke-linecap="round"/><rect width="29.983" height="8.81" x="34.69" y="1025.586" ry="3.364" stroke-width="5" stroke-linecap="round"/><rect width="30.138" height="8.807" x="34.692" y="1034.436" ry="3.363" stroke-width="5" stroke-linecap="round"/><path d="M61.486 1043.535a11.717 6.172 0 0 1-11.468 6.17 11.717 6.172 0 0 1-11.956-5.907l11.707-.263z" stroke-width="5" stroke-linecap="round"/><path d="M42.01 1016.658l-2.055-31.44-7.33.157 12.512 12.513 3.13-12.513h-3.13l4.71 12.987 4.675-12.987h-3.128l3.128 12.513 12.514-12.513-6.857-.158-2.53 31.44" stroke-width="3"/></g></symbol><symbol id="bulb_on" viewBox="0 0 100 100"><g transform="translate(0 -952.362)"><path d="M867.008-518.996a30.902 30.846 0 0 1-22.677 30.802 30.902 30.846 0 0 1-35.278-14.866 30.902 30.846 0 0 1 6.295-37.704 30.902 30.846 0 0 1 38.202-2.643" transform="matrix(-.47932 .87764 -.86995 -.49314 0 0)" fill="#48769a" stroke="#fff" stroke-width="5" stroke-linecap="round"/><rect width="29.983" height="8.81" x="34.69" y="1016.746" ry="3.364" fill="#48769a" stroke="#fff" stroke-width="5" stroke-linecap="round"/><rect width="29.983" height="8.81" x="34.69" y="1025.586" ry="3.364" fill="#48769a" stroke="#fff" stroke-width="5" stroke-linecap="round"/><rect width="30.138" height="8.807" x="34.692" y="1034.436" ry="3.363" fill="#48769a" stroke="#fff" stroke-width="5" stroke-linecap="round"/><path d="M61.486 1043.535a11.717 6.172 0 0 1-11.468 6.17 11.717 6.172 0 0 1-11.956-5.907l11.707-.263z" fill="#48769a" stroke="#fff" stroke-width="5" stroke-linecap="round"/><path d="M42.01 1016.658l-2.055-31.44-7.33.157 12.512 12.513 3.13-12.513h-3.13l4.71 12.987 4.675-12.987h-3.128l3.128 12.513 12.514-12.513-6.857-.158-2.53 31.44" fill="#48769a" fill-opacity=".886" fill-rule="evenodd" stroke="#fff" stroke-width="3"/><path d="M91.105 966.318l-2.996-5.207-2.997-5.205-3.01 5.2-3.012 5.2 6.008.006zM9.55 966.318l2.995-5.207 2.996-5.205 3.012 5.2 3.01 5.2-6.006.006zM91.105 1012.473l-2.996 5.207-2.997 5.206-3.01-5.2-3.012-5.2 6.008-.006zM9.55 1012.473l2.995 5.207 2.996 5.206 3.012-5.2 3.01-5.2-6.006-.006zM95.864 995.793l.132-6.005.132-6.006-5.268 2.89-5.268 2.89 5.136 3.116zM3.985 995.793l-.13-6.005-.133-6.006 5.267 2.89 5.267 2.89-5.136 3.116z" fill="#fff" fill-opacity=".886"/></g></symbol><symbol id="objective" viewBox="0 0 100 100"><g transform="translate(0 -952.362)" stroke="#aaa" stroke-linecap="round"><circle cx="50" cy="1002.362" r="45" fill="none" stroke-width="5"/><circle cx="50" cy="1002.362" r="35" fill="none" stroke-width="5"/><circle cx="50" cy="1002.362" r="25" fill="none" stroke-width="5"/><circle cx="50" cy="1002.362" r="15" fill="none" stroke-width="5"/><circle cx="50" cy="1002.362" r="5" fill="#aaa" stroke-width="2"/></g></symbol><symbol id="objective_on" viewBox="0 0 100 100"><g transform="translate(0 -952.362)"><circle cx="50" cy="1002.362" r="45" fill="none" stroke="#fff" stroke-width="5" stroke-linecap="round"/><circle cx="50" cy="1002.362" r="35" fill="none" stroke="#fff" stroke-width="5" stroke-linecap="round"/><circle cx="50" cy="1002.362" r="25" fill="none" stroke="#fff" stroke-width="5" stroke-linecap="round"/><circle cx="50" cy="1002.362" r="15" fill="none" stroke="#fff" stroke-width="5" stroke-linecap="round"/><circle cx="50" cy="1002.362" r="5" fill="#fff" stroke="#fff" stroke-width="2" stroke-linecap="round"/><path d="M13.93 1008.79s5.67 3.887 10.713 8.93C29.686 1022.76 35 1032.36 35 1032.36l53.214-67.32" fill="none" stroke="#48769a" stroke-width="6.2" stroke-linecap="square"/></g></symbol>
        div(class="icon-listing-center")
          div(class="icon-listing")
            div(class="icon plate-trigger active")
              svg
                use(xlink:href="#bulb")
              div Introduction
            div(class="icon plate-trigger")
              svg
                use(xlink:href="#objective")
              div Our Objective
            div(class="icon plate-trigger")
              svg
                use(xlink:href="#atom")
              div Projects
    div(class="screen-section")
      div(class="grid-container")
        div(class="force-awakens plate")
          h2 Created in accordance to the big bang theory. 
          div(class="panel")
            div(class="desc underline") <i class="fa fa-globe" style="font-size: 40pt; display:inline-block"></i> Our vision is to uncover and rediscover ways to advance our normal daily lifes as programmers. With internet, technologies has been moving like an expanding universe; new tech terms are created like stars. As before the big crunch happens, we will continue to improve this humble site in whichever way possible.
            div
              a(class="button red" href="#")
                i(class="fa fa-users") 
                span About Us
        div(class="force-awakens plate")
          h2 We aim for efficiency.
          div(class="panel")
            div(class="desc") Our main objectives for development are:
            div(class="table center")
              div(class="row")
                div(class="cell") <i class="fa fa-cogs"></i>
                div(class="cell") Reactive
                div(class="cell") The website is in asynchronous, threaded and served concurrently.
              div(class="row")
                div(class="cell") <i class="fa fa-gamepad"></i>
                div(class="cell") Responsive
                div(class="cell") Interactive, animated and always indicated.
            div(style="font-size: 50pt; padding-top: 12pt;") - <i class="fa fa-space-shuttle"></i> - -  
            div 
              i [ "Don't wish, try!" ]
        div(class="force-awakens plate")
          h2 Our projects.
          div(class="panel")
            div(class="t-panel")
              img(src="/images/calendar.svg")
            div(class="t-panel")
              img(src="/images/blog.svg")
            div(class="t-panel")
              img(src="/images/GitHub_Logo.svg")
            div(class="t-panel") Events
            div(class="t-panel") Our blogging site
            div(class="t-panel") Shared source
            div(class="t-panel")
              a(class="button red" href="#")
                span Manage
            div(class="t-panel")
              a(class="button red" href="#")
                span Visit
            div(class="t-panel")
              a(class="button red" href="#")
                span View
    div(class="screen-section footer")
      table
        tr
          th Site Map
        tr
          td
            ul
              li <a href="">About Us</a>
              li <a href="">Site Blog</a>
      table
        tr
          th Afflitates
        tr
          td
            ul
              li <a href="">Events</a>
              li <a href="">Blog</a>
              li <a href="mailto:mailyoonghan@gmail.com">Contact Us</a>
    include ../incl/footer.incl
