<p>
<div class="jumbotron" ng-show="edit">

Re-Setup your profile here.

</div>
</p>

<div class="alert alert-danger" ng-show="errors" role="alert" ng-cloak>
    <strong>Oh Snap, </strong> please check if there's some input errors:
    <ul ng-repeat="error in errors">
        <li>{{error}}</li>
    </ul>
</div>
<!-- Input form for user -->


	<form name="profile" class="form-inline">

<table class="table table-striped">
<!-- First Name -->
<tbody>
<tr>
<td>
		<label for="fstName" class="required">First Name:</label>
</td>
<td>
		<input name="fstName" class="form-control" type="text" ng-model="fstName" required ngMaxlength="30" autofocus>
		<span class="alert alert-danger alertmsg" ng-show="profile.fstName.$error.required">Required!</span>
</td>
</tr>		
<!-- Middle Name -->
<tr>
<td>	
		<label for="midName">Middle Name:</label>
</td>
<td>
		<input name="midName" class="form-control" type="text" ng-model="midName" ngMaxlength="30">
</td>
</tr>
<!-- Last Name -->
<tr>
<td>		
		<label for="lstName" class="required">Last Name:</label>
</td>
<td>
		<input name="lstName" class="form-control" type="text" ng-model="lstName" required ngMaxlength="30">
		<span class="alert alertmsg alert-danger" ng-show="profile.lstName.$error.required">Required!</span>
</td>
</tr>
<!-- Gender -->
<tr>
<td>
		<label for="gender" class="required">Gender:</label>
</td>
<td>
		<div class="radio">
		<label><input type="radio" ng-model="gender" value="M"> Male </label>
		<label><input type="radio" ng-model="gender" value="F"> Female </label>
		<label><input type="radio" ng-model="gender" value="O"> Not to be specified </label>
		</div>
</td>
</tr>
<!-- Email -->
<tr>
<td>
	<label for="email" class="required">Email Contact</label>
</td>
<td>
	<input name="email" class="form-control" type="email" ng-model="email" placeholder="e.g. abc@yahoo.com" ng-maxlength="100">
	<span class="alert alertmsg alert-danger" ng-show="profile.email.$error.maxlength">Maximum 100 characters</span>
	<span class="alert alertmsg alert-danger" ng-show="profile.email.$error.email">Invalid email</span>
</td>
</tr>
<!-- Contact No -->
<tr>
<td>
		<label for="ctcNo">Contact No:</label>
</td>
<td width="80%">
		<input name="ctcNo" class="form-control" type="text" ng-model="ctcNo" placeholder="e.g. +60123456789" ng-pattern="number">
		<span class="alert alertmsg alert-danger" ng-show="profile.ctcNo.$error.pattern">Only (+)012345678 with 13 numbers are allowed</span>
</td>
</tr>
<!-- Country -->
<tr>
<td>
		<label for="cntry" class="required">Country</label>
</td>
<td>
		<select name="cntry" class="form-control" ng-model="cntry" required>
      		<option value="MY">Malaysia</option>
    	</select>
</td>
</tr>
<!-- State [Hard coded reason being it's never changed]-->
<tr>
<td>
		<label for="state" class="required">State</label>
</td>
<td>
		<select name="state" class="form-control" ng-model="state" required ng-options="stat.value for stat in states" autofocus>
			 <option value="">-- Choose a State --</option>
    	</select>

    	<span class="alert alertmsg alert-danger" ng-show="profile.state.$error.required">Required!</span>
</td>
</tr>

<!-- Postal Code -->
<tr>
<td>
	<label for="pstCd" class="required">Postal Code</label>
</td>
<td>
	<input name="pstCd" class="form-control" type="text" ng-model="pstCd" placeholder="e.g. 45000" ng-pattern="postalCd">
	<span class="alert alertmsg alert-danger" ng-show="profile.pstCd.$error.pattern">Invalid Postal Code</span>
</td>
</tr>
<!-- Address -->
<tr>
<td>
	<label for="addr" class="required">Address</label>
</td>
<td>
	<input name="addr" class="form-control" type="text" ng-model="addr" placeholder="e.g. House No, Street Address, City" ng-maxlength="100" style="width:100%">
	<span class="alert alertmsg alert-danger" ng-show="profile.addr.$error.maxlength">Maximum 100 characters</span>
</td>
</tr>
<tr>
<td colspan="2" align="center">    	
    <input type="submit" value="Submit" id="submit" class="btn btn-lg btn-success" ng-disabled="flag" ng-show="!edit" ng-click="processForm()" >
    <input type="submit" value="Save" id="save" class="btn btn-lg btn-success" ng-disabled="flag" ng-show="edit" ng-click="processForm()" >
    <button type="button" id="cancel" class="btn btn-lg btn-primary" ng-click="cancel()" ng-show="edit" ng-disabled="tutorialRun">Return</button>
</td>
</tr>
</tbody>
</table>
</form>

    <script type="text/ng-template" id="popupdialog.html">
        <div class="modal-header">
            <h3 class="modal-title">Thank you for registering with us!</h3>
        </div>
        <div class="modal-body" ng-show="status=='new'">
            Your registration has been completed. You can now proceed to the site.
        </div>
		<div class="modal-body" ng-show="status!='new'">
            Your registration has been saved.
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()" ng-model="btnOK">OK</button>
        </div>
    </script>
    
