<p>
<div class="jumbotron">

Configure the preference of your calendar reminder here.

</div>
</p>

	<div class="alert alert-danger" ng-show="errors" role="alert" ng-cloak>
        <strong>Oh Snap, </strong> there is an error:
        <ul ng-repeat="error in errors">
            <li>{{error}}</li>
        </ul>
	</div>
	
	<form class="form-horizontal" role="form" name="setting">
	
	
		<div class="form-group">
			<label class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-question-sign" tooltip="[[tt.reminder]]" tooltip-trigger="mouseenter" tooltip-placement="bottom"></span>
			Reminder
			</label>
			<label class="col-sm-10">
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="r_day" name="r_day" autofocus>One Day Before
					</label>
				</div>
				<br>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="r_week" name="r_week">One Week Before
					</label>
				</div>
			</label>
		</div>
		<hr>
		<div class="form-group">
			<label class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-question-sign" tooltip="[[tt.notification]]" tooltip-trigger="mouseenter" tooltip-placement="bottom"></span>
			Notification
			</label>
			<label class="col-sm-10">
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="chk_email" name="chk_email">
						<span ng-show="!chk_email">via Email</span>
						<p ng-show="chk_email && !isValidEmail" class="alert alert-warning">[[wr.emailver]]</p>
						<input ng-show="chk_email" class="form-control" style="display:inline;width:initial" ng-show="chk_email"  name="n_email" type="email" ng-model="n_email" placeholder="e.g. abc@yahoo.com" maxlength="200">
						<input type="button" ng-show="chk_email && !isValidEmail" ng-click="resentEmailValidator()" value="{{emailValidate}}" ng-disabled="emailValidateFlag" class="btn btn-success">
						<span id="emailInvalid" class="alert alert-danger alertmsg" ng-show="chk_email && setting.n_email.$error.email">Email provided is invalid!</span>
						<span id="emailBlank" class="alert alert-danger alertmsg" ng-show="chk_email && (setting.n_email.$viewValue==='' || setting.n_email.$viewValue===undefined)">Email must not be blank</span>
					</label>
				</div>
				<br>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="chk_sms" name="chk_sms">
						<span ng-show="!chk_sms"><strike>via SMS</strike></span>
						<!-- input class="form-control" style="display:inline;width:initial" ng-show="chk_sms" name="n_sms" type="text" ng-model="n_sms" placeholder="e.g. +60123456789" ng-pattern="number" maxlength="13"-->
						<span ng-show="chk_sms" style="color:red">Sorry, at the moment we do not support this.</span>
						<!--span class="alert alert-danger alertmsg" ng-show="chk_sms && setting.n_sms.$error.pattern">Only +012345678 or 0123456 numbers allowed</span-->
					</label>
						
				</div>
			</label>
		</div>
		<hr>
		<div class="checkbox" ng-show="allowSetup">
			<label class="col-sm-1">
				
			</label>
			<label class="col-sm-11">
				<input type="checkbox" ng-model="allowCreation" name="allowCreation">
				<span>Request for access rights to set up a calendar schedule.</span>
				<br>
				<span ng-show="allowCreation">We're Opening this for User subscription <a class="btn btn-primary" ng-href="{{clickCreate}}">Make me an Admin</a>.</span>
			</label>
		</div>
		<hr>
		<div colspan="2" align="center">    	
		    <input type="submit" value="Save" id="save" class="btn btn-lg btn-success" ng-disabled="flag" ng-click="save()">
		    <button type="button" id="cancel" class="btn btn-lg btn-primary" ng-click="cancel()" ng-disabled="tutorialRun">Return</button>
		</div>
		<br>
		
		<script type="text/ng-template" id="popupdialog.html">
			<div class="modal-header">
				<h3 class="modal-title">Saved</h3>
			</div>
			<div class="modal-body">
				Your reminder has been saved.
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="ok()" ng-model="btnOK">OK</button>
			</div>
    	</script>
	</form>

	