<p>
<div class="jumbotron">

Subscribe yourself to the available event organizers. All your calendar settings are based on this.

</div>
</p>

<div class="alert alert-danger" ng-show="errors" role="alert" ng-cloak>
	<strong>Oh Snap, </strong> there is an error:
	<ul ng-repeat="error in errors">
		<li>{{error}}</li>
	</ul>
</div>

<form class="form-inline" role="form" name="setting" style="margin:0px 10px">

	<div class="form-group">
		<label for="cNameSearch">Filter Company Name :</label> 
		<input ng-model="cNameSearch" id="cNameSearch" placeHolder="search" class="form-control" autofocus>
	</div>

	<p/>
	<table class="table table-striped table-bordered">
		<thead>
			<th>#</th>
			<th class="imgIcon_h">Logo</th>
			<th><a href="" ng-click="predicate='cName'; reverse=!reverse">Company Name <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': predicate==='cName'&&!reverse, 'glyphicon-sort-by-alphabet-alt': predicate==='cName'&&reverse}"></i></a></th>
			<th>Description</th>
		</thead>
		<tbody>
			<tr ng-show="tutSample" id="tutSpecialRec">
				<td>Special</td>
				<td><img src="http://www.placehold.it/50x50/EFEFEF/AAAAAA&text=no+image"></td>
				<td>JOM Jaring</td>
				<td>For Sample</td>
			</tr>
			<tr class="repeated-item" ng-repeat="e in chkHostList | orderBy:predicate:reverse | filter:cNameSearch">
				<td><input type="checkbox" ng-model="e.currStat"></td>
				<td>
					<div class="img_wrapper">
				        <div class="css_spinner">
				        </div>
						<img ng-src="{{e.ext!=undefined && imageURL+'/'+e.ext+'/'+e._id.$oid || 'http://www.placehold.it/50x50/EFEFEF/AAAAAA&text=no+image'}}" class="imgIcon" alt="Image" onload="imgLoaded(this)">
					</div>
				</td>
				<td>{{e.cName}}</td>
				<td>{{e.cDesc}}</td>
			</tr>
		</tbody>
	</table>
	<hr>
	<div colspan="2" align="center">    	
	    <input type="submit" value="Save" id="save" class="btn btn-lg btn-success" ng-disabled="flag" ng-click="save()">
	    <button type="button" id="cancel" class="btn btn-lg btn-primary" ng-click="cancel()" ng-disabled="tutorialRun">Return</button>
	</div>
	<br>
	
	<script type="text/ng-template" id="popupdialog.html">
		<div class="modal-header">
			<h3 class="modal-title">Saved</h3>
		</div>
		<div class="modal-body">
			Your subscription has been saved.
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()" ng-model="btnOK">OK</button>
		</div>
	</script>
</form>