.logo-text {
  color: $logo-color !important;
  font-family: Ethnocentric !important;

  a{
    &:hover, &:visited, &:active, &:focus {
      color: $logo-color !important;
    }
  }
}

.bold {
  font-weight: bold;
}

h1 {
  @include text-resize($fontsize-h1);
}

h2 {
  color: $theme-text-title;
  text-shadow: 0 0 3px $shadow-grey;
  @include text-resize($fontsize-title);
}

h3 {
  @include text-resize($fontsize-base);
}

th {
  color: $theme-text-background-title;
}

.quotes {
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: normal;
  text-align: center;
  margin: 50px 20px;
}
