.image-overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  z-index: 999;

  .image {
    width: 96% !important;
    height: 100% !important;
    margin: 0 2%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    object-fit: contain;
  }
}
