@import "../lib/colors";
@import "../lib/fonts";

.mainscr {
  position: relative;
  background-color: $color-mainscr-background;
  color: $color-mainscr-foreground;

  canvas {
    vertical-align: bottom;
  }

  div.mainscr-container {
    position: relative;

    img.mainscr-company {
      bottom: 30px;
      left: 50%;
      height: 50px;
      position: absolute;
      transform: translateX(-50%);
      z-index: 99;
    }

    div{
      &.mainscr-cover {
        //background: url("/patternlibrary/ext/img/mainscreen.jpg");
        //background-repeat: no-repeat;
        //background-position: 0 70%;
        //background-size: cover;
        //min-height: 240px;
        width: 100%;
        z-index: 2;
      }
      &.mainscr-engine {
        @include font-normal(10pt);
        padding: 20px 0 10px 20px;
      }
    }
  }

  .mainscr-slider-container {
    margin: 0 30px 0 30px;
    padding-bottom: 30px;

    @include font-normal();
    .mainscr-slider-item {
      h3 {
        text-align: center;
      }
    }
  }

  :global {
    .slick-dots li {
      margin: 0;

      &.slick-active button:before {
        color: $color-mainscr-foreground;
      }
    }
  }

}
