@import "../lib/breakpoints";
@import "react-toolbox/lib/button/theme.css";

.material {
  margin: auto;
  max-width: 640px;
  width: 80%;

  @include breakpoint(max-width $breakpoint-phone) {
    width: 95%;
  }

  .material-split {
      margin-bottom: 20px;
  }
}
