@import "../lib/breakpoints";
@import "../lib/colors";
@import "../lib/fonts";

.metitle {
  padding-top: 50px;
  @include screen-fit();

  h1, h2 {
    margin-bottom: 5px;
    color: rgba(13, 71, 161, 1);
  }

  & > div {

    @include font-normal();

    h1 {
      color: $color-metitle-sub-header-foreground;
      background: $color-metitle-sub-header-background;
      border-radius: 3px;
      padding: 10px;
      text-align: center;
    }

    img {
      width: 200px;
      height: 200px;
      display: flex;
      margin: 30px auto 30px auto;
    }

    p {
      margin: 0 0 10px 0;
    }
  }

  hr {
    margin: 20px 0 40px 0;
  }

  .metitle-divider {
    border-bottom: 5px double;;
    padding-bottom: 5px;
    margin: 20px 5px 10px 5px;
  }

  .metitle-intro-sec {
    padding: 20px;
    margin: 10px 3px;
    border: 2px double $color-metitle-introsection;
    border-right: none;
    @include font-normal();
  }
}
