@import "../lib/colors";
@import "../lib/breakpoints";
@import "../lib/fonts";

.midpart {
  position: relative;
  background: $color-midpart-background;

  canvas {
    display: block;
  }

  h2 {
    color: $color-midpart-title-font;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    text-align: center;
  }

  .midpartpostcontainer {
    top: 0;
    width: 100%;
    padding: 18px 8px 8px 8px;
    display: flex;
    box-sizing: border-box;

    @include breakpoint(max-width $breakpoint-tablet) {
      flex-direction: column;
      padding-top: 8px;
    }

    .midpartpostcontainer-dialog-deco {
      width: 33.33%;
      box-sizing: border-box;

      @include breakpoint(max-width $breakpoint-tablet) {
        width: 100%;
        padding: 8px;
        margin: 5px 0;
        border-radius: 3px;
        border-bottom: 1px solid $color-midpart-border;
        border-right: 1px solid $color-midpart-border;
      }
    }

    .midpartpostcontainer-dialog {
      background: rgba(178, 235, 242, 0.1);
      padding: 10px;
      border: 1px outset $color-midpart-border;
      border-radius: 3px;
      margin: 5px;
      position: relative;

      @include breakpoint(max-width $breakpoint-tablet) {
        border: none;
        margin: 0;
      }

      &:before {
        content: '';
        width: 50px;
        left: -1px;
        top: -18px;
        position: absolute;
        border-top: 5px solid $color-midpart-border;
        width: 100%;
        border-radius: 1px;

        @include breakpoint(max-width $breakpoint-tablet) {
          content: none;
        }
      }

      h3 {
        color: $color-midpart-font;
        font-style: italic;
        text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
      }

      div {
        padding: 20px;
        margin: 10px 3px;
        border-top: 1px solid #81D4FA;
        border-left: 1px solid #81D4FA;
        color: $color-midpart-font;
        @include font-normal($font-size-post);
      }
    }
  }
}
