@import "../lib/colors";
@import "../lib/animations";
@import "../lib/shadows";

$minimum-width: 8px;
$border-radius: 0 25px 25px 0;
$margin: 13px 0 13px -8px;
$height: 50px;
$width: 100%;
$padding-pull: 0 10px;

.stickytitle {
  display: block;
  position: relative;
  height: $height + 5;
  text-align: left;
  user-select: none;

  h3 {
    font-size: 15pt;
    margin: $margin;
    text-align: center;
    user-select: none;
  }

  .stickytitle-static {
    color: $color-stickytitle-static-foreground;
    position: absolute;
    text-align: left;
    width: $width;
    z-index: 997;
  }

  .stickytitle-anim {
    background: $color-stickytitle-anim-background;
    color: $color-stickytitle-anim-foreground;
    box-shadow: $shadow-depth $color-shadow;
    position: absolute;
    height: $height;
    text-align: left;
    width: $width;
    z-index: 998;

    &.stickytitle-pushbackward {
      animation: pushwidth 0.1s;
    }

    &.stickytitle-pullbackward {
      animation: pullwidth 0.1s;
      border-radius: $border-radius;
      position: fixed;
      padding:$padding-pull;
      width: $minimum-width;

      &:hover {
        background: $color-stickytitle-hover-background;
        cursor: pointer;
        z-index: 999;
      }

      h3 span.stickytitle-hide {
        display: none;
        user-select: none;
      }
    }
  }
}


@keyframes pushwidth {
  from {
    padding: $padding-pull;
    border-radius: $border-radius;
    width: $minimum-width;
  }
  to {
    padding: 0;
    border-radius: 0;
    width: $width;
  }
}

@keyframes pullwidth {
  from {
    padding: 0;
    width: $width;
    border-radius: 0;
  }
  to {
    padding: $padding-pull;
    width: $minimum-width;
    border-radius: $border-radius;
  }
}
