.wave {
  animation: waves 70s linear infinite;
  animation-fill-mode: both;
  background-repeat: repeat-x;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.3;
  z-index: -1;
}

.wave.front {
  background-image: url("/img/components/wave.svg");
}

.wave.back {
  background-image: url("/img/components/wave-overlay.svg");
  animation-direction: reverse;
  animation-duration: 120s;
  opacity: 0.2;
}

@keyframes waves {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100vw;
  }
}
