.container {
  display: flex;
}

.scroll,
.scroll:before {
  position: absolute;
  left: 50%;
  opacity: 0.8;
  transform: translate(-50%, 0);
}

.scroll.text {
  margin-left: -20px;
  bottom: 23%;
}

.scroll.icon {
  width: 30px;
  height: 50px;
  margin-left: -20px;
  bottom: 15%;
  margin-top: -35px;
  border: 2px solid #fff;
  border-radius: 25px;
  background-color: rgba(200, 200, 200, 0.5);
}

.scroll.icon:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(26px);
  }
}
