<!DOCTYPE html>
<html lang="en">
<head>
<title>JOM Jaring Introductory Page</title>
<meta name=viewport content="width=device-width, initial-scale=1">
<meta name="description" content="A basic company setup by Yoong Han and Lee Wan, used as a profile page.">
<link rel="author" href="https://plus.google.com/u/1/114852108498604797792"/>
<meta property="og:title" content="JOM Jaring"/>
<meta property="og:type" content="profile"/>
<meta property="og:image" content="http://www.jomjaring.com/cache/img/jomjaring.jpg"/>
<meta property="og:description" content="An awesome site that introduce the capabilities we have."/>
<meta property="fb:admins" content="jomjaring@gmail.com"/>
</head>
<body ng-app="mainApp" ng-controller="menuListCtrl">
<div id="nav_listener" style="min-width:96%;min-height:96%;z-index:96;position:absolute;">
</div>
<button type="button" id="intro" class="button" ng-click="go(mainBtnSrc)">{{mainBtnName}}</button>
<button type="button" id="show" class="button"><img src="/cache/img/nav.svg"></button>
<div class="menupanel" id="nav">

<hr/><hr/>

 <center class="navTitle">~JOM Jaring 
 <font color="#FF3800">L</font><font color="#FF6700">i</font><font color="#FF8400">n</font><font color="#FFAF00">k</font><font color="#FFD700">s</font>~</center>

<hr/><hr/>

<canvas id="hoverCanvas" width="200" height="100" style="position:absolute;top:0;left:0;"></canvas>
 <nav>
  
 <ul id="menuList">
	<li ng-repeat="menu in menus">
 		<a ng-href="{{menu.link}}" onmouseover="targetme(event, this)" onmouseout="untargetme()" onmousedown="shrinkme()">{{menu.display}}</a>
	</li>
 </ul>
 <hr>
 
 <ul>
	 <li><a ng-href="http://mysanctuary.jomjaring.com/" onmouseover="targetme(event, this)" onmouseout="untargetme()" onmousedown="shrinkme()">Personal Blog</a></li>
	 <li><a ng-href="http://login.jomjaring.com/" onmouseover="targetme(event, this)" onmouseout="untargetme()" onmousedown="shrinkme()">Scheduling Prototype</a></li>
 </ul>
 <hr>
 <hr>
 <button type="button" id="hide" class="button_hide">&lt;&lt; Hide</button>
 </nav>
</div>
<footnote>
 To use the images in this site, please request from the author: mailyoonghan@gmail.com.
</footnote>
</body>


<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/cache/css/vegas.min.css" />
<link rel="stylesheet" type="text/css" href="/cache/css/webby/ssmain.css" />
<script src="/cache/js/lib/jquery/jquery.min.js"></script>
<script src="/cache/js/lib/ext/vegas/jquery.vegas.min.js"></script>
<script src="/cache/js/lib/angular/angular.min.js"></script>
<script src="/cache/js/webby/controllers.js"></script>
<!-- script for target [Execute this first] -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-55768924-1', 'auto');
  ga('send', 'pageview');
</script>
<script>
	var c = document.getElementById("hoverCanvas");
	var ctx = c.getContext("2d");
	ctx.lineWidth = 2;
	ctx.strokeStyle = '#fafafa';

	function targetme(event, obj){
		var objPos = obj.getBoundingClientRect();
		var calcTop = objPos.top + ((objPos.bottom - objPos.top)/2)-20;
		var calcLeft = objPos.left + ((objPos.right - objPos.left)/2)+25;
		c.style.top = ""+calcTop+"px";
		c.style.left = ""+calcLeft+"px";
		ctx.beginPath();
		ctx.arc(22,22,20,0,2*Math.PI);
		ctx.stroke();
		ctx.beginPath();
		ctx.arc(22,22,16,0,2*Math.PI);
		ctx.stroke();
	}
	
	function untargetme(){
		ctx.beginPath();
		ctx.clearRect(0,0,200,100);
		ctx.closePath();
	}
	
	function shrinkme(){
		untargetme();
		ctx.beginPath();
		ctx.arc(20,20,15,0,2*Math.PI);
		ctx.stroke();
	}
</script>
<!-- script for slider -->
<script>
$(function() {
 $.getJSON("http://localhost:9000/rest/image/intro",function(data)
 {
	$.vegas( 'slideshow', data)('overlay'); 
 }); 
});
$( document ).ready(function() {
 $('#show').on('click', function() {
 $('#nav').animate({'left':'0px'},100);
 });
 $('#hide').on('click', function() {
 $('#nav').animate({'left':'-500px'},100);
 });
 $('#nav_listener').on('click', function() {
 $('#nav').animate({'left':'-500px'},100);
 });
});
</script>
</html>
