.container {
  display: flex;
}

.switchButton {
  white-space: nowrap;
  color: var(--button-bg);
  background: transparent;
  cursor: pointer;
  border: 0;
  user-select: none;
  padding: 0;
}

.switchButton:focus-visible,
.switchButton:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.desktop_container div > a:first-child {
  padding: 2rem 0;
  display: block;
}

@media only screen and (max-width: 400px) {
  .switchButton {
    display: none;
  }
}
