.container {
  display: flex;
  margin-left: auto;
}

.switchButton {
  white-space: nowrap;
  color: var(--button-bg);
  background: transparent;
  cursor: pointer;
  border: 0;
  user-select: none;
  padding: 0;
}

.switchButton:focus-visible,
.switchButton:focus {
  outline: solid;
}

.desktop_container div > a:first-child {
  padding: 1.5rem 0;
  display: inline-block;
}

.desktop_container ul > li ul > li div {
  padding: 0.5rem 0;
}

.mobile_container ul > li {
  padding: 0.5rem 2px;
}

.mobile_container ul > li a > div {
  display: inline-block;
}
