.container {
  min-height: 100vh;
  position: relative;
  background-color: #343233;
  color: var(--text);
  padding-top: 2rem;
}

.container ol > li {
  margin-bottom: 1rem;
}

.alert {
  color: red;
}

.success {
  color: green;
}

.container .wrappedText {
  width: 100vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
