<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=480">
<meta name="description" content="Design and website layouts.">
<link rel="author"	href="https://plus.google.com/u/1/114852108498604797792" />
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>	
<title>Architecture &amp; Technologies</title>
<link rel="stylesheet" href="/cache/css/tablestack/dialog.css">
<link rel="stylesheet" href="/cache/css/tablestack/tablesaw.stackonly.css">
<link rel="stylesheet" href="/cache/css/webby/submenu.css">
<link rel="stylesheet" href="/cache/css/webby/ssarchitecture.css">
</head>
<body  ng-app="menuApp" ng-controller="subMenuListCtrl" ng-init="init('Architecture')">
<div class="overlay" id="overlay" style="display:none;"></div>
 <div class="box" id="box">
 <a class="boxclose" id="boxclose"></a>
 <h1>Contact Us</h1>
 <p ng-bind-html="contactus"></p>
</div>
   	<menu>
	  <ul>
		<li class="menuTitle">JOM Jaring</li>
	  	<li ng-repeat="menu in menus" class="repeated-item">
			<a ng-href="{{menu.link}}">{{menu.display}}</a>
		</li>
	  </ul>
	</menu>
	<div id="submenu">
		<ul>
			<li class="menuTitle">Contents:</li>
			<li><a ng-href="#T0" target="_self">Architecture</a></li>
			<li><a ng-href="#T1" target="_self">Technology</a></li>
			<li><a ng-href="#T2" target="_self">Project Downloads</a></li>
		</ul>
	</div>

<img src="/cache/img/archtbanner.jpg" style="width:100%"></img>
	
<!--input type="checkbox" id="art_img" value="none" checked-->
<div class="fullbar" id="T0">
<h1>Architecture</h1>
</div>
<br>
<section class="addMargin">
<img src="/cache/img/design.jpg" style="width:100%"/>
</section>
<label for="art_img" class="addMargin"><span><i>As of Release 2.0</i></span></label>
<br><br>
<div class="fullbar" id="T1">
 <h1>Technology</h1>
 <h3>3rd party products being used.</h3>
</div>
<br/>
<div ng-controller="technologyCtrl">
 <br>
 <label for="search" class="searchLabel">Search:</label><input id="search" ng-model="query" placeholder="Search technologies used here." style="width:350px;">
 <hr>
 <table class="tablesaw" data-mode="stack">
	<thead>
		<tr>
			<th>Technology</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody >
		<tr ng-repeat="technology in technologies | orderBy:'deprecated' | filter:query " class="repeated-item">
			<td>{{technology.tech}}</td>
			
			<td class="desc">
			
			<span ng-if="technology.deprecated === 'true'" class="deprecated_text">DEPRECATED<br></span>
			
			{{technology.detail}}
			</td>
		</tr>
	</tbody>
 </table>
</div>
<p>
<a href="#" class="link" target="_self">Back To Top</a>
</p>
<div class="fullbar" id="T2">
 <h1>GITHub project</h1>
 <h3>-- Fork me --</h3>
</div>
<br/>
<table class="tablesaw" data-mode="stack">
	<thead>
		<tr>
			<th>ProjectName</th>
			<th>Description</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>selfservice parent POM</td>
			<td class="desc">A regular pom file to keep track of api.</td>
			<td><a href="https://github.com/yoonghan/selfserviceparent">Clone Me</a></td>
		</tr>
		<tr>
			<td>selfservice parent POM</td>
			<td class="desc">A regular pom file to keep track of Scala's api.</td>
			<td><a href="https://github.com/yoonghan/selfserviceparent_scala">Clone Me</a></td>
		</tr>
		<tr>
			<td>JomJaringUtilities_scala</td>
			<td>Override the utility, and written in scala. Backward compatible with java.</td>
			<td><a href="https://github.com/yoonghan/JomJaringUtilities_scala">Clone Me</a></td>
		</tr>
		<tr>
			<td>selfservice</td>
			<td class="desc">Backend web service. Overrided the previous web and use Playframework</td>
			<td><a href="https://github.com/yoonghan/selfservice">Clone Me</a></td>
		</tr>
		<tr>
			<td>selfservice copier</td>
			<td class="desc">Self written minimized(incomplete) and copies all static webpages file.</td>
			<td><a href="https://github.com/yoonghan/selfservicecopier">Clone Me</a></td>
		</tr>
		<tr>
			<td>selfservice testing</td>
			<td class="desc">Written seperate test case (In Java and JUnit) to test Exposed REST services.</td>
			<td><a href="https://github.com/yoonghan/selfservicetesting">Clone Me</a></td>
		</tr>
		<tr>
			<td>nodejsweb</td>
			<td class="desc">Using Node JS to serve front end view/presentation layer.</td>
			<td><a href="https://github.com/yoonghan/nodejsweb">Clone Me</a></td>
		</tr>
		<tr>
			<td class="deprecated">jjUtility</td>
			<td class="desc deprecated">Common Utilities for jom jaring</td>
			<td><a href="https://github.com/yoonghan/jjUtility">Clone Me</a></td>
		</tr>
		<tr>
			<td class="deprecated">selfservice Mbean</td>
			<td class="desc deprecated">Build in services integrating with JBOSS to allow adhoc monitoring and refresh.</td>
			<td><a href="https://github.com/yoonghan/selfservicembean">Clone Me</a></td>
		</tr>
		<tr>
			<td class="deprecated">selfservice WEB</td>
			<td class="desc deprecated">Web directory that contains all the service. To span as ear in future.</td>
			<td><a href="https://github.com/yoonghan/selfserviceweb-ear">Clone Me</a></td>
		</tr>
		<tr>
			<td class="deprecated">selfserviceweb-ear</td>
			<td class="desc deprecated">Ear file that wraps all the utilities and selfservice web. Not a frequent updated file.</td>
			<td><a href="https://github.com/yoonghan/selfservicelogging">Clone Me</a></td>
		</tr>
		<tr>
			<td class="deprecated">selfservice database</td>
			<td class="desc deprecated">Using JDBI to query the database. Supports internal caching. No memcached used.</td>
			<td><a href="https://github.com/yoonghan/selfservicedb">Clone Me</a></td>
		</tr>
		<tr>
			<td class="deprecated">selfservice logging</td>
			<td class="desc deprecated">Logging utility instead of log4j and slf4j(but extend able). Support scheduling to send error notification via email.</td>
			<td><a href="https://github.com/yoonghan/selfservicelogging">Clone Me</a></td>
		</tr>
	</tbody>
</table>
<p>
<a href="#" class="link" target="_self">Back To Top</a>
</p>
<br/>
   <div class="footnote">
	<ul id="menu">
		<li ng-repeat="menu in menus" class="repeated-item">
			<a ng-href="{{menu.link}}">{{menu.display}}</a>
		</li>
	</ul>
	&copy;2014 All rights reserved - JOM Jaring<br/>
	If you are interested, do not hesitate to <a href="#" ng-click="activateBtn()">contact us</a>.
	</div>
</body>
<script src="/cache/js/lib/jquery/jquery.min.js"></script>
<script src="/cache/js/lib/ext/tablestack/dialog.js"></script>
<script src="/cache/js/lib/ext/tablestack/tablesaw.stackonly.js"></script>
<script src="/cache/js/lib/angular/angular.min.js"></script>
<script src="/cache/js/lib/angular/angular-sanitize.min.js"></script>
<script src="/cache/js/lib/angular/angular-animate.min.js"></script>
<script src="/cache/js/webby/controllers.js"></script>
</html>