<!DOCTYPE html>
html(lang="en")
  head
    base(href="/site/main/info/")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description" content="Information about this website.")
    title Blog
    include ../../../incl/header.incl 
  body(class="wal")
    div(class="page-wrap")
      include ../../../incl/breadcrumb.incl 
      <wal-info></wal-info>
    
    script(src='/cache/public/js/lodash/lodash.min.js')      
    script(src='/cache/public/js/moment/moment.min.js')
    script(src='/cache/public/js/es6-shim/es6-shim.min.js')
    script(src='/cache/public/js/systemjs/dist/system-polyfills.js')
    script(src='/cache/public/js/angular2/bundles/angular2-polyfills.js')
    script(src='/cache/public/js/systemjs/dist/system.src.js')
    script(src='/cache/public/js/rxjs/bundles/Rx.js')
    script(src='/cache/public/js/angular2/bundles/http.dev.js')
    script(src='/cache/public/js/angular2/bundles/angular2.dev.js')
    script(src='/cache/public/js/angular2/bundles/router.dev.js')
    script.
      System.config({
        packages: { 
          '/cache/js/main/info':{
            format: 'register',
            defaultExtension: 'js'
          },
          '/cache/js/main/directive':{
            format: 'register',
            defaultExtension: 'js'
          },
          '/cache/js/main/component':{
            format: 'register',
            defaultExtension: 'js'
          } 
        } 
      });
      System.import('/cache/js/main/info/info').then(null, console.error.bind(console));
    include ../../../incl/footer.incl
    
