footNote {
 position:absolute;
 bottom:0px;
 background-color:#AAA;
 opacity:0.7;
 filter:alpha(opacity=70);
 margin: 2px;
 padding: 5px;
 width: 97%;
 border-radius: 5px;
 color: white;
 z-index: 100;
}
.tooltip::before {
 content: attr(data-tip) ; 
 
 font-size: 15px;
 position:absolute;
 z-index: 999;
 white-space:nowrap;
 bottom:9999px;
 left: 0%;
 background:#333;
 color:#e0e0e0;
 padding:0px 7px;
 line-height: 24px;
 height: 24px;
 opacity: 3; 
 transition:opacity 0.4s ease-out; 
 }
 
.tooltip:hover::before {
 opacity: 1;
 bottom:-35px;
}

::-webkit-input-placeholder {font-style:italic};
input:-moz-placeholder {font-style:italic};
input:-ms-input-placeholder {font-style:italic};
