@import "lib/sprites";

.about-layering {

  .slides {
    color: $theme-text-foreground;

    .content {
      margin: 0 auto;
      width: 100%;
    }

    &:nth-child(odd) {
      height: 500px;
      margin: 0;
      padding: 100px 0 160px 0;
      background-size: cover;
    }

    &:nth-child(even) {
      background-color: $theme-background;
      height: 300px;
      margin: 0 auto;
      overflow: hidden;
      padding: 150px 0;
    }

    &.slide1 {
      background: url("/images/slide1.jpg") 50% 0 no-repeat fixed;
    }
    &.slide3 {
      background: url("/images/slide3.jpg") 50% 0 no-repeat fixed;
      padding: 150px 0 0 0;
    }
    &.slide5 {
      background: url("/images/slide5.jpg") 50% 0 no-repeat fixed;
      padding: 100px 0;
    }

    .quotes_container {
      width: 100%;
      margin: 0 auto;
    }
  }
}

.screen-section {
  position: relative;
  &.cover {
    height: 100vh;
    background: url($cover-img) no-repeat;
    background-size: cover;
  }
  &.plain {
    background-color: $theme-background;
  }
  &.first {
    height: 100vh;
  }
  &.second {
    box-shadow: 10px 10px 5px #888888;
    height: 200px;
    margin-top: -5px;
  }
  &.third {
    background-color: #ffffff;
  }
  &.fourth {
    margin-top: 40px;
    border-top: 2px solid;
    &:before {
      content: '';
      background: url('/images/pagebreak.svg') no-repeat;
      background-position: right;
      margin-top: -60px;
      height:60px;
      display:block;
    }
  }
  &.footer {
    background: $theme-background-darker;
    padding: 30px 40px;
    table {
      width: 30%;
      text-align: left;
      display: inline-flex;

      ul {
        margin: 5px 0;
        padding: 0;
      }
    }
  }
}

.mini-layer {
  position: absolute;
  width: 100%;
  bottom: 0;
  opacity: 0.9;

  .transparent {
    background-color: rgba(100, 100, 100, 0.5);
    color: $foreground-white;
    height: 80%;
    padding: 0 40px;

    >.middle {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .plain {
    background-color: $thm-blue-base;
    color: $foreground-white;
    height: 100%;
    padding: 40px;
    top: 10px;
    box-shadow: 10px 10px 5px #888888;
  }

  .center {
    background-color: $thm-blue-base;
    border-radius: 0 0 10px 10px;
    color: $foreground-white;
    font-size: $fontsize-focus;
    margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
    padding: 30px;
    position: relative;
    text-align: justify;
    text-shadow: 2px 2px $thm-blue-black;
    box-shadow: 10px 10px 5px #888888;
  }

  .divider {
    background: url('data:image/svg+xml;charset=UTF-8,<?xml version="1.0" encoding="UTF-8" standalone="no"?><svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" id="svg2" version="1.1"><g id="layer1" transform="translate(0,-1042.3622)"><rect  style="fill:#29506D"  id="rect3352"  width="5"  height="5"  x="0"  y="1042.4517" /><rect  style="fill:#29506D"  id="rect3352-2"  width="5"  height="5"  x="4.9868565"  y="1047.3646" /></g></svg>') repeat;
    height: 10px;
    position: absolute;
    top: -10px;
    width: 100%;
  }
}

.splash-layer {
  @include span(12);
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 50%;

  div {
    left:50%;
    position: absolute;
  }

  h1 {
    font-size: 10vw;
    left:0;
    margin-bottom: 5px;
    position: relative;
    text-shadow: 1px 5px 5px $font-black;
  }
  .desc{
    font-weight: bold;
    @include text-resize($fontsize-title);
    text-shadow: 0 0 8px $font-black;
    left:0;

    top: -2px;
    position: relative;
  }
}
