.logo-text {
  color: $logo-color !important;
  font-family: Ethnocentric !important;

  a{
    &:hover, &:visited, &:active, &:focus {
      color: $logo-color !important;
    }
  }
}

.bold {
  font-weight: bold;
}

h2 {
  background: $theme-text-background-title;
  color: $theme-text-title;
  margin: 0;
  text-shadow: 0 0 3px $shadow-grey;
  @include text-resize($fontsize-title);
}

th {
  color: $theme-text-background-title;
}

.quotes {
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  margin: 50px 20px;
}
