.container {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  direction: ltr;
  margin-left: 20px;
  max-width: 480px;
  margin: auto;
}

.container > li {
  padding-left: 22px;
  position: relative;
  text-align: left;
}
.icon {
  position: absolute;
  background: #fff;
  top: 0;
  left: -2px;
  border: 2px solid #ddd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  padding-top: 9px;
  color: #999;
  margin-left: -13px;
  line-height: 23px;
}
.dot {
  position: absolute;
  top: 5px;
  left: 0;
}
.dot::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #858b94;
  border-radius: 50%;
}
.container > li:first-child > span:first-child {
  top: 5px;
}
.container > li:last-child > span:first-child {
  bottom: 40px;
}
.container > li:last-child .icon {
  background: rgb(21, 178, 21);
  color: rgb(255, 255, 255);
}
.container > li > span:first-child {
  top: 0;
  left: 4px;
  position: absolute;
  bottom: 0;
  width: 2px;
  background-color: #858b94;
}
.container > li > span:nth-child(2) {
  left: 0;
  text-align: center;
  position: absolute;
  top: 5px;
}
.container > li > .content {
  padding-bottom: 18px;
  margin-left: 24px;
}
.container > li > .content p {
  margin: 0;
  font-size: 0.75rem;
}
