.container {
  margin: 2px;
}

.container form {
  display: flex;
}

.container fieldset {
  margin: 0;
  width: 100%;
}

.container textarea {
  font-size: 1rem;
  width: 100%;
}

.container button {
  min-width: 10rem;
}
