.container {
  margin: 0 auto;
  position: relative;
  padding: 8rem 0.5rem 0.5rem 0.5rem;
  max-width: 1024px;
}

.container .flex {
  display: flex;
}

.container a {
  color: inherit;
  font-size: 0.75rem;
}

.container ul {
  list-style: none;
}

.container ul > li {
  margin: 0.5rem 0;
}

.container ul.sidelink {
  margin: 0;
  display: inline-flex;
}

.container ul.sidelink > li {
  padding: 0 1rem;
  border-right: 1px solid;
}

.container ul.sidelink > li:last-child {
  border-right: 0;
}

@media only screen and (max-width: 480px) {
  .container {
    text-align: center;
    padding-bottom: 0.5rem;
  }

  .container ul.sidelink {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .container ul {
    padding-left: 1rem;
  }
}
