<!DOCTYPE HTML>
<html lang="en" id="top">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta charset="ISO-8859-1">
	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>Event Confirmation</title>
	<link rel="stylesheet" href="/cache/css/selfservice/common.css" />
	<link rel="stylesheet" href="/cache/css/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/cache/css/selfservice/setupconf.css" />  
	<script src="/cache/js/jquery.min.js"></script>
</head>

<!-- Use this as sample for all loading. -->

<body ng-app="bookinginfoApp" ng-controller="loaderCtrl">

	<div ng-include="'/selfservice/common/header'"></div>

	<div ng-view>
	</div>

	<br><br>
	<div ng-include="'/selfservice/common/footer'"></div>

    <script type="text/ng-template" id="popupdialog.html">
		<div>
			<div class="modal-header" ng-show="status=='error'">
            	<h3 class="modal-title">Error</h3>
        	</div>
			<div class="modal-header" ng-show="status=='delete'">
            	<h3 class="modal-title">Deletion</h3>
        	</div>

			<div class="modal-body bg-danger" ng-show="status=='error'">
				<h4>{{statMsg}}</h4>
			</div>
			<div class="modal-body bg-warning" ng-show="status=='delete'">
				<h4>{{statMsg}}</h4>
			</div>

        	<div class="modal-footer">
            	<button class="btn btn-success" ng-click="ok()" ng-model="btnOK">Proceed</button>
				<button class="btn btn-danger" ng-click="cancel()" ng-show="status=='delete'" ng-model="btnCANCEL">Cancel</button>
			</div>
		</div>
    </script>

</body>

<script src="/cache/js/jquery-ui/jquery-ui.min.js"></script>
<script src="/cache/js/moment/moment.min.js"></script>
<script src="/cache/js/angular/angular.min.js"></script>
<script src="/cache/js/angular/angular-route.min.js"></script>
<script src="/cache/js/angular/angular-animate.min.js"></script>
<script src="/cache/js/angular/ui-bootstrap-custom-0.12.0.min.js"></script>
<script src="/cache/js/angular/ui-bootstrap-custom-tpls-0.12.0.min.js"></script>
<script src="/cache/js/selfservice/auth_common.js"></script>
<script src="/cache/js/selfservice/bookinginfocontroller.js"></script>
<script src="/cache/js/lodash/lodash.min.js"></script>


</html>