<!DOCTYPE HTML>
<html lang="en" id="top">
<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>My Events</title>
	<link rel="stylesheet" href="/cache/css/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/cache/css/calendar/fullcalendar.css">
	<link rel="stylesheet" href="/cache/css/selfservice/calendar.css" />
	<link rel="stylesheet" href="/cache/css/selfservice/common.css" />
	<link rel="stylesheet" href="/cache/css/selfservice/tutorial/common.css" />
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
</head>
<body>

<div role="main" class="container-fluid" ng-controller="calendarCtrl">
    <table width="100%">
        <tr>
            <td>
	            <h1>My Events</h1>
            </td>
            <td>
                <div ng-include="'/selfservice/common/header'"></div>
            </td>
        </tr>
    </table>
	<div class="jumbotron" ng-cloak>
		<span ng-show="!tutorialRun">
		For more inquiries for our calendar usage, please refer to our <strong><a href="/selfservice/tutorial/calendar_tut">Calendar Help</a></strong> guide.
		</span>
		<span ng-show="tutorialRun"><h2 class="tutorialH2">TUTORIAL</h2>
			<p ng-bind-html="tutorialMsg">
			</p>
			<input id="tutBtnPrv" type="button" value="&laquo;" ng-click="tutorialChgMessage(-1)" class="btn btn-default" ng-disabled="tut_first">
			<input id="tutBtnNxt" type="button" value="&raquo;" ng-click="tutorialChgMessage(1)" class="btn btn-default" ng-disabled="tut_last">
		</span>
	</div>
	<hr>
	<div class="row">
		<!--calendar[S]-->
		<div class="col-md-5">
			<div class="panel panel-primary">
			
				<div class="panel-heading">
					<h3 class="panel-title"><span class="glyphicon glyphicon-calendar"></span> Booking Calendar</h3>
				</div>
				<div class="panel-body">
					<div class="btn-toolbar">
						<div class="btn-group" style="float:right; padding-bottom:4px;">
							<button class="btn fc-state-default" ng-click="changeView('agendaDay')">Day</button>
							<button class="btn fc-state-default" ng-click="changeView('agendaWeek')">Week</button>
							<button class="btn fc-state-default" ng-click="changeView('month')">Month</button>
						</div>
					</div>
					<div class="calendar" ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
                    <br>
                    <div>
                        <strong>Legend:</strong>
                        <span class="unreserved">&nbsp;</span> Available
                        <span class="reserved">&nbsp;</span> Reserved
                        <span class="pending">&nbsp;</span> Pending
                    </div>
				</div>
			</div>
		</div>
		<!--calendar[E]-->
		<div class="col-md-5" id="booking">
		<!--WeatherForecasting[S]-->
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title"><span class="glyphicon glyphicon-globe"></span> Weather Forecast of your area</h3>
				</div>
				<div class="panel-body">
					<figure class="icons">
						<canvas id="weatherIcon" width="100" height="100"></canvas>
					</figure>
					<span><strong id="weatherMessage">Loading...</strong></span>
					- estimate for <span id="weatherDate">Loading...</span>
				</div>
			</div>
		<!--WeatherForecasting[E]-->
		<!--BookingDates[S]-->	
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span> Scheduled Events</h3>
				</div>
				<div class="panel-body" ng-cloak>
					<ul class="unstyled" role="form">
						<li ng-repeat="e in currEvents">
							<div class="alert alert-info form-group" style="font-size:12pt;" ng-if="e.booked == 0">
							
							<div class="bookingNotice"><strong>NOTICE: </strong>For every successful reservations made, we shall provided your name to our client for simple identification purposes.</div><br>
							
							<dl class="dl-horizontal">
								<dt>Date:</dt>
								<dd>{{e.start | date:'EEE - dd/MMM/yyyy' : 'UTC'}}</dd>
								<dt ng-show="e.allDay == false">Time:</dt>
								<dd ng-show="e.allDay == false">{{e.start | date:'HH:mm a' : 'UTC'}} to {{e.end | date:'HH:mm a' : 'UTC'}}</dd>
								<dt>Activity:</dt>
								<dd>{{e.title}}</dd>
								<dt>Description:</dt>
								<dd>{{e.desc}}</dd>
								<dt class="hidetext">User Info:</dd>
								<dd class="hidetext">{{e.userInfo}}</dd>
							</dl>
							<hr>
								<input type="button" id="btnBook" value="Book Now" ng-click="ok(e.id,e.conf,e.userInfo)" class="btn btn-lg btn-primary" ng-disabled="flag">
							</div>
							
							<div class="alert alert-success form-group" style="font-size:12pt;" ng-if="e.booked == 1">
							<h4>Reserved</h4>
							<dl class="dl-horizontal">
								<dt>Date:</dt>
								<dd>{{e.start | date:'EEE - dd/MMM/yyyy' : 'UTC'}}</dd>
								<dt ng-show="e.allDay == false">Time:</dt>
								<dd ng-show="e.allDay == false">{{e.start | date:'HH:mm a' : 'UTC'}} to {{e.end | date:'HH:mm a' : 'UTC'}}</dd>
								<dt>Activity:</dt>
								<dd>{{e.title}}</dd>
								<dt>Description:</dt>
								<dd>{{e.desc}}</dd>
							</dl>
							<hr>
								<input type="button" id="btnCancelBook" value="Cancel Booking" ng-click="cancel(e.id)" class="btn btn-lg btn-success" ng-disabled="flag">
							</div>
							
							<div class="alert alert-warning form-group" style="font-size:12pt;" ng-if="e.booked == 2">
							<h4>Pending</h4>
							<dl class="dl-horizontal">
								<dt>More Info:</dt>
								<dd>Your reservation are still pending from the organizer's approval. Please wait.</dd>
								<dt>Date:</dt>
								<dd>{{e.start | date:'EEE - dd/MMM/yyyy' : 'UTC'}}</dd>
								<dt ng-show="e.allDay == false">Time:</dt>
								<dd ng-show="e.allDay == false">{{e.start | date:'HH:mm a' : 'UTC'}} to {{e.end | date:'HH:mm a' : 'UTC'}}</dd>
								<dt>Activity:</dt>
								<dd>{{e.title}}</dd>
								<dt>Description:</dt>
								<dd>{{e.desc}}</dd>
							</dl>
							<hr>
								<input type="button" id="btnCancelBook" value="Cancel Booking" ng-click="cancel(e.id)" class="btn btn-lg btn-success" ng-disabled="flag">
							</div>
						</li>
					</ul>
				</div>
			</div>
		<!--BookingDates[E]-->
		</div>
	</div>
</div>

	<script type="text/ng-template" id="usercontent.html">
		<div>
			<div class="modal-header bg-primary">
            	<h3 class="modal-title">Confirmation Details</h3>
        	</div>
			<div class="modal-body">
				<h4>Our client would wish to have these following details from you.</h4>

				<div class="alert alert-danger" ng-show="errors" role="alert"> 
					<strong>Oh Snap, </strong> please check if there's some input errors:
					<ul ng-repeat="error in errors">
						<li>{{error}}</li>
					</ul>
				</div>

				<form name="detail">
					<div class="form-group" ng-show="isEmailShow">
						<label for="dtl_email">Email address</label>
						<input type="email" class="form-control" name="dtl_email" ng-model="dtl_email" placeholder="e.g. somebody@email.com" ng-required="isReq('Email')">
						<span class="alert alertmsg alert-danger" ng-show="detail.dtl_email.$error.required">Required!</span>
						<span class="alert alertmsg alert-danger" ng-show="detail.dtl_email.$error.email">Invalid email</span>
					</div>
					<div class="form-group" ng-show="isContactNoShow">
						<label for="dtl_ctcNo">Contact No</label>
						<input type="text" class="form-control" name="dtl_ctcNo" ng-model="dtl_ctcNo" placeholder="e.g. +0123456789" ng-pattern="number" ng-required="isReq('ContactNo')">
						<span class="alert alertmsg alert-danger" ng-show="detail.dtl_ctcNo.$error.required">Required!</span>
						<span class="alert alertmsg alert-danger" ng-show="detail.dtl_ctcNo.$error.pattern">Only (+)012345678 with 13 numbers are allowed</span>
					</div>
					<div class="form-group" ng-show="isAddressShow">
						<label for="dtl_addr">Address</label>
						<input type="text" class="form-control" name="dtl_addr" ng-model="dtl_addr" placeholder="e.g. Hse No, Street Name, City" ng-required="isReq('Address')">
						<span class="alert alertmsg alert-danger" ng-show="detail.dtl_addr.$error.required">Required!</span>
					</div>
					<div class="form-group" ng-show="isAddressShow">
						<label for="dtl_pstCd">PostCode</label>
						<input type="text" class="form-control" name="dtl_pstCd" ng-model="dtl_pstCd" placeholder="e.g. +56000" ng-pattern="postalCd" ng-required="isReq('Address')">
						<span class="alert alertmsg alert-danger" ng-show="detail.dtl_pstCd.$error.required">Required!</span>
						<span class="alert alertmsg alert-danger" ng-show="detail.dtl_pstCd.$error.pattern">Invalid Postal Code</span>
					</div>
					<div class="form-group" ng-show="isAddressShow">
						<label for="dtl_state">State</label>
						<select name="dtl_state" class="form-control" ng-model="dtl_state" ng-options="stat.value for stat in states" ng-required="isAddressShow">
							<option value="">-- Choose a State --</option>
						</select>
    					<span class="alert alertmsg alert-danger" ng-show="detail.dtl_state.$error.required">Required!</span>
					</div>
				</form>
			</div>
        	<div class="modal-footer">
            	<button class="btn btn-primary" ng-click="dtl_ok()" id="dtl_btnOK">Confirm</button>
				<button class="btn btn-success" ng-click="dtl_cancel()" id="dtl_btnCancel">Cancel</button>
			</div>
		</div>
	</script>

	<script type="text/ng-template" id="popupdialog.html">
		<div ng-if="status==false">
			<div class="modal-header">
            	<h3 class="modal-title">Oops, we can't proceed</h3>
        	</div>
            <div class="modal-body bg-danger">
				<h4>{{statMsg}}</h4>
			</div>
        	<div class="modal-footer">
            	<button class="btn btn-danger" ng-click="ok()" id="btnOK_Error">Error</button>
			</div>
		</div>
		
		
		<div ng-if="status">
			<div class="modal-header">
            	<h3 class="modal-title">Confirmation</h3>
        	</div>
            <div class="modal-body bg-primary">
				<h4>{{statMsg}}</h4>
			</div>
        	<div class="modal-footer">
            	<button class="btn btn-primary" ng-click="ok()" id="btnOK_Success">Confirm</button>
			</div>
		</div>
        
    </script>

<div ng-include="'/selfservice/common/footer'"></div>
<script data-main="/cache/js/apploader/booking/main" src="/cache/js/lib/requirejs/require.js"></script>
</body>
</html>