<!DOCTYPE HTML>
<html lang="en" id="top">
<head>
<meta charset="ISO-8859-1">
<meta name="robots" content="noindex">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>My Event Confirmation</title>
	<link rel="stylesheet" href="/cache/css/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/cache/css/selfservice/common.css" />
	<link rel="stylesheet" href="/cache/css/selfservice/calendarsetup.css" />
	<style>
	input.ng-invalid-required
	{
	  border:2px solid #f00;
	}
	</style>
</head>
<body ng-app="calSetupConfApp" ng-controller="calSetupCtrl">

<div role="main" class="container-fluid">

	<h1>Event Confirmation</h1>
	<div class="jumbotron">
		<p>
		For more inquiries for our calendar usage, please refer to our <a href="calendar-help">Calendar Management</a> guide. <br>
		As of current, we are still with <strong>BETA</strong> Stages.
		</p>
	</div>

<hr>
	<form class="form-horizontal well" role="form">
		<div class="form-group">
			<label for="search" class="col-sm-3 control-label">Filter From:</label>
			<div class="col-sm-2">
			
			<p class="input-group">
				<input type="text" placeholder="dd.mm.yyyy" class="form-control" datepicker-popup="dd.MM.yyyy"  is-open="opened" ng-model="startD" min-date="minDate" max-date="'2015-06-22'" close-text="Close"/>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="opencal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
			</div>
			<label for="search" class="col-sm-1 control-label"> To: </label>
			<div class="col-sm-2">
			
				<p class="input-group">
					<input type="text" placeholder="dd.mm.yyyy" class="form-control" datepicker-popup="dd.MM.yyyy" is-open="opened2" ng-model="endD" min-date="minDate" max-date="'2015-06-22'" close-text="Close"/>
						<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="opencal2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			</div>
		
			<button class="btn btn-primary col-sm-2" type="submit" ng-click="filterSearch()">Submit</button>
		</div>		
	</form>
	
	<form class="form-horizontal" role="form">
	
	
		<table class="table table-striped">
			<thead>
				<tr>
					<th><input type="checkbox" ng-model="accordian_open">Collapse All</th>
					<th>Filter :
						<input ng-model="search.title" placeHolder="Title"> - 
						<input ng-model="search.desc" placeHolder="Description"> - 
						<select ng-model="search.virtualDel">
							<option value="">Show All</option>
							<option value="true">Deleted</option>
							<option value="false">Not Deleted</option>
						</select>
					</th>
				</tr>
			</thead>
		</table>
		
		<accordion close-others="false" ng-repeat="(key, groups) in groupEvents">
			<accordion-group heading="{{key|calfilter}}" is-open="accordian_open" is-disabled="false">
				<table  class="table table-striped">
					<thead>
						<tr>
							<th>Title</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Description</th>
							<th>Deletion ?</th>
						</tr>
					</thead>
					<tbody>
					<tr ng-repeat="e in groups | filter:search">
						<td><input type="text" ng-model="e.title" maxlength="50" ng-pattern="word" required></td>
						<td>{{e.start | date:'EEE - dd/MMM/yyyy HH:mm' : 'UTC'}}</td>
						<td>{{e.end | date:'EEE - dd/MMM/yyyy HH:mm' : 'UTC'}}</td>
						<td><input type="text" ng-model="e.desc" maxlength="300" required></td>
						<td><input type="checkbox" ng-model="e.virtualDel"></td>
					</tr>
					</tbody>
				</table>
			</accordion-group>
		</accordion>
		<button class="btn btn-primary" type="submit" ng-disabled="flag" ng-click="processForm()">Submit</button>
		<button class="btn btn-warning" type="submit" ng-disabled="flag" ng-click="resetForm()">Reset</button>
		<button class="btn btn-danger" type="submit" ng-disabled="flag" ng-click="rejectForm()">Reject</button>
	</form>
</div>

	<script type="text/ng-template" id="myModalContent.html">
		<div>
			<div class="modal-header">
            	<h3 class="modal-title">Confirmation</h3>
        	</div>
			<div class="modal-body bg-success" ng-show="status=='ok'">
				<h4>{{statMsg}}</h4>
			</div>
			<div class="modal-body bg-warning" ng-show="status=='reset'">
				<h4>{{statMsg}}</h4>
			</div>
			<div class="modal-body bg-danger" ng-show="status!='reset' && status!='ok'">
				<h4>{{statMsg}}</h4>
			</div>
        	<div class="modal-footer">
            	<button class="btn btn-success" ng-click="ok()">Proceed</button>
				<button class="btn btn-danger" ng-click="cancel()" ng-show="status=='reset' || status=='reject'">Cancel</button>
			</div>
		</div>
    </script>

</body>
<script src="/cache/js/jquery.min.js"></script>
<script src="/cache/js/jquery-ui/jquery-ui.min.js"></script>
<script src="/cache/js/angular/angular.min.js"></script>
<script src="/cache/js/moment/moment.min.js"></script>
<script src="/cache/js/angular/angular-animate.min.js"></script>
<script src="/cache/js/angular/ui-bootstrap-custom-0.12.0.min.js"></script>
<script src="/cache/js/angular/ui-bootstrap-custom-tpls-0.12.0.min.js"></script>
<script src="/cache/js/selfservice/setupconfcontroller.js"></script>
<script src="/cache/js/lodash/lodash.min.js"></script>
</html>