<!DOCTYPE HTML>
<html lang="en" id="top">
<head>
<meta charset="ISO-8859-1">
<meta name="robots" content="noindex">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>My Event Management</title>
	<link rel="stylesheet" href="/cache/css/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/cache/css/selfservice/common.css" />
	<link rel="stylesheet" href="/cache/css/selfservice/calendarsetup.css" />
	<script src="/cache/js/jquery.min.js"></script>
</head>
<body ng-app="calSetupApp">

<div role="main" class="container-fluid">

	<h1>Event Management</h1>
	<div class="jumbotron">
		<p>
		For more inquiries for our calendar usage, please refer to our <a href="calendar-help">Calendar Management</a> guide. <br>
		As of current, we are still with <strong>BETA</strong> Stages.
		</p>
	</div>
	<hr>	
	<form class="form-horizontal" role="form" name="setup" ng-controller="calSetupCtrl">
	
		<div class="alert alert-danger" ng-show="errors" role="alert">
		<strong>Oh Snap, </strong> please check if there's input errors:
		<ul ng-repeat="error in errors">
			<li>{{error}}</li>
		</ul>
		</div>
	
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">Title</label>
			<div class="col-sm-8">
				<input type="text"  ng-class="{submitted:setup.submitted}" class="form-control" ng-model="title" name="title" id="title" ng-pattern="word" maxlength=30 required
				tooltip="Required. Only spaces, numbers and alphabets are allowed." tooltip-trigger="{{tooltiptype}}" tooltip-placement="top">
				<span class="alert alert-danger alertmsg" ng-show="setup.submitted && setup.title.$error.required">Required!</span>
				<span class="alert alert-danger alertmsg" ng-show="setup.title.$error.pattern">Only spaces, numbers[0-9] and characters[a-z] is allowed!</span>
			</div>
		</div>

		<div class="form-group">
			<label for="desc" class="col-sm-2 control-label">Description</label>
			<div class="col-sm-8">
				<textarea ng-class="{submitted:setup.submitted}" class="form-control" rows="3" ng-model="desc" id="desc" name="desc" maxlength="300" required
				tooltip="Required." tooltip-trigger="{{tooltiptype}}" tooltip-placement="top"></textarea>
				<span class="alert alert-danger alertmsg" ng-show="setup.submitted && setup.desc.$error.required">Description Required!</span>
			</div>
		</div>
		<div class="form-group">
			  <label for="fullday" class="col-sm-2 control-label">
				Time
				<div class="checkbox">
					<label>
			    		<input type="checkbox" ng-model="fullday" name="fullday">Full Day Event?
			    	</label>
			    </div>
			  </label>
			<div ng-hide="fullday" class="col-sm-10 cal-show-hide">
				<div class="form-group col-sm-12" ng-show="setup.submitted && timedEvents.length==0">
					<span class="alert alert-danger alertmsg">Please add a time range!</span>
				</div>
				<button class="btn btn-primary col-sm-2" ng-click="addTimeEvents()">Add</button>
				
				
				<div class="form-group col-sm-12 withborder" ng-repeat="e in timedEvents" id="time{{$index}}">
					<a class="close" ng-click="removeTimeEvents($index)">X</a>
					 
					<label for="stime" class="col-sm-1">Start Time</label>
					<timepicker class="col-sm-3" ng-model="e.stime" id="e.stime" hour-step="hstep" minute-step="mstep" show-meridian="true"></timepicker>
					
					<label for="etime" class="col-sm-1">End Time</label>
					<timepicker class="col-sm-3" ng-model="e.etime" id="e.etime" hour-step="hstep" minute-step="mstep" show-meridian="true"></timepicker>
					
					<div class="col-sm-3">
						<label for="abookings" class="control-label">Allowed Bookings</label>
						<input type="number" ng-model="e.abookings" id="e.abookings" name="e.abookings" min=1 max=99 maxlength="2">
						
						<div class="alert alert-danger alertmsg" ng-show="invalidTimeComparer($index)">Specify a valid time range!</div>
					</div>
				</div>
			</div>
			<div ng-show="fullday" class="col-sm-10 cal-show-hide">
				<label>Allowed Bookings</label>
				<input type="number" ng-model="abookings" id="abookings" name="abookings" min="1" max="99" maxlength="2">
				<span class="alert alert-danger alertmsg" ng-show="setup.abookings.$error.number">Please enter a valid number!</span>
			</div>
		</div>
		<div class="form-group">
			<label for="reserveType" class="col-sm-2 control-label">
				Occurrence
				<div class="radio">
				  <label>
				    <input type="radio" ng-model="reserveType" name="reserveType" id="reserveType1" value="opt1" checked>
				    Specific date
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" ng-model="reserveType" name="reserveType" id="reserveType2" value="opt2">
				    Repeating
				  </label>
				</div>
			</label>
			<div class="col-sm-10">
				<div ng-show="reserveType=='opt2'" class="cal-show-hide">
					<div class="bs-callout bs-callout-danger">
				    	<p><strong><span>Message: </span></strong> Support schedules up to a year only.</p>
				    </div>
				    
				    	<span class="alert alert-danger alertmsg" ng-show="setup.submitted && !monday && !tuesday && !wednesday && !thursday && !friday && !saturday && !sunday">Please, select a day!</span>
					<div class="checkbox">
					    <label><input type="checkbox" ng-model="monday">Monday</label>
					    <label></label><input type="checkbox" ng-model="tuesday">Tuesday</label>
					    <label><input type="checkbox" ng-model="wednesday">Wednesday</label>
					    <label><input type="checkbox" ng-model="thursday">Thursday</label>
					    <label><input type="checkbox" ng-model="friday">Friday</label>
				    </div>
				    <div class="checkbox">
					    <label><input type="checkbox" ng-model="saturday">Saturday</label>
					    <label></label><input type="checkbox" ng-model="sunday">Sunday</label>
				    </div>
				    
				</div>
				<div ng-show="reserveType=='opt1'" class="cal-show-hide">
				
				    <div class="col-sm-12">
				    <span class="alert alert-danger alertmsg" ng-show="setup.submitted && reservedEvents.length==0">No dates were selected!</span>
				    </div>
				
				    <div class="col-sm-12">
				    	<table class="chg">
				    		<tr>
				    			<td>
							        <datepicker ng-model="reserveDates" min-date="minDate" show-weeks="true" class="well well-sm" year-range=2></datepicker>
								</td>
							
								<td valign="top">
				    				<button class="btn btn-primary" ng-click="addReserve()">Add</button>
							    	<ul class="listing">
										<li ng-repeat="r in reservedEvents" class="alternate withborder">
											<a class="close" ng-click="removeReserve($index)">X</a>
											<h4>{{r | date:"MMM dd yyyy"}}</h4> 
										</li>
									</ul>
								</td>
							</tr>
						</table>
				    </div>
				</div>
				
			</div>
		</div>
		<div class="form-group">
			<label for="blackoutdates" class="col-sm-2 control-label">Blackout dates</label>
			<div class="col-sm-10">
			<div class="col-sm-12">
				<table class="chg">
					<tr>
						<td>
							<datepicker ng-model="blackoutdates" min-date="minDate" show-weeks="true" class="well well-sm" year-range=2></datepicker>
						</td>
						<td valign="top"> 
					    	<button class="btn btn-primary" ng-click="addBlackouts()">Add</button>
					    	<ul class="listing">
								<li ng-repeat="e in blackoutEvents" class="alternate withborder">
									<a class="close" ng-click="removeBlackouts($index)">X</a>
									<h4>{{e | date:"MMM dd yyyy"}}</h4> 
								</li>
							</ul>
						</td>
					</tr>
			    </table>
			</div>
			</div>
		</div>
		<hr>
		<div align="center">
			<button class="btn btn-lg btn-success" type="submit" ng-disabled="flag" ng-click="processForm()">Submit</button>
			<button class="btn btn-lg btn-warning" ng-disabled="flag" ng-click="resetForm()">Reset</button>
		</div>
	</form>
</div>

	<script type="text/ng-template" id="myModalContent.html">
		<div>
			<div class="modal-header">
            	<h3 class="modal-title">Confirmation</h3>
        	</div>
            <div class="modal-body bg-success" ng-show="status!='reset'">
				<h4>{{statMsg}}</h4>
			</div>
			<div class="modal-body bg-warning" ng-show="status=='reset'">
				<h4>{{statMsg}}</h4>
			</div>
        	<div class="modal-footer">
            	<button class="btn btn-success" ng-click="ok()">Proceed</button>
				<button class="btn btn-danger" ng-click="reset()" ng-show="status=='reset'">Cancel</button>
			</div>
		</div>
    </script>

</body>
<script src="/cache/js/jquery-ui/jquery-ui.min.js"></script>
<script src="/cache/js/angular/angular.min.js"></script>
<script src="/cache/js/moment/moment.min.js"></script>
<script src="/cache/js/angular/angular-animate.min.js"></script>
<script src="/cache/js/angular/ui-bootstrap-custom-0.12.0.min.js"></script>
<script src="/cache/js/angular/ui-bootstrap-custom-tpls-0.12.0.min.js"></script>
<script src="/cache/js/selfservice/calsetupcontroller.js"></script>
</html>