doctype html
html
  head
    meta(charset="ISO-8859-1")
    meta(name="robots", content="noindex")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title Pattern Library
  body
    h1 Pattern Library
    h3 Walcron
    table
      tr
        td
          a(href="docs/font_colors") Define Fonts &amp; Colors
      tr
        td
          a(href="docs/header") Header
      tr
        td
          a(href="docs/mainscreen") Main Image and Logo
          span |
          a(href="docs/screenWithHeader") Combination
      tr
        td
          a(href="docs/post") Post it notes. Available with 2 functions.
      tr
        td
          a(href="docs/footer") Footer
      tr
        td
          a(href="docs/stickytitle") Sticky Title
      tr
        td
          a(href="docs/material") Material Designs Library
      tr
        td
          a(href="docs/metitle") Me Title
      tr
        td
          a(href="docs/gallery") Gallery
          span |
          a(href="docs/screenWithGallery") Combination
      tr
        td
          a(href="docs/localeselector") Localization
      tr
        td
          a(href="docs/progressivebutton") Progressive Button
