doctype html
html
  head
    meta(charset="ISO-8859-1")
    meta(name="robots", content="noindex")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title Pattern Library
  body
    h1 Pattern Library
    h3 Walcron
    table
      tr
        td
          a(href="docs/font_colors.html") Define Fonts &amp; Colors
      tr
        td
          a(href="docs/header.html") Header
      tr
        td
          a(href="docs/mainscreen.html") Main Image and Logo
      tr
        td
          a(href="docs/post.html") Post it notes. Available with 2 functions.
      tr
        td
          a(href="docs/footer.html") Footer
      tr
        td
          a(href="docs/stickytitle.html") Sticky Title
      tr
        td
          a(href="docs/material.html") Material Designs Library
      tr
        td
          a(href="docs/metitle.html") Me Title
      tr
        td
          a(href="docs/gallery.html") Gallery
          span |
          a(href="docs/screenWithGallery.html") Combination
      tr
        td
          a(href="docs/localeselector.html") Localization
