<!DOCTYPE html>
html
  head
    meta(charset="ISO-8859-1")
    meta(name="robots", content="noindex")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title This is a movie
    include ./incl/header.incl
  body
    h1 Pattern Library
    h3 Walcron
    table
      tr
        td
          a(href="subs/toplanding.html") Landing page - top
      tr
        td
          a(href="subs/splashscreen.html") Splash Screen
      tr 
        td
          a(href="subs/colors.html") Colors
      tr
        td
          a(href="subs/list.html") List
      tr
        td
          a(href="subs/sections.html") Sections
      tr
        td
          a(href="subs/button.html") Buttons
      tr
        td
          a(href="subs/menu.html") Menu
      tr
        td
          a(href="subs/shapes.html") Shapes
      tr
        td
          a(href="subs/sprites.html") Sprites
      tr
        td
          a(href="subs/plates.html") Plates
    include ./incl/footer.incl
