.command-container {
  display: flex;
  font-size: 0.8rem;
  position: relative;
  top: 1.5rem;
  width: 260px;
}
.promptIn {
  visibility: hidden;
}
.command-text-prompt {
  width: 5rem;
  height: 2.2rem;
  display: flex;
  position: absolute;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  color: var(--link);
  font-family: Inconsolata;
}
.command-enter {
  position: absolute;
  height: 2.2rem;
  right: 3px;
  transition-property: color, background;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  color: var(--link);
  border: none;
  background: none;
  font-size: 0.8rem;
  user-select: none;
  cursor: pointer;
}
.command-enter:hover {
  color: var(--link-bg);
  background: var(--link);
}
.command-enter:active {
  margin: 1px 0 0 1px;
}
.command-container :global(.react-autosuggest__input) {
  font-family: Inconsolata;
  background-color: transparent;
  width: 150px;
  border: 1px solid var(--link);
  margin: 0;
  display: block;
  min-width: 0;
  font-size: 0.8rem;
  box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;
  padding: 0.5rem 2rem 0.5rem 5rem;
  border-radius: 0.3rem;
  height: 1.1rem;
  color: var(--link);
  text-shadow: 0 0 0 #ebebeb;
}
.command-container :global(.react-autosuggest__input:focus) {
  outline: none;
}
.command-container :global(.react-autosuggest__input--focused) {
  outline: none;
}

.command-container :global(.react-autosuggest__suggestions-container--open) {
  border: 1px solid #aaa;
  font-family: Inconsolata;
  color: var(--link);
  background: var(--link-bg);
  font-size: 0.7rem;
  z-index: 2;
  margin-top: 2px;
  margin-left: 5rem;
  text-align: left;
  padding: 0 4px;
}

.command-container :global(.react-autosuggest__suggestions-list) {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.command-container :global(.react-autosuggest__suggestion) {
  cursor: pointer;
}

.command-container :global(.react-autosuggest__suggestion--highlighted) {
  background-color: #ddd;
  color: #000;
}
