form{
	margin:0px 30px;
	padding:0px 30px;
}

.cal-show-hide {
  padding:10px;
  -webkit-transition:all linear 0.1s;
  transition:all linear 0.1s;
}

.cal-show-hide.ng-hide {
  opacity:0;
}

li{
	display: list-item;
	font-family: 'Rock Salt', cursive;
	font-size: 18pt;
	padding:2px;
	zoom: 1;
}
ul{
	list-style-type: none;
	display: block;
	margin:0px;
	padding:0px;
}
.listing {
	height: 180px; 
	width: 180px;
	overflow: auto;"
}
.form-group:nth-child(even){
   	background-color: #e7e7e7;
}
.alternate:nth-child(odd){
	background-color: #878787;
}
.alternate:nth-child(even){
	background-color: #fefefe;
}
.bs-callout {
	padding: 5px;
	margin: 5px;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-left-color: #d9534f;
	border-radius: 3px;
	background-color: #fff;
}
.bs-callout-danger span {
	color: #d9534f;
}
.withborder{
	border:1px solid #000;
	margin-bottom: 2px;
}
input.submitted.ng-invalid,
input.ng-invalid-number,
input.ng-invalid-pattern,
input.ng-invalid-min,
input.ng-invalid-max,
textarea.submitted.ng-invalid
{
  border:2px solid #f00;
}
.form-group{
	padding-top:10px;
	padding-bottom:10px;
}
table.chg { 
   border-spacing: 10px;
   border-collapse: separate;
}
.accordion-toggle>.ng-binding {
	font-weight: bold;
}
.panel-default>.panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #dfd;
}
.btn-lg{
	margin: 0px 10px;
}