body{
	margin:10px;
	padding:10px;
	background-color:#333;
}
.viewDisplay{
    background-color:#fff;
    padding-left: 15px;
    padding-right: 15px
}
.form-horizontal .form-group {
	margin-right: 5px;
	margin-left: 5px;
}
.nav-tabs>li.active>a{
	font-weight: bold;
}
.info{
	font-size: 12pt;
	margin:0px 10px;
	padding:15px;
	border-radius:3px;
	background-color: #ddd;
	align:center;
}
.imgIcon{
	max-height:50px;
	max-width:50px;
}
.imgIcon_h{
	width:70px;
}
.img_wrapper{
    height: 50px;
    width: 50px;
}

.img_wrapper img{
    position: relative;
    opacity: 0;
  
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
}

.img_wrapper.loaded img{
    opacity: 1;
}

.img_wrapper.loaded .css_spinner{
    display: none;
}

.css_spinner{
	position:absolute;
	background-image: url("/cache/css/images/loading.gif");
	background-size:50px 50px;
	height: 50px;
    width: 50px;
}