.container {
  display: flex;
  color: var(--link);
  padding: 2rem 0;
}
.container div {
  color: var(--link);
  cursor: pointer;
}
.navmenu-link {
  padding-left: 10px;
  padding-top: 0.5rem;
  text-decoration: none;
  color: var(--link);
}
