.tab-container {
  position: relative;
  height: 48px;
  width: 100%;
  border: none;
  margin: 0;
  z-index: 2;
  flex-shrink: 0;
  overflow: hidden;

  .tab-bar {
    height: 96px;
    margin: 0;
    display: flex;
    background-color: $theme-background-darker;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 0;

    .tab {
      @include text-resize($fontsize-tab);
      color: $theme-text-foreground-unchecked;
      padding: 0 12px;
      margin: 0;
      border: none;
      float: left;
      position: relative;
      display: block;
      flex-grow: 0;
      flex-shrink: 0;
      text-decoration: none;
      height: 48px;
      line-height: 48px;
      text-align: center;
      font-weight: 500;
      text-transform: uppercase;
      overflow: hidden;

      &:hover {
        cursor: pointer;
      }

      &.is-active {
        color: $theme-text-foreground;

        &:after {
          height: 2px;
          width: 100%;
          display: block;
          content: '';
          bottom: 0;
          left: 0;
          position: absolute;
          background: $theme-text-foreground-selected;
        }
      }
    }
  }
}
