$input-text-font-size: $fontsize-focus !default;
$input-text-width: 100% !default;
$input-text-padding: 4px !default;
$input-text-vertical-spacing: 20px !default;
$input-text-button-size: 32px !default;
$input-text-floating-label-fontsize: ($fontsize-focus - 4pt) !default;
$input-text-expandable-icon-top: $fontsize-focus !default;

$input-text-background-color: transparent !default;
$input-text-label-color: $theme-foreground-text-disabled-transparent !default;
$input-text-bottom-border-color: $theme-foreground-text-disabled-transparent !default;
$input-text-highlight-color: $background-blue !default;
$input-text-disabled-color: $input-text-bottom-border-color !default;
$input-text-disabled-text-color: $input-text-label-color !default;
$input-text-error-color: $theme-foreground-text-error !default;

$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$animation-curve-default: $animation-curve-fast-out-slow-in !default;

$duration: 0.2s;

.textfield {
  position: relative;
  font-size: $input-text-font-size;
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: $input-text-vertical-spacing 0;

  // Align buttons, if used.
  & .button {
    position: absolute;
    bottom: $input-text-vertical-spacing;
  }
}

// Optional class to align right.
.textfield-align-right {
  text-align: right;
}

// Optional class to display at full width.
.textfield-full-width {
  width: 100%;
}

// Optional class to make the text field expandable.
.textfield-expandable {
  min-width: $input-text-button-size;
  width: auto;
  min-height: $input-text-button-size;
}

// Styling for the input element.
.textfield-input {
  border: none;
  border-bottom: 1px solid $input-text-bottom-border-color;
  display: block;
  @include text-resize($fontsize-base);
  margin: 0;
  padding: $input-text-padding 0;
  width: $input-text-width;
  background: none;
  text-align: left;
  color: inherit;

  &[type="number"] {
    -moz-appearance: textfield;
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .textfield.is-focused & {
    outline: none;
  }

  .textfield.is-invalid & {
    border-color: $input-text-error-color;
    box-shadow: none;
  }

  fieldset[disabled] .textfield &,
  .textfield.is-disabled & {
    background-color: transparent;
    border-bottom: 1px dotted $input-text-disabled-color;
    color: $input-text-disabled-text-color;
  }
}

.textfield textarea.textfield-input {
  display: block;
}

// Styling for the label / floating label.
.textfield-label {
  bottom: 0;
  color: $input-text-label-color;
  font-size: $input-text-font-size;
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
  display: block;
  top: ($input-text-padding + $input-text-vertical-spacing);
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;

  .textfield.is-dirty & {
    visibility: hidden;
  }

  // Floating Label
  .textfield-floating-label & {
    transition-duration: $duration;
    transition-timing-function: $animation-curve-default;
  }

  fieldset[disabled] .textfield &,
  .textfield.is-disabled.is-disabled & {
    color: $input-text-disabled-text-color;
  }

  .textfield-floating-label.is-focused &,
  .textfield-floating-label.is-dirty & {
    color: $input-text-highlight-color;
    font-size : $input-text-floating-label-fontsize;
    top: $input-text-vertical-spacing - ($input-text-floating-label-fontsize + $input-text-padding);
    visibility: visible;
  }

  .textfield-floating-label.is-focused .textfield-expandable-holder &,
  .textfield-floating-label.is-dirty .textfield-expandable-holder &{
    top: -($input-text-floating-label-fontsize + $input-text-padding);
  }

  .textfield-floating-label.is-invalid & {
    color: $input-text-error-color;
    font-size: $input-text-floating-label-fontsize;
  }

  // The after label is the colored underline for the TextField.
  &:after {
    background-color: $input-text-highlight-color;
    bottom: $input-text-vertical-spacing;
    content: '';
    height: 2px;
    left: 45%;
    position: absolute;
    transition-duration: $duration;
    transition-timing-function: $animation-curve-default;
    visibility: hidden;
    width: 10px;
  }

  .textfield.is-focused &:after {
    left: 0;
    visibility: visible;
    width: 100%;
  }

  .textfield.is-invalid &:after {
    background-color: $input-text-error-color;
  }
}

// TextField Error.
.textfield-error {
  color: $input-text-error-color;
  position: absolute;
  font-size: $input-text-floating-label-fontsize;
  margin-top: 3px;
  visibility: hidden;
  display: block;

  .textfield.is-invalid & {
    visibility: visible;
  }
}

// Expandable Holder.
.textfield-expandable-holder {
  display: inline-block;
  position: relative;
  margin-left: $input-text-button-size;

  transition-duration: $duration;
  transition-timing-function: $animation-curve-default;
  display: inline-block;

  max-width: 0.1px;

  .textfield.is-focused &, .textfield.is-dirty & {
    // This is an unfortunate hack. Animating between widths in percent (%)
    // in many browsers (Chrome, Firefox) only animates the inner visual style
    // of the input - the outer bounding box still 'jumps'.
    // Thus assume a sensible maximum, and animate to/from that value.
    max-width: 600px;
  }
  .textfield-label:after {
    bottom: 0;
  }
}
