doctype html
html#top(lang='en')
  head
    meta(charset='ISO-8859-1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='robots', content='noindex')
    title Email Invalid
    link(rel='stylesheet', href='/cache/css/bootstrap/css/bootstrap.min.css')
    style.
      html, body {
      height: 100%;
      margin: 0px;
      }
      .Absolute-Center {
      margin: 0px 50px;
      position: absolute;
      top: 20%; left: 0; bottom: 40%; right: 0;
      }
      .jumbotron{
      text-align:center;
      }
      h1{
      font-weight:bold;
      }
  body
    .Absolute-Center
      .jumbotron
        h1 Email Invalid!
        .alert.alert-danger
          h3 Your email cannot be verified.
        div(style='text-align:left')
          | To troubleshoot your issue:
          ul
            li Your email has already been validated.
            li
              | Re-validate your email in the
              strong Settings
              |  pages.
            li Check your latest email, which may contain the latest email verification.
            li
              | You are always welcomed to contact us via
              a(href='mailto:mailyoonghan@gmail.com') mailyoonghan@gmail.com
              |  and contact us with your problem.
      div(style='text-align:center;')
        a(href='/site/selfservice/booking/calendar')
          input#btnReturn.btn.btn-lg.btn-primary(type='button', value='Return')
      br
      br
