doctype html
html#top(lang='en')
  head
    meta(charset='ISO-8859-1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='robots', content='noindex')
    title Email Valid
    link(rel='stylesheet', href='/cache/css/bootstrap/css/bootstrap.min.css')
    style.
      html, body {
      height: 100%;
      margin: 0px;
      }
      .Absolute-Center {
      margin: 0px 50px;
      position: absolute;
      top: 20%; left: 0; bottom: 40%; right: 0;
      }
      .jumbotron{
      text-align:center;
      }
      h1{
      font-weight:bold;
      }
  body
    .Absolute-Center
      .jumbotron
        h1 Email Valid!
        h3
          | Your email has been validated. You will now receive notification from 
          strong Walcron Coorporate &copy;
          |  service via email.
        | .
      div(style='text-align:center;')
        a(href='/site/selfservice/booking/calendar')
          input#btnReturn.btn.btn-lg.btn-primary(type='button', value='Return')
      br
      br
