doctype html
html
  head
    title Walcron Calendar 
    meta(name='description', content='Readme') 
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(charset='utf-8')
    style.
      .exitBtn{
      margin-top:2px;
      font-size:20pt;
      background-color:rgb(30, 100, 35); 
      border-radius:8px;
      border:#000 1px solid;
      color:#FFF;
      padding:10px;
      box-shadow:#444 5px 5px 3px;
      }
      .exitBtn:hover {
      background-color: rgb(23, 93, 28);
      box-shadow:#444 4px 4px 2px;
      cursor:hand;
      }
  body
    article
      section
        h1 CALENDAR ORGANIER
        h6
          | Created by Walcron ©
        h3 Swipe or press the → arrow key
      section
        h1.bullet Login
        ul
          li
            | Create a login for 
            a(href='http://gmail.google.com') Gmail
            |  or 
            a(href='http://facebook.com') Facebook
            | .
          li Login to Walcron via http://login.walcron.com.
          li Allow Walcron to validate and connect to your account.
      section
        h1.bullet Example
        ul
          li Choose your login preference
        img(src='/cache/images/img_choose.png')
      section
        h1.bullet Allow Access
        ul
          li
            | Do allow us to connect with your account. Your confidentiality will be kept private.
        img(src='/cache/images/branding/login/g_approval.png')
      section
        h1.bullet Successful Login
        ul
          li For a first time users we will require you to register with our website.
          li After successful entries, you will be able to use the website.
      section
        h1.bullet Benefits ?
      section
        h1.bullet As User
        ul
          li Register to events organized by our organizers.
          li Get email notifications before the due date.
          li Check your availability vs organized event.
      section
        h1.bullet As Organizer
        ul
          li Manage participants of your events.
          li Allow confirmation of your participants.
      section
        h1.bullet
          | Enjoy 
          span.bullet :)
        h3
          | You can close this window directly
        a.exitBtn(href='javascript:window.close()') EXIT
    script(src='/cache/public/js/bespoke/build.js')
