md-bottom-sheet.md-grid.md-primary
  md-list
    md-item(ng-repeat='item in items')
      md-button#btnSettings.md-grid-item-content(aria-label='{{item.name}}', ng-click='listItemClick(item.loc)')
        .md-icon-container
          span.glyphicon(class='{{item.icon}}')
        p.md-grid-text  {{ item.name }} 
