<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="robots" content="noindex">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Settings</title>

<link href="/cache/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/cache/css/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/cache/css/selfservice/common.css" rel="stylesheet">
<link rel="stylesheet" href="/cache/css/selfservice/tutorial/common.css" />
<link href="/cache/css/selfservice/setting.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="loaderCtrl" role="document">
	<div class="viewDisplay container-fluid">
		<h1><a href="" ng-click="cancel()"><span class="glyphicon glyphicon-arrow-left"></span> Settings</a></h1>
		<div class="jumbotron" ng-show="tutorialRun" ng-cloak>
			<span><h2 class="tutorialH2">TUTORIAL</h2>
				<p ng-bind-html="tutorialMsg">
				</p>
				<input id="tutBtnPrv" type="button" value="&laquo;" ng-click="tutorialChgMessage(-1)" class="btn btn-default" ng-disabled="tut_first">
				<input id="tutBtnNxt" type="button" value="&raquo;" ng-click="tutorialChgMessage(1)" class="btn btn-default" ng-disabled="tut_last">
			</span>
		</div>
		
		<ul class="nav nav-pills">
		  <li role="presentation" ng-class="{'active':a_nav===undefined||a_nav==='s'}"><a href="#notify/subscription" ng-click="a_nav='s'" id="lnk_subscription" >Subscription</a></li>
		  <li role="presentation" ng-class="{'active':a_nav==='r'}"><a href="#notify/reminder" ng-click="a_nav='r'" id="lnk_reminder" >Reminder</a></li>
		  <li role="presentation" ng-class="{'active':a_nav==='p'}"><a href="#notify/profile/1" ng-click="a_nav='p'" id="lnk_profile">Profile</a></li>
		</ul>
	<div ng-view>
	</div>
	
	</div>
	
</body>
<script src="/cache/js/selfservice/global_var.js"></script>
<script src="/cache/js/selfservice/cookiereader.js"></script>
<script src="/cache/js/selfservice/auth_common.js"></script>
<script data-main="/cache/js/apploader/setting/main" src="/cache/js/lib/requirejs/require.js"></script>
</html>