<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>First timer - Signing up</title>

<link href="/cache/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/cache/css/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

<link href="/cache/css/selfservice/common.css" rel="stylesheet">
</head>
<body ng-app="profileApp" role="document">

<!-- Greetings -->
<div class="container theme-showcase" role="main"  ng-controller="profileController">
<div class="jumbotron">
<h3>Hello <strong>{{fstName}} {{lstName}},</strong></h3>

<p>
Welcome and thank you for registering with JOM Jaring. 
As a first timer, please spend some time with us to fill up your necessary information. 
We would like to thank you for trusting in us; we from JOM Jaring will always be looking forward to serve you better.
<br><br>
<strong>Notice:</strong> All datas of yours will be treated with confidentiality; only to be shared with your consensus.
</p>

</div>

<div class="alert alert-danger" ng-show="errors" role="alert">
<strong>Oh Snap, </strong> please check if there's something unconfigured:
<ul ng-repeat="error in errors">
	<li>{{error}}</li>
</ul>
</div>
<!-- Input form for user -->


	<form ng-submit="processForm()" name="profile">

<table class="table table-striped">
<!-- First Name -->
<tbody>
<tr>
<td>
		<label for="fstName" class="required">First Name:</label>
</td>
<td>
		<input name="fstName" type="text" ng-model="fstName" required ngMaxlength="30">
		<span class="alert alert-danger alertmsg" ng-show="profile.fstName.$error.required">Required!</span>
</td>
</tr>		
<!-- Middle Name -->
<tr>
<td>	
		<label for="midName">Middle Name:</label>
</td>
<td>
		<input name="midName" type="text" ng-model="midName" ngMaxlength="30">
</td>
</tr>
<!-- Last Name -->
<tr>
<td>		
		<label for="lstName" class="required">Last Name:</label>
</td>
<td>
		<input name="lstName" type="text" ng-model="lstName" required ngMaxlength="30">
		<span class="alert alertmsg alert-danger" ng-show="profile.lstName.$error.required">Required!</span>
</td>
</tr>
<!-- Gender -->
<tr>
<td>
		<label for="gender" class="required">Gender:</label>
</td>
<td>
		<div>
		<input type="radio" ng-model="gender" value="M"> Male &nbsp;
		<input type="radio" ng-model="gender" value="F"> Female &nbsp;
		<input type="radio" ng-model="gender" value="O"> Not to be specified
		</div>
</td>
</tr>
<!-- Contact No -->
<tr>
<td>
		<label for="ctcNo">Contact No:</label>
</td>
<td>
		<input name="ctcNo" type="text" ng-model="ctcNo" placeholder="e.g. +60123456789" ng-pattern="number" ng-maxlength="13">
		<span class="alert alertmsg alert-danger" ng-show="profile.ctcNo.$error.maxlength">Maximum only 13 numbers</span>
		<span class="alert alertmsg alert-danger" ng-show="profile.ctcNo.$error.pattern">Only +012345678 or 0123456 numbers allowed</span>
</td>
</tr>
<!-- Country -->
<tr>
<td>
		<label for="cntry" class="required">Country</label>
</td>
<td>
		<select name="cntry" ng-model="cntry" required>
      		<option value="MY">Malaysia</option>
    	</select>
</td>
</tr>
<!-- State [Hard coded reason being it's never changed]-->
<tr>
<td>
		<label for="state" class="required">State</label>
</td>
<td>
		<select name="state" ng-model="state" required ng-options="stat.value for stat in states" autofocus>
			 <option value="">-- Choose a State --</option>
    	</select>

    	<span class="alert alertmsg alert-danger" ng-show="profile.state.$error.required">Required!</span>
</td>
</tr>
<tr>
<td colspan="2" align="center">    	
    <input type="submit" value="Submit" id="submit" class="btn btn-lg btn-success" ng-disabled="flag">
</td>
</tr>
</tbody>
</table>
</form>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Thank you for registering with us!</h3>
        </div>
        <div class="modal-body">
            Your registration has been completed. You can now proceed to the site.
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>
    
</div>

</body>

<script src="/cache/js/jquery.min.js"></script>
<script src="/cache/js/angular/angular.min.js"></script>
<script src="/cache/js/angular/angular-sanitize.min.js"></script>
<script src="/cache/js/selfservice/profilecontroller.js"></script>
<script src="/cache/js/angular/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
</html>