@import "var.css";
@import "react-toggle.css";
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Roboto:50&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial;
  min-width: 320px;
  scroll-behavior: smooth;
  font-size: 12pt;
}

a {
  text-decoration: none;
}

p {
  text-align: justify;
}

.text-align-left {
  text-align: left;
}

.pb-5 {
  padding-bottom: 5rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

table {
  border-spacing: 0;
}

tbody td,
tbody th {
  border-top: var(--table-border);
}
td:first-child {
  padding-right: 10px;
}
tr:nth-child(even) {
  background-color: var(--table-even-bg);
}
tr:hover {
  background-color: var(--table-even-bg);
}

h1 {
  margin-top: 0.5rem;
  color: var(--header-1);
  margin-left: 0.5rem;
}

hr {
  width: 50%;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

p,
.p-padding {
  padding: 10px 30px;
}

p.px-0,
.px-0 {
  padding-left: 0;
  padding-right: 0;
}

h2 {
  text-align: center;
}

span.strikethrough {
  text-decoration: line-through;
  opacity: 0.5;
}

.footer {
  color: var(--text);
}

.title {
  color: var(--header-title);
}

.center {
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  vertical-align: center;
}

video::-webkit-media-controls {
  display: none !important;
}

.page-aligned-container {
  margin: auto;
  max-width: 1024px;
  padding: 0 1rem;
}

.page-container {
  width: 100%;
}

ul.u-list {
  list-style: none;
  margin: 0;
  padding-left: 1rem;
}

.border-b {
  border-bottom: 1px solid var(--border-color);
}

pre.code {
  overflow: scroll;
  max-width: 100%;
  color: var(--code);
  background: var(--code-bg);
  padding: 1rem 2rem;
}
