@import "var.css";
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Roboto:50&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial;
}

a {
  text-decoration: none;
}

p {
  text-align: justify;
}

.text-align-left {
  text-align: left;
}

.pb-5 {
  padding-bottom: 5rem;
}

table {
  border-spacing: 0;
}

tbody td,
tbody th {
  border-top: var(--table-border);
}
td:first-child {
  padding-right: 10px;
}
tr:nth-child(even) {
  background-color: var(--table-even-bg);
}
tr:hover {
  background-color: var(--table-even-bg);
}

h1 {
  margin-top: 0;
  color: var(--header-1);
  margin-left: 0.5rem;
}

hr {
  width: 50%;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

p,
.p-padding {
  padding: 10px 30px;
}

h2 {
  text-align: center;
}

span.strikethrough {
  text-decoration: line-through;
  opacity: 0.5;
}

.footer {
  color: var(--text);
}

.title {
  color: var(--header-title);
}

.center {
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  vertical-align: center;
}

video::-webkit-media-controls {
  display: none !important;
}

.page-aligned-container {
  margin: auto;
  max-width: 640px;
}
