:root {
  --text: #ffffff;
  --logo: rgb(255, 132, 0);
  --link: #195794;
  --dialog-text: #fff;

  --button: #fff;
  --button-bg: #195794; 
  --button-blue: #fff;
  --button-blue-bg: #206db9;
  --button-orange: #222;
  --button-orange-bg: rgb(255, 132, 0);
  --button-grey: #206db9;
  --button-grey-bg: rgb(200, 200, 200);
  --button-bg-disabled: #999;
  --button-disabled: rgba(66, 66, 66);

  --border-color: rgba(66, 66, 66);
  --table-header: #fff;
  --table-header-bg: #343a40;
  --table-header-border: #454d55;
  --table: #000;
  --table-bg: #fff;
  --table-border: 1px solid #dee2e6;
  --table-hover: #e9e9e9;
  --table-even-bg: #d9d9d9;
  --shadow: grey;
  --z-index-modal: 200;
  --z-index-modal-content: 201;
  --z-index-page-reader: 100;
  --code: #029f02;
  --code-bg: #000;
  --title-bar: #fff;
  --title-bar-bg: #0053be;
  --menu-bg: #ffffff;

  --alert-color: #721c24;
  --alert-bg-color: #f8d7da;
  --alert-border-color: #f5c6cb;

  --page-dark: #343233;
  --page-light: #ffffff;

  --primary-color-text: #000;
  --primary-color: #3993dd;
  --primary-700: #fff;

  --menu-color: #fff;
  --menu-color-text: var(--link);

  --minimenu-color: #fff;
  --minimenu-color-text: #034192;

  --footer-color: #343233;
  --footer-color-text: #fff;

  --scrolltop-color: #504c4e;
  --scrolltop-color-text: #fff;
}
