:root {
  --text: #ffffff;
  --logo: rgb(255, 132, 0);
  --link: #0826ce;
  --link-light: #206db9;
  --dialog-text: #fff;
  --button: #206db9;
  --button-bg: #fff;
  --button-blue: #fff;
  --button-blue-bg: #206db9;
  --button-orange: #222;
  --button-orange-bg: rgb(255, 132, 0);
  --button-grey: #206db9;
  --button-grey-bg: rgb(200, 200, 200);
  --border-color: rgba(66, 66, 66);
  --table-header: #fff;
  --table-header-bg: #343a40;
  --table-header-border: #454d55;
  --table: #000;
  --table-bg: #fff;
  --table-border: 1px solid #dee2e6;
  --table-hover: #e9e9e9;
  --table-even-bg: #d9d9d9;
  --shadow: grey;
  --header-1: #000;
  --header-title: #efdab9;
  --z-index-modal: 200;
  --z-index-modal-content: 201;
  --z-index-page-reader: 100;
  --code: #029f02;
  --code-bg: #000;
  --title-bar: #fff;
  --title-bar-bg: #0053be;
}
