.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 2rem;
}

.container div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container div:nth-child(1) {
  align-items: flex-end;
  justify-content: flex-end;
}

.container div:nth-child(3) {
  align-items: flex-end;
  justify-content: flex-start;
}

.container div:nth-child(7) {
  align-items: flex-start;
  justify-content: flex-end;
}

.container div:nth-child(9) {
  align-items: flex-start;
  justify-content: flex-start;
}

.container .circle {
  width: 150px;
  height: 150px;
  border: 6px solid var(--button-orange-bg);
  border-radius: 50%;
  position: relative;
  top: -25%;
  left: -25%;
}
.container .circle::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: #fff;
  position: absolute;
  bottom: 0;
  top: 0;
  right: -10px;
  margin: auto;
}
.container .circle::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid var(--button-orange-bg);
  position: absolute;
  bottom: 70px;
  right: -16px;
  transform: rotate(356deg);
}
