.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 2rem;
}

.container div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container div:nth-child(1) {
  align-items: flex-end;
  justify-content: flex-end;
}

.container div:nth-child(3) {
  align-items: flex-end;
  justify-content: flex-start;
}

.container div:nth-child(7) {
  align-items: flex-start;
  justify-content: flex-end;
}

.container div:nth-child(9) {
  align-items: flex-start;
  justify-content: flex-start;
}

.container div.circle {
  border: 5px dashed;
  border-radius: 50%;
}
