<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=320")
    meta(name="description", content="Walcron creators and about us profile")
    title About Us
    include ../../../incl/header.incl 
  body(class="wal about-layer")
    include ../../../incl/breadcrumb.incl 
    div(class="slides slide1")
      div(class="content")
        h2(class="quotes bottom") "There's a story behind every person. This is ours."
    div(class="slides slide2")
      div(class="content table")
        div(id="row")
          div(id="cell")
            img(src="/images/han.jpg" class="profile-pic left")
            h2 Yoong Han
            h3.
              Came with an idea to start JOM Jaring after reading an inspiring book; titled, "The Monk Who Sold His Ferrari". He has decided
              to take charge of his life rather than relying only on his job to make a living.
              The site was named as Walcron to represent Whale (in German) and time. 
              He had spend most of his lifeline in Java. <br><br>
              He's in charge of the architecture and technology of this website.<br><br>
              Han's hobby varies from photography to outdoor hiking; which he believes out there, are many who shared the same interest as well.

    div(class="slides slide3")
      div(class="content table")
        div(id="row")
          div(id="cell")
            img(src="/images/gladys.jpg" class="profile-pic right")
            h2 Gladys Tai
            h3.
              She's the heart and soul of the project. She's a young and talented web programmer. Well, it's difficult to find a lady programmer, any day, any time.
              She's an experienced front-end designer and coder.<br><br>
              She is the approver of the web page design and layouts.<br><br>
              "Beauty is to an eye of the believer." Gladys is the inspiration to Han and that's how it all begin.
              
    div(class="slides slide4")
      div(class="content")
        h2 Our Vision
        h3 The Walcron website was an idea invented by the both of us. Internet has continuously grown and started to evolve rapidly in our era. Hence to take this opportunity, we are experimenting and are pushing ourselves to use new and advance technologies.
        h3(class="quotes") "Here is the playground for us to create a pavement to improve ourselves."
        
    div(class="slides slide5")
      div(class="content")
        div(class="quotes_container")
          h1 Interested with us?
          h3 If you are interested to contact us, either for the development, progress, advice, photos, freelance, etc. <br><br> You may contact to us via:&nbsp;
            a(id="contact" href="mailto:mailyoonghan@gmail.com") mailyoonghan@gmail.com
    div(class="screen-section footer")
      table
        tr
          th Site Map
        tr
          td
            ul
              li <a href="/html/main/about/">About Us</a>
              li <a href="/webby/webpage/blog/">Site Blog</a>
      table
        tr
          th Afflitates
        tr
          td
            ul
              li <a href="//login.walcron.com">Events</a>
              li <a href="//mezzanine.walcron.com">Blog</a>
              li <a href="mailto:mailyoonghan@gmail.com">Contact Us</a>
include ../../../incl/footer.incl 
<script data-main="/js/main/about" src="/public/js/requirejs/require.js"></script>
