mixin stylesheet(component)
  link(rel="stylesheet" type="text/css" href="/extw/"+component+".style.css")
  link(rel="stylesheet" type="text/css" href="/ext/css/font-awesome.css")
mixin script(component)
  script(src='http://localhost:8080/ext/js/react.development.js')
  script(src='http://localhost:8080/ext/js/react-dom.development.js')
  script(src='http://localhost:8080/ext/js/react-transition-group.js')
  script(src="/extw/"+component+".bundle.js")
